.element-images {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 20px;
  position: relative;
}

.element-images .frame-15 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.element-images .rectangle-5 {
  object-fit: cover;
  position: relative;
}

.element-images .rectangle-6 {
  object-fit: cover;
  position: relative;
}

.element-images .frame-16 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 36px;
  padding: 0px 0px 0px 475px;
  position: relative;
}

.element-images .rectangle-7 {
  height: 786px;
  object-fit: cover;
  position: relative;
  width: 689.5px;
}

.element-images.resolution-41-desktop {
  width: 1920px;
}

.element-images.carrousel-false {
  padding: 0px 30px 0px 0px;
}

.element-images.carrousel-true {
  gap: 60px;
  overflow: hidden;
}

.element-images.resolution-41-mobile {
  top: 1852px;
  width: 375px;
}

.element-images.carrousel-true.resolution-41-desktop {
  top: 20px;
}

.element-images.resolution-41-desktop.carrousel-false {
  top: 934px;
}

.element-images.resolution-41-desktop .frame-15 {
  gap: 80px;
  margin-right: -207px;
  padding: 0px 0px 0px 475px;
}

.element-images.resolution-41-mobile .frame-15 {
  gap: 20.44px;
  margin-right: -180.32px;
  padding: 0px 20.44px;
}

.element-images.resolution-41-desktop .rectangle-5 {
  height: 786px;
  width: 786px;
}

.element-images.resolution-41-mobile .rectangle-5 {
  height: 247px;
  width: 247px;
}

.element-images.resolution-41-desktop .rectangle-6 {
  height: 786px;
  width: 786px;
}

.element-images.resolution-41-mobile .rectangle-6 {
  height: 247px;
  width: 247px;
}
