.element-images {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-images .frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.element-images .rectangle-5 {
  object-fit: cover;
  position: relative;
}

.element-images .rectangle-6 {
  object-fit: cover;
  position: relative;
}

.element-images .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 36px;
  padding: 0px 0px 0px 475px;
  position: relative;
}

.element-images .rectangle-7 {
  height: 786px;
  object-fit: cover;
  position: relative;
  width: 689.5px;
}

.element-images.resolution-31-desktop {
  width: 1920px;
}

.element-images.carrousel-false {
  padding: 0px 30px 0px 0px;
}

.element-images.carrousel-true {
  gap: 60px;
  overflow: hidden;
}

.element-images.resolution-31-mobile {
  width: 375px;
}

.element-images.resolution-31-desktop .frame-13 {
  gap: 80px;
  margin-right: -207px;
  padding: 0px 0px 0px 475px;
}

.element-images.resolution-31-mobile .frame-13 {
  gap: 24px;
  margin-right: -277px;
  padding: 0px 24px;
}

.element-images.resolution-31-desktop .rectangle-5 {
  height: 786px;
  width: 786px;
}

.element-images.resolution-31-mobile .rectangle-5 {
  height: 290px;
  width: 290px;
}

.element-images.resolution-31-desktop .rectangle-6 {
  height: 786px;
  width: 786px;
}

.element-images.resolution-31-mobile .rectangle-6 {
  height: 290px;
  width: 290px;
}
