.block-of-text {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 24px;
}

.section-title {
  color: var(--white);
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  font-family: var(--h1-desktop-font-family);
  font-size: var(--h1-desktop-font-size);
  font-style: var(--h1-desktop-font-style);
  font-weight: var(--h1-desktop-font-weight);
  letter-spacing: var(--h1-desktop-letter-spacing);
  line-height: var(--h1-desktop-line-height);
}

.subtitle-wrapper {
  color: var(--white);
  font-family: var(--h6-desktop-font-family);
  font-size: var(--h6-desktop-font-size);
  font-style: var(--h6-desktop-font-style);
  font-weight: var(--h6-desktop-font-weight);
  letter-spacing: var(--h6-desktop-letter-spacing);
  line-height: var(--h6-desktop-line-height);
}

.block-of-text.two-lines .subtitle-wrapper {
  width: 1097px;
}

.block-of-text.no .subtitle-wrapper {
  width: fit-content;
}

.block-of-text.yes .subtitle-wrapper {
  white-space: nowrap;
  width: fit-content;
}

@media (max-width: 1440px) {
  .section-title {
    font-family: var(--h1-tablet-font-family);
    font-size: var(--h1-tablet-font-size);
    font-style: var(--h1-tablet-font-style);
    font-weight: var(--h1-tablet-font-weight);
    letter-spacing: var(--h1-tablet-letter-spacing);
    line-height: var(--h1-tablet-line-height);
  }

  .subtitle-wrapper {
    font-family: var(--h6-tablet-font-family);
    font-size: var(--h6-tablet-font-size);
    font-style: var(--h6-tablet-font-style);
    font-weight: var(--h6-tablet-font-weight);
    letter-spacing: var(--h6-tablet-letter-spacing);
    line-height: var(--h6-tablet-line-height);
  }
}

@media (max-width: 1025px) {
  .section-title {
    font-family: var(--h1-mobile-font-family);
    font-size: var(--h1-mobile-font-size);
    font-style: var(--h1-mobile-font-style);
    font-weight: var(--h1-mobile-font-weight);
    letter-spacing: var(--h1-mobile-letter-spacing);
    line-height: var(--h1-mobile-line-height);
  }

  .subtitle-wrapper {
    font-family: var(--h6-mobilev-font-family);
    font-size: var(--h6-mobilev-font-size);
    font-style: var(--h6-mobilev-font-style);
    font-weight: var(--h6-mobilev-font-weight);
    letter-spacing: var(--h6-mobilev-letter-spacing);
    line-height: var(--h6-mobilev-line-height);
  }
}