.subtitle-yes-caption-wrapper {
  align-items: flex-start;
  flex-direction: column;
  gap: 36px;
  position: relative;
}

.subtitle-yes-caption-wrapper .section-title-50 {
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.subtitle-yes-caption-wrapper .frame-38 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.subtitle-yes-caption-wrapper .section-title-51 {
  align-self: stretch;
  color: var(--black);
  margin-top: -1px;
  position: relative;
}

.subtitle-yes-caption-wrapper.caption-false {
  display: inline-flex;
}

.subtitle-yes-caption-wrapper.resolution-108-desktop.subtitle-1-true {
  top: 20px;
}

.subtitle-yes-caption-wrapper.subtitle-1-true.resolution-108-mobile {
  left: 3357px;
  top: 27px;
}

.subtitle-yes-caption-wrapper.subtitle-1-false.resolution-108-desktop {
  display: inline-flex;
}

.subtitle-yes-caption-wrapper.caption-true.resolution-108-mobile {
  display: flex;
  width: 375px;
}

.subtitle-yes-caption-wrapper.resolution-108-desktop.caption-true {
  top: 20px;
}

.subtitle-yes-caption-wrapper.subtitle-1-true.caption-true {
  display: flex;
}

.subtitle-yes-caption-wrapper.resolution-108-desktop.subtitle-1-true.caption-true {
  left: 20px;
  width: 464px;
}

.subtitle-yes-caption-wrapper.subtitle-1-false.caption-true.resolution-108-mobile {
  left: 2868px;
  top: 40px;
}

.subtitle-yes-caption-wrapper.subtitle-1-false.resolution-108-desktop.caption-true {
  left: 648px;
}

.subtitle-yes-caption-wrapper.subtitle-1-false.resolution-108-desktop.caption-false {
  left: 1830px;
  top: 34px;
}

.subtitle-yes-caption-wrapper.subtitle-1-false.caption-false.resolution-108-mobile {
  left: 2379px;
  top: 39px;
}

.subtitle-yes-caption-wrapper.resolution-108-desktop.subtitle-1-true.caption-false {
  left: 1276px;
}

.subtitle-yes-caption-wrapper.resolution-108-desktop .section-title-50 {
  font-family: var(--h5-desktop-font-family);
  font-size: var(--h5-desktop-font-size);
  font-style: var(--h5-desktop-font-style);
  font-weight: var(--h5-desktop-font-weight);
  letter-spacing: var(--h5-desktop-letter-spacing);
  line-height: var(--h5-desktop-line-height);
}

.subtitle-yes-caption-wrapper.caption-true .section-title-50 {
  color: var(--dark-blue);
}

.subtitle-yes-caption-wrapper.caption-false .section-title-50 {
  color: var(--black);
}

.subtitle-yes-caption-wrapper.resolution-108-mobile .section-title-50 {
  font-family: var(--h5-mobile-font-family);
  font-size: var(--h5-mobile-font-size);
  font-style: var(--h5-mobile-font-style);
  font-weight: var(--h5-mobile-font-weight);
  letter-spacing: var(--h5-mobile-letter-spacing);
  line-height: var(--h5-mobile-line-height);
}

.subtitle-yes-caption-wrapper.resolution-108-desktop .frame-38 {
  width: 447px;
}

.subtitle-yes-caption-wrapper.resolution-108-mobile .frame-38 {
  align-self: stretch;
  width: 100%;
}

.subtitle-yes-caption-wrapper.resolution-108-desktop .section-title-51 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
}

.subtitle-yes-caption-wrapper.resolution-108-mobile .section-title-51 {
  font-family: var(--caption-mobile-font-family);
  font-size: var(--caption-mobile-font-size);
  font-style: var(--caption-mobile-font-style);
  font-weight: var(--caption-mobile-font-weight);
  letter-spacing: var(--caption-mobile-letter-spacing);
  line-height: var(--caption-mobile-line-height);
}
