@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: rgba(0, 0, 0, 1);
  --blue: rgba(29, 103, 199, 1);
  --brick: rgba(232, 117, 81, 1);
  --dark-blue: rgba(10, 33, 91, 1);
  --dark-gray: rgba(75, 72, 72, 1);
  --gray: rgba(127, 122, 127, 1);
  --green: rgba(0, 110, 110, 1);
  --light-blue: rgba(148, 179, 239, 1);
  --lighter-blue: rgba(228, 238, 252, 1);
  --lighter-brick: rgba(243, 229, 224, 1);
  --lighter-green: rgba(224, 241, 240, 1);
  --lighter-grey: rgba(230, 226, 230, 1);
  --lighter-teal: rgba(223, 252, 244, 1);
  --neutrascinza: rgba(189, 189, 189, 1);
  --teal: rgba(173, 251, 232, 1);
  --white: rgba(255, 255, 255, 1);
  --body-text-desktop-bold-font-family: "Poppins", Helvetica;
  --body-text-desktop-bold-font-size: 21px;
  --body-text-desktop-bold-font-style: normal;
  --body-text-desktop-bold-font-weight: 700;
  --body-text-desktop-bold-letter-spacing: 0.84px;
  --body-text-desktop-bold-line-height: 170.00000476837158%;
  --body-text-desktop-font-family: "Poppins", Helvetica;
  --body-text-desktop-font-size: 21px;
  --body-text-desktop-font-style: normal;
  --body-text-desktop-font-weight: 400;
  --body-text-desktop-letter-spacing: 0.84px;
  --body-text-desktop-line-height: 170.00000476837158%;
  --body-text-mobile-bold-font-family: "Poppins", Helvetica;
  --body-text-mobile-bold-font-size: 18px;
  --body-text-mobile-bold-font-style: normal;
  --body-text-mobile-bold-font-weight: 700;
  --body-text-mobile-bold-letter-spacing: 0.72px;
  --body-text-mobile-bold-line-height: 170.00000476837158%;
  --body-text-mobile-font-family: "Poppins", Helvetica;
  --body-text-mobile-font-size: 15px;
  --body-text-mobile-font-style: normal;
  --body-text-mobile-font-weight: 400;
  --body-text-mobile-letter-spacing: 0.6px;
  --body-text-mobile-line-height: 170.00000476837158%;
  --body-text-tablet-font-family: "Poppins", Helvetica;
  --body-text-tablet-font-size: 18px;
  --body-text-tablet-font-style: normal;
  --body-text-tablet-font-weight: 400;
  --body-text-tablet-letter-spacing: 0.72px;
  --body-text-tablet-line-height: 170.00000476837158%;
  --caption-desktop-bold-font-family: "Poppins", Helvetica;
  --caption-desktop-bold-font-size: 19px;
  --caption-desktop-bold-font-style: normal;
  --caption-desktop-bold-font-weight: 700;
  --caption-desktop-bold-letter-spacing: 0.76px;
  --caption-desktop-bold-line-height: 135.0000023841858%;
  --caption-desktop-font-family: "Poppins", Helvetica;
  --caption-desktop-font-size: 19px;
  --caption-desktop-font-style: normal;
  --caption-desktop-font-weight: 400;
  --caption-desktop-letter-spacing: 0.76px;
  --caption-desktop-line-height: 135.0000023841858%;
  --caption-mobile-bold-font-family: "Poppins", Helvetica;
  --caption-mobile-bold-font-size: 14px;
  --caption-mobile-bold-font-style: normal;
  --caption-mobile-bold-font-weight: 700;
  --caption-mobile-bold-letter-spacing: 0.56px;
  --caption-mobile-bold-line-height: 135.0000023841858%;
  --caption-mobile-font-family: "Poppins", Helvetica;
  --caption-mobile-font-size: 14px;
  --caption-mobile-font-style: normal;
  --caption-mobile-font-weight: 400;
  --caption-mobile-letter-spacing: 0.56px;
  --caption-mobile-line-height: 135.0000023841858%;
  --caption-tablet-bold-font-family: "Poppins", Helvetica;
  --caption-tablet-bold-font-size: 16px;
  --caption-tablet-bold-font-style: normal;
  --caption-tablet-bold-font-weight: 700;
  --caption-tablet-bold-letter-spacing: 0.64px;
  --caption-tablet-bold-line-height: 135.0000023841858%;
  --caption-tablet-font-family: "Poppins", Helvetica;
  --caption-tablet-font-size: 16px;
  --caption-tablet-font-style: normal;
  --caption-tablet-font-weight: 400;
  --caption-tablet-letter-spacing: 0.64px;
  --caption-tablet-line-height: 135.0000023841858%;
  --h1-desktop-font-family: "Anton", Helvetica;
  --h1-desktop-font-size: 120px;
  --h1-desktop-font-style: normal;
  --h1-desktop-font-weight: 400;
  --h1-desktop-letter-spacing: 2.4px;
  --h1-desktop-line-height: 110.00000238418579%;
  --h1-mobile-font-family: "Anton", Helvetica;
  --h1-mobile-font-size: 60px;
  --h1-mobile-font-style: normal;
  --h1-mobile-font-weight: 400;
  --h1-mobile-letter-spacing: 1.2px;
  --h1-mobile-line-height: 110.00000238418579%;
  --h1-tablet-font-family: "Anton", Helvetica;
  --h1-tablet-font-size: 81px;
  --h1-tablet-font-style: normal;
  --h1-tablet-font-weight: 400;
  --h1-tablet-letter-spacing: 1.62px;
  --h1-tablet-line-height: 110.00000238418579%;
  --h2-desktop-font-family: "Anton", Helvetica;
  --h2-desktop-font-size: 66px;
  --h2-desktop-font-style: normal;
  --h2-desktop-font-weight: 400;
  --h2-desktop-letter-spacing: 3.3px;
  --h2-desktop-line-height: 110.00000238418579%;
  --h2-mobile-font-family: "Anton", Helvetica;
  --h2-mobile-font-size: 44px;
  --h2-mobile-font-style: normal;
  --h2-mobile-font-weight: 400;
  --h2-mobile-letter-spacing: 2.2px;
  --h2-mobile-line-height: 110.00000238418579%;
  --h2-tablet-font-family: "Anton", Helvetica;
  --h2-tablet-font-size: 55px;
  --h2-tablet-font-style: normal;
  --h2-tablet-font-weight: 400;
  --h2-tablet-letter-spacing: 2.75px;
  --h2-tablet-line-height: 110.00000238418579%;
  --h3-desktop-font-family: "Anton", Helvetica;
  --h3-desktop-font-size: 44px;
  --h3-desktop-font-style: normal;
  --h3-desktop-font-weight: 400;
  --h3-desktop-letter-spacing: 2.2px;
  --h3-desktop-line-height: 110.00000238418579%;
  --h3-mobile-font-family: "Anton", Helvetica;
  --h3-mobile-font-size: 30px;
  --h3-mobile-font-style: normal;
  --h3-mobile-font-weight: 400;
  --h3-mobile-letter-spacing: 1.5px;
  --h3-mobile-line-height: 110.00000238418579%;
  --h3-tablet-font-family: "Anton", Helvetica;
  --h3-tablet-font-size: 36px;
  --h3-tablet-font-style: normal;
  --h3-tablet-font-weight: 400;
  --h3-tablet-letter-spacing: 1.8px;
  --h3-tablet-line-height: 110.00000238418579%;
  --h4-desktop-font-family: "Anton", Helvetica;
  --h4-desktop-font-size: 41px;
  --h4-desktop-font-style: normal;
  --h4-desktop-font-weight: 400;
  --h4-desktop-letter-spacing: 2.05px;
  --h4-desktop-line-height: 110.00000238418579%;
  --h4-mobile-font-family: "Anton", Helvetica;
  --h4-mobile-font-size: 26px;
  --h4-mobile-font-style: normal;
  --h4-mobile-font-weight: 400;
  --h4-mobile-letter-spacing: 1.3px;
  --h4-mobile-line-height: 110.00000238418579%;
  --h5-all-caps-desktop-font-family: "Anton", Helvetica;
  --h5-all-caps-desktop-font-size: 28px;
  --h5-all-caps-desktop-font-style: normal;
  --h5-all-caps-desktop-font-weight: 400;
  --h5-all-caps-desktop-letter-spacing: 1.4px;
  --h5-all-caps-desktop-line-height: 110.00000238418579%;
  --h5-all-caps-mobile-font-family: "Anton", Helvetica;
  --h5-all-caps-mobile-font-size: 23px;
  --h5-all-caps-mobile-font-style: normal;
  --h5-all-caps-mobile-font-weight: 400;
  --h5-all-caps-mobile-letter-spacing: 1.15px;
  --h5-all-caps-mobile-line-height: 110.00000238418579%;
  --h5-all-caps-tablet-font-family: "Anton", Helvetica;
  --h5-all-caps-tablet-font-size: 28px;
  --h5-all-caps-tablet-font-style: normal;
  --h5-all-caps-tablet-font-weight: 400;
  --h5-all-caps-tablet-letter-spacing: 1.4px;
  --h5-all-caps-tablet-line-height: 110.00000238418579%;
  --h5-desktop-font-family: "Anton", Helvetica;
  --h5-desktop-font-size: 28px;
  --h5-desktop-font-style: normal;
  --h5-desktop-font-weight: 400;
  --h5-desktop-letter-spacing: 1.4px;
  --h5-desktop-line-height: 110.00000238418579%;
  --h5-mobile-bold-font-family: "Poppins", Helvetica;
  --h5-mobile-bold-font-size: 26px;
  --h5-mobile-bold-font-style: normal;
  --h5-mobile-bold-font-weight: 700;
  --h5-mobile-bold-letter-spacing: 1.04px;
  --h5-mobile-bold-line-height: 154.99999523162842%;
  --h5-mobile-font-family: "Anton", Helvetica;
  --h5-mobile-font-size: 23px;
  --h5-mobile-font-style: normal;
  --h5-mobile-font-weight: 400;
  --h5-mobile-letter-spacing: 1.15px;
  --h5-mobile-line-height: 110.00000238418579%;
  --h5-tablet-font-family: "Anton", Helvetica;
  --h5-tablet-font-size: 25px;
  --h5-tablet-font-style: normal;
  --h5-tablet-font-weight: 400;
  --h5-tablet-letter-spacing: 1.25px;
  --h5-tablet-line-height: 110.00000238418579%;
  --h6-desktop-font-family: "Poppins", Helvetica;
  --h6-desktop-font-size: 30px;
  --h6-desktop-font-style: normal;
  --h6-desktop-font-weight: 500;
  --h6-desktop-letter-spacing: 6px;
  --h6-desktop-line-height: 139.9999976158142%;
  --h6-mobilev-font-family: "Poppins", Helvetica;
  --h6-mobilev-font-size: 20px;
  --h6-mobilev-font-style: normal;
  --h6-mobilev-font-weight: 500;
  --h6-mobilev-letter-spacing: 4px;
  --h6-mobilev-line-height: 139.9999976158142%;
  --h6-tablet-font-family: "Poppins", Helvetica;
  --h6-tablet-font-size: 25px;
  --h6-tablet-font-style: normal;
  --h6-tablet-font-weight: 500;
  --h6-tablet-letter-spacing: 5px;
  --h6-tablet-line-height: 139.9999976158142%;
  --pull-quote-desktop-bold-font-family: "Poppins", Helvetica;
  --pull-quote-desktop-bold-font-size: 26px;
  --pull-quote-desktop-bold-font-style: normal;
  --pull-quote-desktop-bold-font-weight: 700;
  --pull-quote-desktop-bold-letter-spacing: 1.04px;
  --pull-quote-desktop-bold-line-height: 150%;
  --pull-quote-desktop-font-family: "Poppins", Helvetica;
  --pull-quote-desktop-font-size: 26px;
  --pull-quote-desktop-font-style: normal;
  --pull-quote-desktop-font-weight: 400;
  --pull-quote-desktop-letter-spacing: 1.04px;
  --pull-quote-desktop-line-height: 150%;
  --pull-quote-mobile-bold-font-family: "Poppins", Helvetica;
  --pull-quote-mobile-bold-font-size: 21px;
  --pull-quote-mobile-bold-font-style: normal;
  --pull-quote-mobile-bold-font-weight: 700;
  --pull-quote-mobile-bold-letter-spacing: 0.84px;
  --pull-quote-mobile-bold-line-height: 150%;
  --pull-quote-mobile-font-family: "Poppins", Helvetica;
  --pull-quote-mobile-font-size: 21px;
  --pull-quote-mobile-font-style: normal;
  --pull-quote-mobile-font-weight: 400;
  --pull-quote-mobile-letter-spacing: 0.84px;
  --pull-quote-mobile-line-height: 150%;
  --pull-quote-tablet-bold-font-family: "Poppins", Helvetica;
  --pull-quote-tablet-bold-font-size: 23px;
  --pull-quote-tablet-bold-font-style: normal;
  --pull-quote-tablet-bold-font-weight: 700;
  --pull-quote-tablet-bold-letter-spacing: 0.92px;
  --pull-quote-tablet-bold-line-height: 150%;
  --pull-quote-tablet-font-family: "Poppins", Helvetica;
  --pull-quote-tablet-font-size: 23px;
  --pull-quote-tablet-font-style: normal;
  --pull-quote-tablet-font-weight: 400;
  --pull-quote-tablet-letter-spacing: 0.92px;
  --pull-quote-tablet-line-height: 150%;
}