.stat {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.stat .section-title-5 {
  position: relative;
  white-space: nowrap;
}

.stat .section-title-6 {
  align-self: stretch;
  position: relative;
}

.stat.dark-blue {
  background-color: var(--dark-blue);
  left: 1616px;
}

.stat.white {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-blue);
  left: 552px;
}

.stat.gray {
  background-color: var(--gray);
}

.stat.blue {
  background-color: var(--blue);
}

.stat.light-blue {
  background-color: var(--light-blue);
}

.stat.black {
  background-color: var(--black);
}

.stat.type-numbers {
  justify-content: space-between;
  padding: 40px;
}

.stat.dark-gray {
  background-color: var(--dark-gray);
}

.stat.resolution-19-desktop {
  height: 290px;
  width: 447px;
}

.stat.resolution-19-mobile {
  height: 370px;
  width: 327px;
}

.stat.green {
  background-color: var(--green);
}

.stat.type-quote {
  justify-content: center;
  padding: 0px 40px;
}

.stat.type-numbers.black {
  left: 20px;
}

.stat.dark-gray.type-quote {
  left: 2150px;
}

.stat.blue.resolution-19-mobile {
  left: 1084px;
}

.stat.type-quote.light-blue {
  left: 3745px;
}

.stat.gray.resolution-19-mobile {
  left: 2677px;
}

.stat.resolution-19-desktop.type-numbers {
  top: 20px;
}

.stat.type-numbers.light-blue {
  left: 3744px;
}

.stat.resolution-19-desktop.type-quote {
  top: 330px;
}

.stat.type-numbers.green {
  left: 3212px;
}

.stat.type-quote.green {
  left: 3211px;
}

.stat.dark-gray.resolution-19-mobile {
  left: 2150px;
}

.stat.type-numbers.resolution-19-mobile {
  top: 877px;
}

.stat.type-quote.gray {
  left: 2677px;
}

.stat.resolution-19-desktop.black {
  left: 20px;
}

.stat.type-quote.resolution-19-mobile {
  top: 1267px;
}

.stat.type-numbers.blue {
  left: 1084px;
}

.stat.type-quote.black.resolution-19-mobile {
  left: 18px;
}

.stat.dark-gray.resolution-19-desktop.type-numbers {
  left: 2148px;
}

.stat.resolution-19-desktop.type-quote.blue {
  left: 1082px;
}

.stat.resolution-19-desktop.type-numbers.gray {
  left: 2680px;
}

.stat.dark-blue .section-title-5 {
  color: var(--white);
}

.stat.white .section-title-5 {
  color: var(--dark-blue);
}

.stat.gray .section-title-5 {
  color: var(--white);
}

.stat.blue .section-title-5 {
  color: var(--white);
}

.stat.light-blue .section-title-5 {
  color: var(--dark-blue);
}

.stat.black .section-title-5 {
  color: var(--white);
}

.stat.type-numbers .section-title-5 {
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
  width: fit-content;
}

.stat.dark-gray .section-title-5 {
  color: var(--white);
}

.stat.green .section-title-5 {
  color: var(--white);
}

.stat.type-quote .section-title-5 {
  font-family: "Anton", Helvetica;
  font-size: 145px;
  font-weight: 400;
  height: 126px;
  letter-spacing: 7.25px;
  line-height: 159.5px;
  width: 68px;
}

.stat.dark-gray.type-numbers .section-title-5 {
  margin-top: -1.08px;
}

.stat.type-numbers.black .section-title-5 {
  margin-top: -1.08px;
}

.stat.type-numbers.light-blue .section-title-5 {
  margin-top: -1.08px;
}

.stat.type-numbers.blue .section-title-5 {
  margin-top: -1.08px;
}

.stat.type-numbers.white .section-title-5 {
  margin-top: -1px;
}

.stat.type-numbers.gray .section-title-5 {
  margin-top: -1.08px;
}

.stat.dark-blue.type-numbers .section-title-5 {
  margin-top: -1.08px;
}

.stat.type-numbers.green .section-title-5 {
  margin-top: -1.08px;
}

.stat.dark-blue .section-title-6 {
  color: var(--white);
}

.stat.white .section-title-6 {
  color: var(--dark-blue);
}

.stat.gray .section-title-6 {
  color: var(--white);
}

.stat.blue .section-title-6 {
  color: var(--white);
}

.stat.light-blue .section-title-6 {
  color: var(--dark-blue);
}

.stat.black .section-title-6 {
  color: var(--white);
}

.stat.dark-gray .section-title-6 {
  color: var(--white);
}

.stat.green .section-title-6 {
  color: var(--white);
}

.stat.type-quote .section-title-6 {
  margin-top: -60px;
}

.stat.dark-gray.type-numbers .section-title-6 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
}

.stat.resolution-19-desktop.type-numbers .section-title-6 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
}

.stat.type-numbers.light-blue .section-title-6 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
}

.stat.resolution-19-desktop.type-quote .section-title-6 {
  font-family: var(--pull-quote-desktop-font-family);
  font-size: var(--pull-quote-desktop-font-size);
  font-style: var(--pull-quote-desktop-font-style);
  font-weight: var(--pull-quote-desktop-font-weight);
  letter-spacing: var(--pull-quote-desktop-letter-spacing);
  line-height: var(--pull-quote-desktop-line-height);
}

.stat.type-numbers.green .section-title-6 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
}

.stat.type-numbers.white .section-title-6 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
}

.stat.type-numbers.gray .section-title-6 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
}

.stat.type-quote.resolution-19-mobile .section-title-6 {
  font-family: var(--pull-quote-mobile-font-family);
  font-size: var(--pull-quote-mobile-font-size);
  font-style: var(--pull-quote-mobile-font-style);
  font-weight: var(--pull-quote-mobile-font-weight);
  letter-spacing: var(--pull-quote-mobile-letter-spacing);
  line-height: var(--pull-quote-mobile-line-height);
}

.stat.type-numbers.blue .section-title-6 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
}

.stat.dark-blue.type-numbers .section-title-6 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
}

.stat.type-numbers.black.resolution-19-mobile .section-title-6 {
  font-family: var(--caption-mobile-font-family);
  font-size: var(--caption-mobile-font-size);
  font-style: var(--caption-mobile-font-style);
  font-weight: var(--caption-mobile-font-weight);
  letter-spacing: var(--caption-mobile-letter-spacing);
  line-height: var(--caption-mobile-line-height);
}
