.AIR-QUALITY-DESKTOP {
  align-items: flex-start;
  background-color: var(--neutrascinza);
  display: flex;
  flex-direction: column;
  position: relative;
}

.AIR-QUALITY-DESKTOP .header-instance {
  align-self: stretch !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 13 !important;
}

.AIR-QUALITY-DESKTOP .title-section-instance {
  align-self: stretch !important;
  color: var(--dark-blue) !important;
  white-space: unset !important;
  width: unset !important;
}

.AIR-QUALITY-DESKTOP .title-section-2 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 12 !important;
}

.AIR-QUALITY-DESKTOP .title-section-3 {
  align-self: stretch !important;
  color: var(--dark-blue) !important;
  text-align: unset !important;
  white-space: unset !important;
  width: unset !important;
}

.AIR-QUALITY-DESKTOP .title-section-4 {
  background-image: url(../../../static/img/frame-19722-13.png) !important;
}

.AIR-QUALITY-DESKTOP .title-section-5 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: var(--light-blue) !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 36px 24px !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .title-section-6 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: var(--light-blue) !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  padding: 24px 80px !important;
  top: unset !important;
}

.AIR-QUALITY-DESKTOP .opening-text-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 11;
}

.AIR-QUALITY-DESKTOP .opening-text-2 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .frame-43 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .AB-community-2 {
  color: var(--dark-blue);
  margin-top: -1px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .we-continued-to-work-3 {
  color: var(--dark-blue);
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  position: relative;
}

.AIR-QUALITY-DESKTOP .map-with-label-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  flex: 0 0 auto;
  flex-direction: column;
  opacity: 0;
  padding: 0px 100px 160px;
  position: relative;
  transform: translate(0, 25px);
  width: 100%;
  z-index: 10;
}

.AIR-QUALITY-DESKTOP .map-with-label-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 200px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .frame-44 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 1px;
  position: relative;
  width: 570px;
}

.AIR-QUALITY-DESKTOP .frame-45 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -55px;
  padding: 0px 0px 8px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .frame-46 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .rectangle-19 {
  background-color: var(--teal);
  border: 1px solid;
  border-color: var(--dark-blue);
  height: 46px;
  position: relative;
  width: 46px;
}

.AIR-QUALITY-DESKTOP .section-title-69 {
  color: var(--dark-blue);
  font-family: var(--h3-desktop-font-family);
  font-size: var(--h3-desktop-font-size);
  font-style: var(--h3-desktop-font-style);
  font-weight: var(--h3-desktop-font-weight);
  letter-spacing: var(--h3-desktop-letter-spacing);
  line-height: var(--h3-desktop-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.AIR-QUALITY-DESKTOP .frame-47 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -147px;
  padding: 0px 0px 8px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .rectangle-20 {
  background-color: var(--blue);
  height: 46px;
  position: relative;
  width: 46px;
}

.AIR-QUALITY-DESKTOP .map-2 {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .stat-section-instance {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  height: unset !important;
  left: unset !important;
  top: unset !important;
  width: unset !important;
}

.AIR-QUALITY-DESKTOP .stat-section-2 {
  margin-top: -25.08px !important;
}

.AIR-QUALITY-DESKTOP .stat-section-3 {
  margin-bottom: -22.92px !important;
}

.AIR-QUALITY-DESKTOP .stat-section-4 {
  align-self: stretch !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .stat-section-5 {
  align-self: stretch !important;
  background-color: #e6e2e6cc !important;
  background-image: url(../../../static/img/resolution-desktop-quantity-3-aligment-right-title-no.png) !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  height: 610px !important;
  left: unset !important;
  padding: 140px 80px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 9 !important;
}

.AIR-QUALITY-DESKTOP .opening-section-instance {
  align-self: stretch !important;
  display: unset !important;
  flex: 0 0 auto !important;
  left: unset !important;
  opacity: 0 !important;
  padding: 160px 0px 160px 100px !important;
  top: unset !important;
  transform: translate(0, 25px) !important;
  width: 100% !important;
  z-index: 8 !important;
}

.AIR-QUALITY-DESKTOP .text-wrapper-3 {
  font-family: var(--body-text-desktop-bold-font-family) !important;
  font-size: var(--body-text-desktop-bold-font-size) !important;
  font-style: var(--body-text-desktop-bold-font-style) !important;
  font-weight: var(--body-text-desktop-bold-font-weight) !important;
  letter-spacing: var(--body-text-desktop-bold-letter-spacing) !important;
  line-height: var(--body-text-desktop-bold-line-height) !important;
}

.AIR-QUALITY-DESKTOP .instance-node-6 {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.AIR-QUALITY-DESKTOP .hightlight-blurb-section {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 0px 100px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 7 !important;
}

.AIR-QUALITY-DESKTOP .instance-node-7 {
  align-self: stretch !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .instance-node-8 {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .text-wrapper-4 {
  font-family: var(--h3-desktop-font-family) !important;
  font-size: var(--h3-desktop-font-size) !important;
  font-style: var(--h3-desktop-font-style) !important;
  font-weight: var(--h3-desktop-font-weight) !important;
  letter-spacing: var(--h3-desktop-letter-spacing) !important;
  line-height: var(--h3-desktop-line-height) !important;
}

.AIR-QUALITY-DESKTOP .hightlight-blurb-instance {
  display: block !important;
  opacity: 0 !important;
  transform: scale(1.1) !important;
}

.AIR-QUALITY-DESKTOP .hightlight-blurb-section-instance {
  background-color: var(--green) !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
}

.AIR-QUALITY-DESKTOP .topics-section-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 160px 0px 48px 100px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 6 !important;
}

.AIR-QUALITY-DESKTOP .topics-section-2 {
  margin-right: -122px !important;
}

.AIR-QUALITY-DESKTOP .two-images {
  margin-right: -727px !important;
}

.AIR-QUALITY-DESKTOP .instance-node-9 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .element-images-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  overflow: unset !important;
  padding: 0px 0px 160px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 5 !important;
}

.AIR-QUALITY-DESKTOP .two-images-instance {
  align-self: stretch !important;
  display: flex !important;
  margin-right: unset !important;
  padding: 0px 0px 0px 100px !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .frame-48 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #e4eefccc;
  background-image: url(../../../static/img/frame-19858.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 0 0 auto;
  flex-direction: column;
  opacity: 0;
  position: relative;
  transform: translate(0, 25px);
  width: 100%;
  z-index: 4;
}

.AIR-QUALITY-DESKTOP .topics-section-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 160px 24px 80px 100px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .topics-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .frame-49 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .james-cary-smith-6 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
  margin-top: -1px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .the-grant-program-6 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 35.7px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .text-wrapper-5 {
  font-family: var(--body-text-desktop-font-family);
  font-size: var(--body-text-desktop-font-size);
  font-style: var(--body-text-desktop-font-style);
  font-weight: var(--body-text-desktop-font-weight);
  letter-spacing: var(--body-text-desktop-letter-spacing);
  line-height: var(--body-text-desktop-line-height);
}

.AIR-QUALITY-DESKTOP .one-image {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: unset !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 0px 0px 80px 100px !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .element-image-instance {
  display: block !important;
  margin-right: -515px !important;
  opacity: 0 !important;
  transform: scale(1.1) !important;
}

.AIR-QUALITY-DESKTOP .section-graph-instance {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: unset !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 0px 30px 120px 100px !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .section-graph-2 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 30px 160px 100px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .sub-topic-title-2 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  padding: 0px 0px 8px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .section-title-70 {
  color: var(--dark-blue);
  font-family: "Anton", Helvetica;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 2.2px;
  line-height: 48.4px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.AIR-QUALITY-DESKTOP .text-wrapper-6 {
  letter-spacing: 0.97px;
}

.AIR-QUALITY-DESKTOP .frame-50 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 36px;
  justify-content: flex-end;
  margin-left: -518px;
  padding: 0px 0px 0px 100px;
  position: relative;
  width: 1413px;
}

.AIR-QUALITY-DESKTOP .frame-51 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.AIR-QUALITY-DESKTOP .graph-bar-caption-2 {
  background-color: var(--dark-gray) !important;
}

.AIR-QUALITY-DESKTOP .graph-bar-caption-3 {
  background-color: var(--green) !important;
}

.AIR-QUALITY-DESKTOP .graph-bar-caption-4 {
  background-color: var(--white) !important;
  border: 0.5px solid !important;
  border-color: var(--dark-blue) !important;
}

.AIR-QUALITY-DESKTOP .graph-bar-caption-5 {
  background-color: var(--light-blue) !important;
}

.AIR-QUALITY-DESKTOP .graph-bar-caption-6 {
  background-color: var(--blue) !important;
}

.AIR-QUALITY-DESKTOP .graph-bar-caption-7 {
  font-family: "Poppins", Helvetica !important;
  font-size: 19px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0.76px !important;
  line-height: 25.7px !important;
}

.AIR-QUALITY-DESKTOP .graph-bar-caption-8 {
  background-color: var(--teal) !important;
}

.AIR-QUALITY-DESKTOP .graph-bar-caption-9 {
  background-color: var(--dark-blue) !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-line-8 {
  height: 31px !important;
  justify-content: space-around !important;
  left: unset !important;
  top: unset !important;
  width: 447px !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-line-9 {
  justify-content: space-between !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-line-10 {
  white-space: nowrap !important;
  width: fit-content !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-line-11 {
  display: inline-flex !important;
  flex: 0 0 auto !important;
  flex-grow: unset !important;
  justify-content: unset !important;
}

.AIR-QUALITY-DESKTOP .graph-pie-7 {
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  top: unset !important;
  width: unset !important;
}

.AIR-QUALITY-DESKTOP .graph-pie-8 {
  height: 435.93px !important;
  margin-bottom: -11.93px !important;
}

.AIR-QUALITY-DESKTOP .graph-pie-9 {
  height: 436px !important;
}

.AIR-QUALITY-DESKTOP .section-graph-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 30px 160px 100px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .sub-topic-title-3 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  margin-right: -518px;
  padding: 0px 0px 8px;
  position: relative;
  width: 1413px;
}

.AIR-QUALITY-DESKTOP .frame-52 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 36px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .graph-bar-caption-10 {
  background-color: var(--brick) !important;
}

.AIR-QUALITY-DESKTOP .graph-pie-10 {
  height: 431.35px !important;
  margin-bottom: -7.35px !important;
  margin-left: -165.33px !important;
  margin-right: -179.33px !important;
}

.AIR-QUALITY-DESKTOP .graph-pie-11 {
  height: 431px !important;
}

.AIR-QUALITY-DESKTOP .frame-53 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 36px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .graph-pie-12 {
  height: 423.34px !important;
  margin-left: -155.83px !important;
  margin-right: -167.83px !important;
}

.AIR-QUALITY-DESKTOP .graph-pie-13 {
  height: 423px !important;
}

.AIR-QUALITY-DESKTOP .section-chart-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 160px 100px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .section-chart {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 100px 0px 0px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .frame-54 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 0px 0px 8px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .section-title-71 {
  color: var(--dark-blue);
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.76px;
  line-height: 25.7px;
  margin-top: -1px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .text-wrapper-7 {
  letter-spacing: 0.14px;
}

.AIR-QUALITY-DESKTOP .text-wrapper-8 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
}

.AIR-QUALITY-DESKTOP .text-wrapper-9 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
  text-decoration: underline;
}

.AIR-QUALITY-DESKTOP .section-graph-4 {
  align-items: flex-start !important;
  display: flex !important;
  flex: unset !important;
  width: 447px !important;
}

.AIR-QUALITY-DESKTOP .section-graph-5 {
  align-self: stretch !important;
  display: unset !important;
  flex: 0 0 auto !important;
  left: unset !important;
  opacity: 0 !important;
  padding: 160px 100px !important;
  top: unset !important;
  transform: translate(0, 25px) !important;
  width: 100% !important;
  z-index: 3 !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-instance {
  margin-right: -134px !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-2 {
  background-color: var(--green) !important;
  border-color: var(--white) !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  padding: 60px 36px !important;
  top: unset !important;
  width: unset !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-3 {
  align-items: center !important;
  justify-content: center !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-4 {
  margin-right: -428px !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-5 {
  color: var(--white) !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-6 {
  color: var(--white) !important;
  margin-right: -133px !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-7 {
  align-self: stretch !important;
  border-color: var(--white) !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-8 {
  color: var(--white) !important;
  margin-left: -62px !important;
}

.AIR-QUALITY-DESKTOP .section-graph-6 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  justify-content: unset !important;
  left: unset !important;
  padding: 0px 100px 160px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 2 !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-9 {
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  padding: 60px 36px !important;
  top: unset !important;
  width: unset !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-10 {
  text-align: unset !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-11 {
  flex: 1 !important;
  text-align: unset !important;
  width: unset !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-12 {
  display: flex !important;
  flex: unset !important;
  width: 28px !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-13 {
  text-align: unset !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-14 {
  font-family: "Poppins", Helvetica !important;
  font-size: 21px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0.84px !important;
  line-height: 35.7px !important;
}

.AIR-QUALITY-DESKTOP .internal-menu-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 1 !important;
}

.AIR-QUALITY-DESKTOP .footer-instance {
  margin-left: -168.5px !important;
}

.AIR-QUALITY-DESKTOP .footer-2 {
  align-self: stretch !important;
  gap: unset !important;
  justify-content: space-between !important;
  left: unset !important;
  padding: 0px 60px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 0 !important;
}

.AIR-QUALITY-DESKTOP .section-map-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 36px 16px 80px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 10 !important;
}

.AIR-QUALITY-DESKTOP .section-map-2 {
  font-family: var(--h3-tablet-font-family) !important;
  font-size: var(--h3-tablet-font-size) !important;
  font-style: var(--h3-tablet-font-style) !important;
  font-weight: var(--h3-tablet-font-weight) !important;
  letter-spacing: var(--h3-tablet-letter-spacing) !important;
  line-height: var(--h3-tablet-line-height) !important;
  margin-top: -1px !important;
}

.AIR-QUALITY-DESKTOP .class-27 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 0px 24px 80px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 10 !important;
}

.AIR-QUALITY-DESKTOP .class-28 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 0px 60px 80px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 10 !important;
}

.AIR-QUALITY-DESKTOP .stat-section-6 {
  align-self: stretch !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .class-29 {
  align-self: stretch !important;
  background-color: #e6e2e6cc !important;
  background-image: url(../../../static/img/resolution-mobile-quantity-3-aligment-right-title-yes.png) !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 100px 24px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 9 !important;
}

.AIR-QUALITY-DESKTOP .class-30 {
  align-items: center !important;
  align-self: stretch !important;
  background-color: #e6e2e6cc !important;
  background-image: url(../../../static/img/resolution-mobile-quantity-3-aligment-right-title-yes.png) !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  flex: 0 0 auto !important;
  justify-content: center !important;
  left: unset !important;
  padding: 100px 24px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 9 !important;
}

.AIR-QUALITY-DESKTOP .opening-section-2 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 90px 48px 50px 60px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 8 !important;
}

.AIR-QUALITY-DESKTOP .hightlight-blurb-2 {
  font-size: 21px !important;
  letter-spacing: 0.84px !important;
  line-height: 35.7px !important;
}

.AIR-QUALITY-DESKTOP .hightlight-blurb-3 {
  font-family: unset !important;
  font-size: unset !important;
  font-style: unset !important;
  font-weight: unset !important;
  letter-spacing: 0.18px !important;
  line-height: unset !important;
}

.AIR-QUALITY-DESKTOP .hightlight-blurb-4 {
  align-self: stretch !important;
  background-color: var(--green) !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 7 !important;
}

.AIR-QUALITY-DESKTOP .hightlight-blurb-5 {
  font-family: unset !important;
  font-size: unset !important;
  font-style: unset !important;
  font-weight: 700 !important;
  letter-spacing: 0.18px !important;
  line-height: unset !important;
}

.AIR-QUALITY-DESKTOP .topics-section-4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 80px 60px 48px;
  position: relative;
  width: 100%;
  z-index: 6;
}

.AIR-QUALITY-DESKTOP .div-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .james-cary-smith-7 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h2-tablet-font-family);
  font-size: var(--h2-tablet-font-size);
  font-style: var(--h2-tablet-font-style);
  font-weight: var(--h2-tablet-font-weight);
  letter-spacing: var(--h2-tablet-letter-spacing);
  line-height: var(--h2-tablet-line-height);
  margin-top: -1px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .the-grant-program-7 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: 30.6px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .text-wrapper-10 {
  font-family: var(--body-text-tablet-font-family);
  font-size: var(--body-text-tablet-font-size);
  font-style: var(--body-text-tablet-font-style);
  font-weight: var(--body-text-tablet-font-weight);
  letter-spacing: var(--body-text-tablet-letter-spacing);
  line-height: var(--body-text-tablet-line-height);
}

.AIR-QUALITY-DESKTOP .element-images-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 0px 100px 48px;
  position: relative;
  width: 100%;
  z-index: 5;
}

.AIR-QUALITY-DESKTOP .frame-55 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .rectangle-21 {
  height: 617.17px;
  object-fit: cover;
  position: relative;
  width: 617.17px;
}

.AIR-QUALITY-DESKTOP .rectangle-22 {
  height: 617.17px;
  object-fit: cover;
  position: relative;
  width: 617.17px;
}

.AIR-QUALITY-DESKTOP .frame-56 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #e4eefccc;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 4;
}

.AIR-QUALITY-DESKTOP .topics-section-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 100px 60px 80px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .instance-node-10 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: unset !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 0px 0px 80px 48px !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .class-31 {
  margin-right: -847px !important;
}

.AIR-QUALITY-DESKTOP .class-32 {
  margin-right: -719px !important;
}

.AIR-QUALITY-DESKTOP .section-graph-7 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 48px 100px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .section-title-72 {
  color: var(--dark-blue);
  flex: 1;
  font-family: "Anton", Helvetica;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 39.6px;
  margin-top: -1px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .text-wrapper-11 {
  font-family: var(--h3-tablet-font-family);
  font-size: var(--h3-tablet-font-size);
  font-style: var(--h3-tablet-font-style);
  font-weight: var(--h3-tablet-font-weight);
  letter-spacing: var(--h3-tablet-letter-spacing);
  line-height: var(--h3-tablet-line-height);
}

.AIR-QUALITY-DESKTOP .text-wrapper-12 {
  font-size: 44px;
  letter-spacing: 0.97px;
  line-height: 48.4px;
}

.AIR-QUALITY-DESKTOP .frame-57 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .frame-58 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .graph-chart-line-12 {
  align-self: stretch !important;
  height: 31px !important;
  justify-content: space-around !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .class-33 {
  height: 435.93px !important;
  margin-bottom: -11.93px !important;
  margin-left: -97.2px !important;
  margin-right: -107.2px !important;
}

.AIR-QUALITY-DESKTOP .class-34 {
  height: 435.93px !important;
  margin-bottom: -11.93px !important;
  margin-left: -33.2px !important;
  margin-right: -43.2px !important;
}

.AIR-QUALITY-DESKTOP .section-graph-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 48px 100px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .frame-59 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .class-35 {
  height: 431.35px !important;
  margin-bottom: -7.35px !important;
  margin-left: -98.83px !important;
  margin-right: -112.83px !important;
}

.AIR-QUALITY-DESKTOP .class-36 {
  height: 431.35px !important;
  margin-bottom: -7.35px !important;
  margin-left: -34.83px !important;
  margin-right: -48.83px !important;
}

.AIR-QUALITY-DESKTOP .section-graph-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 48px 60px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .frame-60 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .class-37 {
  height: 423.34px !important;
  margin-left: -89.33px !important;
  margin-right: -101.33px !important;
}

.AIR-QUALITY-DESKTOP .class-38 {
  height: 423.34px !important;
  margin-left: -25.33px !important;
  margin-right: -37.33px !important;
}

.AIR-QUALITY-DESKTOP .frame-61 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 48px 100px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .section-graph-10 {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 100px 48px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.AIR-QUALITY-DESKTOP .graph-chart-15 {
  align-self: stretch !important;
  background-color: var(--green) !important;
  border-color: var(--white) !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 24px 36px !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-16 {
  color: var(--white) !important;
  flex: 1 !important;
  width: unset !important;
}

.AIR-QUALITY-DESKTOP .class-39 {
  color: var(--white) !important;
  width: 473px !important;
}

.AIR-QUALITY-DESKTOP .class-40 {
  color: var(--white) !important;
  width: 601px !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-17 {
  align-self: stretch !important;
  margin-right: -2px !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .section-graph-11 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 24px 48px 100px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.AIR-QUALITY-DESKTOP .sub-topic-title-instance {
  flex: 1 !important;
  white-space: unset !important;
  width: unset !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-18 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 24px 36px !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .class-41 {
  width: 473px !important;
}

.AIR-QUALITY-DESKTOP .class-42 {
  width: 601px !important;
}

.AIR-QUALITY-DESKTOP .footer-3 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 0 !important;
}

.AIR-QUALITY-DESKTOP .opening-section-3 {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 100px 24px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 8 !important;
}

.AIR-QUALITY-DESKTOP .topics-section-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 100px 24px 60px;
  position: relative;
  width: 100%;
  z-index: 6;
}

.AIR-QUALITY-DESKTOP .james-cary-smith-8 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h3-mobile-font-family);
  font-size: var(--h3-mobile-font-size);
  font-style: var(--h3-mobile-font-style);
  font-weight: var(--h3-mobile-font-weight);
  letter-spacing: var(--h3-mobile-letter-spacing);
  line-height: var(--h3-mobile-line-height);
  margin-top: -1px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .the-grant-program-8 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 25.5px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .text-wrapper-13 {
  font-family: var(--body-text-mobile-font-family);
  font-size: var(--body-text-mobile-font-size);
  font-style: var(--body-text-mobile-font-style);
  font-weight: var(--body-text-mobile-font-weight);
  letter-spacing: var(--body-text-mobile-letter-spacing);
  line-height: var(--body-text-mobile-line-height);
}

.AIR-QUALITY-DESKTOP .text-wrapper-14 {
  font-family: var(--body-text-mobile-bold-font-family);
  font-size: var(--body-text-mobile-bold-font-size);
  font-style: var(--body-text-mobile-bold-font-style);
  font-weight: var(--body-text-mobile-bold-font-weight);
  letter-spacing: var(--body-text-mobile-bold-letter-spacing);
  line-height: var(--body-text-mobile-bold-line-height);
}

.AIR-QUALITY-DESKTOP .element-images-3 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 0px 0px 60px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 5 !important;
}

.AIR-QUALITY-DESKTOP .element-images-4 {
  margin-right: -235.32px !important;
}

.AIR-QUALITY-DESKTOP .frame-62 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #e4eefccc;
  background-image: url(../../../static/img/frame-19858-3.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 4;
}

.AIR-QUALITY-DESKTOP .topics-section-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 40px 24px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .one-image-instance {
  align-self: stretch !important;
  background-color: unset !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .section-graph-12 {
  align-self: stretch !important;
  background-color: unset !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 80px 0px 60px 24px !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .section-graph-13 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 24px 100px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .section-title-73 {
  color: var(--dark-blue);
  flex: 1;
  font-family: "Anton", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 33px;
  margin-top: -1px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .text-wrapper-15 {
  font-family: var(--h3-mobile-font-family);
  font-size: var(--h3-mobile-font-size);
  font-style: var(--h3-mobile-font-style);
  font-weight: var(--h3-mobile-font-weight);
  letter-spacing: var(--h3-mobile-letter-spacing);
  line-height: var(--h3-mobile-line-height);
}

.AIR-QUALITY-DESKTOP .text-wrapper-16 {
  letter-spacing: 0.45px;
}

.AIR-QUALITY-DESKTOP .frame-63 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .graph-bar-caption-11 {
  font-family: "Poppins", Helvetica !important;
  font-size: 14px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0.56px !important;
  line-height: 18.9px !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-line-13 {
  align-self: stretch !important;
  height: 25px !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-line-14 {
  gap: unset !important;
  justify-content: space-between !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-line-15 {
  flex: unset !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-line-16 {
  justify-content: unset !important;
}

.AIR-QUALITY-DESKTOP .graph-pie-14 {
  height: 168.01px !important;
  margin-left: -28.06px !important;
  margin-right: -38.06px !important;
}

.AIR-QUALITY-DESKTOP .graph-pie-15 {
  height: 168px !important;
}

.AIR-QUALITY-DESKTOP .graph-pie-16 {
  height: 167.9px !important;
  margin-left: -28.04px !important;
  margin-right: -42.04px !important;
}

.AIR-QUALITY-DESKTOP .section-graph-14 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 24px 60px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .graph-pie-17 {
  height: 162.01px !important;
  margin-left: -25.33px !important;
  margin-right: -37.33px !important;
}

.AIR-QUALITY-DESKTOP .graph-pie-18 {
  height: 162px !important;
}

.AIR-QUALITY-DESKTOP .frame-64 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 24px 60px;
  position: relative;
  width: 100%;
}

.AIR-QUALITY-DESKTOP .section-title-74 {
  color: var(--dark-blue);
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 18.9px;
  margin-top: -1px;
  position: relative;
}

.AIR-QUALITY-DESKTOP .text-wrapper-17 {
  letter-spacing: 0.08px;
}

.AIR-QUALITY-DESKTOP .text-wrapper-18 {
  font-family: var(--caption-mobile-font-family);
  font-size: var(--caption-mobile-font-size);
  font-style: var(--caption-mobile-font-style);
  font-weight: var(--caption-mobile-font-weight);
  letter-spacing: var(--caption-mobile-letter-spacing);
  line-height: var(--caption-mobile-line-height);
}

.AIR-QUALITY-DESKTOP .text-wrapper-19 {
  font-family: var(--caption-mobile-font-family);
  font-size: var(--caption-mobile-font-size);
  font-style: var(--caption-mobile-font-style);
  font-weight: var(--caption-mobile-font-weight);
  letter-spacing: var(--caption-mobile-letter-spacing);
  line-height: var(--caption-mobile-line-height);
  text-decoration: underline;
}

.AIR-QUALITY-DESKTOP .section-graph-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 60px 0px 100px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.AIR-QUALITY-DESKTOP .section-graph-15 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 0px 24px !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-19 {
  align-self: stretch !important;
  background-color: var(--green) !important;
  border: unset !important;
  border-color: unset !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-20 {
  height: 75px !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-21 {
  color: var(--white) !important;
  width: 224px !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-22 {
  border-color: var(--white) !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-23 {
  color: var(--white) !important;
  margin-right: unset !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.AIR-QUALITY-DESKTOP .section-graph-16 {
  align-self: stretch !important;
  background-color: var(--white) !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 0px 24px 100px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 2 !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-24 {
  height: 25px !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-25 {
  width: 224px !important;
}

.AIR-QUALITY-DESKTOP .graph-chart-26 {
  font-family: "Poppins", Helvetica !important;
  font-size: 15px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0.6px !important;
  line-height: 25.5px !important;
}
