.resoolution-desktop-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.resoolution-desktop-wrapper.resoolution-mobile {
  left: 526px;
  top: 25px;
}

.resoolution-desktop-wrapper.resoolution-desktop {
  left: 20px;
  top: 20px;
}
