.element-px {
  align-items: flex-start;
  background-color: var(--neutrascinza);
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-px .class-13 {
  align-self: stretch !important;
  width: 100% !important;
  z-index: 13 !important;
}

.element-px .class-14 {
  z-index: 13 !important;
}

.element-px .title-section-instance {
  flex: 0 0 auto !important;
  z-index: 12 !important;
}

.element-px .title-section-2 {
  background-image: url(../../../static/img/frame-19722-1.png) !important;
}

.element-px .title-section-3 {
  color: var(--dark-blue) !important;
}

.element-px .title-section-4 {
  align-self: stretch !important;
  color: var(--dark-blue) !important;
  white-space: unset !important;
  width: unset !important;
}

.element-px .title-section-5 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: var(--light-blue) !important;
  display: flex !important;
  flex: 0 0 auto !important;
  padding: 36px 24px !important;
  width: 100% !important;
}

.element-px .opening-text-wrapper {
  align-items: flex-start;
  background-color: var(--white);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 100px 24px 24px;
  position: relative;
  z-index: 11;
}

.element-px .opening-text-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 327px;
}

.element-px .frame-44 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.element-px .AB-community-2 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h2-mobile-font-family);
  font-size: var(--h2-mobile-font-size);
  font-style: var(--h2-mobile-font-style);
  font-weight: var(--h2-mobile-font-weight);
  letter-spacing: var(--h2-mobile-letter-spacing);
  line-height: var(--h2-mobile-line-height);
  margin-top: -1px;
  position: relative;
}

.element-px .we-continued-to-work-2 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: "Poppins", Helvetica;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 31.5px;
  position: relative;
}

.element-px .text-wrapper-6 {
  font-family: var(--pull-quote-mobile-font-family);
  font-size: var(--pull-quote-mobile-font-size);
  font-style: var(--pull-quote-mobile-font-style);
  font-weight: var(--pull-quote-mobile-font-weight);
  letter-spacing: var(--pull-quote-mobile-letter-spacing);
  line-height: var(--pull-quote-mobile-line-height);
}

.element-px .text-wrapper-7 {
  font-family: var(--pull-quote-mobile-bold-font-family);
  font-size: var(--pull-quote-mobile-bold-font-size);
  font-style: var(--pull-quote-mobile-bold-font-style);
  font-weight: var(--pull-quote-mobile-bold-font-weight);
  letter-spacing: var(--pull-quote-mobile-bold-letter-spacing);
  line-height: var(--pull-quote-mobile-bold-line-height);
}

.element-px .section-map-instance {
  flex: 0 0 auto !important;
  padding: 36px 24px 100px !important;
  z-index: 10 !important;
}

.element-px .stat-section-instance {
  background-color: #e6e2e6cc !important;
  background-image: url(../../../static/img/resolution-mobile-quantity-3-aligment-right-title-yes.svg) !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  flex: 0 0 auto !important;
  padding: 100px 24px !important;
  z-index: 9 !important;
}

.element-px .opening-section-instance {
  flex: 0 0 auto !important;
  padding: 100px 24px !important;
  z-index: 8 !important;
}

.element-px .hightlight-blurb-instance {
  background-color: var(--green) !important;
  flex: 0 0 auto !important;
  z-index: 7 !important;
}

.element-px .instance-node-7 {
  align-self: stretch !important;
  display: flex !important;
  width: 100% !important;
}

.element-px .title-section-6 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
  z-index: 12 !important;
}

.element-px .header-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  height: 110px;
  justify-content: space-between;
  padding: 24px 40px;
  position: relative;
  width: 100%;
  z-index: 13;
}

.element-px .BAAQMD-logo-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  height: 44.27px;
  justify-content: space-around;
  position: relative;
}

.element-px .BAAQMD-logo-3 {
  height: 44.27px;
  object-fit: cover;
  position: relative;
  width: 256px;
}

.element-px .navbar {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 50px;
  justify-content: flex-end;
  position: relative;
}

.element-px .text-wrapper-8 {
  color: var(--dark-blue);
  font-family: "Proxima Nova-Semibold", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.12px;
  line-height: 19.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-px .instance-node-8 {
  flex: 0 0 auto !important;
}

.element-px .title-section-7 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: var(--light-blue) !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  padding: 24px 80px !important;
}

.element-px .opening-section-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 11;
}

.element-px .opening-text-3 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.element-px .frame-45 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.element-px .AB-community-3 {
  color: var(--dark-blue);
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
  margin-top: -1px;
  position: relative;
  width: 841px;
}

.element-px .we-continued-to-work-3 {
  color: var(--dark-blue);
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.04px;
  line-height: 26px;
  position: relative;
}

.element-px .text-wrapper-9 {
  font-family: var(--pull-quote-desktop-font-family);
  font-size: var(--pull-quote-desktop-font-size);
  font-style: var(--pull-quote-desktop-font-style);
  font-weight: var(--pull-quote-desktop-font-weight);
  letter-spacing: var(--pull-quote-desktop-letter-spacing);
  line-height: var(--pull-quote-desktop-line-height);
}

.element-px .text-wrapper-10 {
  font-weight: 700;
  letter-spacing: 0.27px;
  line-height: 40.3px;
}

.element-px .map-with-label-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  flex: 0 0 auto;
  flex-direction: column;
  opacity: 0;
  padding: 0px 100px 160px;
  position: relative;
  transform: translate(0, 25px);
  width: 100%;
  z-index: 10;
}

.element-px .map-with-label-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 200px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.element-px .frame-46 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 1px;
  position: relative;
  width: 570px;
}

.element-px .frame-47 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -55px;
  padding: 0px 0px 8px;
  position: relative;
  width: 100%;
}

.element-px .frame-48 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.element-px .rectangle-19 {
  background-color: var(--teal);
  border: 1px solid;
  border-color: var(--dark-blue);
  height: 46px;
  position: relative;
  width: 46px;
}

.element-px .section-title-63 {
  color: var(--dark-blue);
  font-family: var(--h3-desktop-font-family);
  font-size: var(--h3-desktop-font-size);
  font-style: var(--h3-desktop-font-style);
  font-weight: var(--h3-desktop-font-weight);
  letter-spacing: var(--h3-desktop-letter-spacing);
  line-height: var(--h3-desktop-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-px .frame-49 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -147px;
  padding: 0px 0px 8px;
  position: relative;
  width: 100%;
}

.element-px .rectangle-20 {
  background-color: var(--blue);
  height: 46px;
  position: relative;
  width: 46px;
}

.element-px .map-2 {
  align-self: stretch;
  height: 1226.49px;
  position: relative;
  width: 100%;
}

.element-px .stat-section-2 {
  align-self: stretch !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  width: 100% !important;
}

.element-px .stat-section-3 {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  height: unset !important;
  width: unset !important;
}

.element-px .stat-section-4 {
  align-self: stretch !important;
  background-color: #e6e2e6cc !important;
  background-image: url(../../../static/img/resolution-desktop-quantity-3-aligment-right-title-no.svg) !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  height: 610px !important;
  padding: 140px 80px !important;
  width: 100% !important;
  z-index: 9 !important;
}

.element-px .topics-section {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-px .topics-5 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.element-px .frame-50 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.element-px .james-cary-smith-5 {
  color: var(--dark-blue);
  margin-top: -1px;
  position: relative;
}

.element-px .the-grant-program-5 {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  position: relative;
}

.element-px .section-map-2 {
  flex: 0 0 auto !important;
  padding: 0px 30px 160px 0px !important;
  z-index: 10 !important;
}

.element-px .stat-section-5 {
  background-color: #e6e2e6cc !important;
  background-image: url(../../../static/img/resolution-desktop-quantity-3-aligment-right-title-no.svg) !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  flex: 0 0 auto !important;
  z-index: 9 !important;
}

.element-px .class-15 {
  align-self: stretch !important;
  display: unset !important;
  flex: 0 0 auto !important;
  opacity: 0 !important;
  padding: 160px 0px 160px 100px !important;
  transform: translate(0, 25px) !important;
  width: 100% !important;
  z-index: 8 !important;
}

.element-px .class-16 {
  flex: 0 0 auto !important;
  padding: 160px 0px 160px 145px !important;
  z-index: 8 !important;
}

.element-px .opening-section-3 {
  color: var(--dark-gray) !important;
  font-size: 21px !important;
  letter-spacing: 0.84px !important;
  line-height: 35.7px !important;
}

.element-px .hightlight-blurb-section {
  flex: 0 0 auto !important;
  z-index: 7 !important;
}

.element-px .text-wrapper-11 {
  font-family: var(--h3-desktop-font-family) !important;
  font-size: var(--h3-desktop-font-size) !important;
  font-style: var(--h3-desktop-font-style) !important;
  font-weight: var(--h3-desktop-font-weight) !important;
  letter-spacing: var(--h3-desktop-letter-spacing) !important;
  line-height: var(--h3-desktop-line-height) !important;
}

.element-px .instance-node-9 {
  background-color: var(--green) !important;
}

.element-px .topics-section-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 160px 0px 48px 480px;
  position: relative;
  width: 1920px;
  z-index: 6;
}

.element-px .topics-6 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 1047px;
}

.element-px .james-cary-smith-6 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
  margin-top: -1px;
  position: relative;
}

.element-px .the-grant-program-6 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 35.7px;
  position: relative;
}

.element-px .text-wrapper-12 {
  font-family: var(--body-text-desktop-font-family);
  font-size: var(--body-text-desktop-font-size);
  font-style: var(--body-text-desktop-font-style);
  font-weight: var(--body-text-desktop-font-weight);
  letter-spacing: var(--body-text-desktop-letter-spacing);
  line-height: var(--body-text-desktop-line-height);
}

.element-px .text-wrapper-13 {
  font-family: var(--body-text-desktop-bold-font-family);
  font-size: var(--body-text-desktop-bold-font-size);
  font-style: var(--body-text-desktop-bold-font-style);
  font-weight: var(--body-text-desktop-bold-font-weight);
  letter-spacing: var(--body-text-desktop-bold-letter-spacing);
  line-height: var(--body-text-desktop-bold-line-height);
}

.element-px .two-images {
  flex: 0 0 auto !important;
  padding: 0px 0px 160px !important;
  z-index: 5 !important;
}

.element-px .frame-51 {
  align-items: flex-start;
  background-color: #e4eefccc;
  background-image: url(../../../static/img/frame-19858-8.png);
  background-position: 50% 50%;
  background-size: cover;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  z-index: 4;
}

.element-px .topics-section-3 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 160px 0px 80px 145px;
  position: relative;
  width: 1920px;
}

.element-px .one-image {
  background-color: unset !important;
  flex: 0 0 auto !important;
  padding: 0px 0px 80px !important;
}

.element-px .section-graph-instance {
  background-color: unset !important;
  flex: 0 0 auto !important;
  padding: 0px 30px 120px 0px !important;
}

.element-px .section-graph-2 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 30px 160px 0px;
  position: relative;
  width: 1920px;
}

.element-px .sub-topic-title-2 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  padding: 0px 0px 8px;
  position: relative;
  width: 1413px;
}

.element-px .section-title-64 {
  color: var(--dark-blue);
  font-family: "Anton", Helvetica;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 2.2px;
  line-height: 48.4px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-px .text-wrapper-14 {
  letter-spacing: 0.97px;
}

.element-px .frame-52 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 36px;
  justify-content: flex-end;
  position: relative;
}

.element-px .frame-53 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.element-px .graph-bar-caption-2 {
  background-color: var(--dark-blue) !important;
}

.element-px .graph-bar-caption-3 {
  background-color: var(--white) !important;
  border: 0.5px solid !important;
  border-color: var(--dark-blue) !important;
}

.element-px .graph-bar-caption-4 {
  background-color: var(--dark-gray) !important;
}

.element-px .graph-bar-caption-5 {
  background-color: var(--light-blue) !important;
}

.element-px .graph-bar-caption-6 {
  font-family: "Poppins", Helvetica !important;
  font-size: 19px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0.76px !important;
  line-height: 25.7px !important;
}

.element-px .graph-bar-caption-7 {
  background-color: var(--teal) !important;
}

.element-px .graph-bar-caption-8 {
  background-color: var(--blue) !important;
}

.element-px .graph-chart-line-7 {
  display: flex !important;
  height: 31px !important;
  justify-content: space-around !important;
  width: 447px !important;
}

.element-px .graph-chart-line-8 {
  align-self: stretch !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.element-px .graph-chart-line-9 {
  white-space: nowrap !important;
  width: fit-content !important;
}

.element-px .graph-chart-line-10 {
  display: inline-flex !important;
  flex: 0 0 auto !important;
  flex-grow: unset !important;
  justify-content: unset !important;
}

.element-px .graph-pie-7 {
  height: 435.93px !important;
  margin-bottom: -11.93px !important;
}

.element-px .graph-pie-8 {
  height: 436px !important;
}

.element-px .graph-bar-caption-9 {
  background-color: var(--brick) !important;
}

.element-px .graph-pie-9 {
  height: 431.35px !important;
  margin-bottom: -7.35px !important;
}

.element-px .graph-pie-10 {
  height: 431px !important;
}

.element-px .frame-54 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 36px;
  justify-content: flex-end;
  position: relative;
}

.element-px .graph-pie-11 {
  height: 423.34px !important;
}

.element-px .graph-pie-12 {
  height: 423px !important;
}

.element-px .section-chart-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 160px 480px;
  position: relative;
  width: 1920px;
}

.element-px .section-chart {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 1413px;
}

.element-px .frame-55 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 0px 0px 8px;
  position: relative;
  width: 100%;
}

.element-px .section-title-65 {
  color: var(--dark-blue);
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.76px;
  line-height: 25.7px;
  margin-top: -1px;
  position: relative;
}

.element-px .text-wrapper-15 {
  letter-spacing: 0.14px;
}

.element-px .text-wrapper-16 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
}

.element-px .text-wrapper-17 {
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
  text-decoration: underline;
}

.element-px .section-graph-wrapper {
  align-items: flex-start;
  background-color: var(--white);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 160px 0px 0px;
  position: relative;
  z-index: 3;
}

.element-px .section-graph-3 {
  flex: 0 0 auto !important;
  padding: 0px 30px 160px 0px !important;
}

.element-px .graph-chart-instance {
  background-color: var(--green) !important;
  border-color: var(--white) !important;
}

.element-px .graph-chart-2 {
  color: var(--white) !important;
}

.element-px .graph-chart-3 {
  border-color: var(--white) !important;
  flex: 0 0 auto !important;
}

.element-px .section-graph-4 {
  flex: 0 0 auto !important;
  padding: 0px 30px 160px 0px !important;
  z-index: 2 !important;
}

.element-px .graph-chart-4 {
  text-align: unset !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.element-px .graph-chart-5 {
  display: flex !important;
  flex: unset !important;
  width: 28px !important;
}

.element-px .graph-chart-6 {
  flex: 1 !important;
  text-align: unset !important;
  width: unset !important;
}

.element-px .graph-chart-7 {
  text-align: unset !important;
}

.element-px .graph-chart-8 {
  font-family: "Poppins", Helvetica !important;
  font-size: 21px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0.84px !important;
  line-height: 35.7px !important;
}

.element-px .internal-menu-instance {
  flex: 0 0 auto !important;
  z-index: 1 !important;
}

.element-px .footer-instance {
  z-index: 0 !important;
}

.element-px .element-images-instance {
  flex: 0 0 auto !important;
  padding: 0px 0px 60px !important;
  z-index: 5 !important;
}

.element-px .hightlight-blurb-section-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  padding: 0px 100px !important;
  width: 100% !important;
  z-index: 7 !important;
}

.element-px .hightlight-blurb-2 {
  display: block !important;
  opacity: 0 !important;
  transform: scale(1.1) !important;
}

.element-px .hightlight-blurb-3 {
  background-color: var(--green) !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
}

.element-px .instance-node-10 {
  align-self: stretch !important;
  width: 100% !important;
}

.element-px .instance-node-11 {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.element-px .section-map-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.element-px .map-with-label-4 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-px .map-3 {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.element-px .two-images-instance {
  align-self: stretch !important;
  display: flex !important;
  margin-right: unset !important;
  padding: 0px 0px 0px 100px !important;
  width: 100% !important;
}

.element-px .element-images-2 {
  margin-right: -312px !important;
}

.element-px .instance-node-12 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.element-px .element-images-3 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  overflow: unset !important;
  padding: 0px 0px 160px !important;
  width: 100% !important;
  z-index: 5 !important;
}

.element-px .frame-56 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #e4eefccc;
  background-image: url(../../../static/img/frame-19858-2.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 0 0 auto;
  flex-direction: column;
  opacity: 0;
  position: relative;
  transform: translate(0, 25px);
  width: 100%;
  z-index: 4;
}

.element-px .topics-section-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 160px 0px 80px 100px;
  position: relative;
  width: 100%;
}

.element-px .element-image-instance {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: unset !important;
  flex: 0 0 auto !important;
  padding: 0px 0px 80px 100px !important;
  width: 100% !important;
}

.element-px .one-image-instance {
  display: block !important;
  margin-right: -100px !important;
  opacity: 0 !important;
  transform: scale(1.1) !important;
}

.element-px .section-graph-5 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: unset !important;
  flex: 0 0 auto !important;
  padding: 0px 30px 120px 100px !important;
  width: 100% !important;
}

.element-px .section-graph-6 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 30px 160px 100px;
  position: relative;
  width: 100%;
}

.element-px .sub-topic-title-3 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  padding: 0px 0px 8px;
  position: relative;
  width: 100%;
}

.element-px .frame-57 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 36px;
  justify-content: flex-end;
  margin-left: -103px;
  padding: 0px 0px 0px 100px;
  position: relative;
  width: 1413px;
}

.element-px .instance-node-13 {
  flex: 1 !important;
  flex-grow: 1 !important;
  width: unset !important;
}

.element-px .section-graph-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 30px 160px 100px;
  position: relative;
  width: 100%;
}

.element-px .sub-topic-title-4 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  margin-right: -103px;
  padding: 0px 0px 8px;
  position: relative;
  width: 1413px;
}

.element-px .frame-58 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 36px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.element-px .frame-59 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 36px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.element-px .frame-60 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 160px 100px;
  position: relative;
  width: 100%;
}

.element-px .section-chart-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 100px 0px 0px;
  position: relative;
  width: 100%;
}

.element-px .section-graph-8 {
  align-items: flex-start !important;
  display: flex !important;
  flex: unset !important;
  width: 447px !important;
}

.element-px .section-graph-9 {
  align-self: stretch !important;
  display: unset !important;
  flex: 0 0 auto !important;
  opacity: 0 !important;
  padding: 160px 100px !important;
  transform: translate(0, 25px) !important;
  width: 100% !important;
  z-index: 3 !important;
}

.element-px .graph-chart-9 {
  background-color: var(--green) !important;
  border-color: var(--white) !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  padding: 60px 16px !important;
  width: unset !important;
}

.element-px .graph-chart-10 {
  align-items: center !important;
  align-self: stretch !important;
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
}

.element-px .graph-chart-11 {
  align-items: center !important;
  justify-content: center !important;
}

.element-px .section-graph-10 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  justify-content: unset !important;
  padding: 0px 100px 160px !important;
  width: 100% !important;
  z-index: 2 !important;
}

.element-px .internal-menu-2 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
  z-index: 1 !important;
}

.element-px .footer-2 {
  align-self: stretch !important;
  gap: unset !important;
  justify-content: space-between !important;
  padding: 0px 60px !important;
  width: 100% !important;
  z-index: 0 !important;
}

.element-px .stat-section-6 {
  align-items: center !important;
  align-self: stretch !important;
  background-color: #e6e2e6cc !important;
  background-image: url(../../../static/img/resolution-mobile-quantity-3-aligment-right-title-yes.svg) !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  flex: 0 0 auto !important;
  justify-content: center !important;
  padding: 100px 24px !important;
  width: 100% !important;
  z-index: 9 !important;
}

.element-px .opening-section-4 {
  align-self: stretch !important;
  color: var(--dark-gray) !important;
  font-size: 21px !important;
  letter-spacing: 0.84px !important;
  line-height: 35.7px !important;
  width: unset !important;
}

.element-px .opening-section-5 {
  align-self: stretch !important;
  width: unset !important;
}

.element-px .opening-section-6 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  padding: 80px 48px !important;
  width: 100% !important;
  z-index: 8 !important;
}

.element-px .hightlight-blurb-4 {
  font-size: 21px !important;
  letter-spacing: 0.84px !important;
  line-height: 35.7px !important;
}

.element-px .hightlight-blurb-5 {
  font-family: unset !important;
  font-size: unset !important;
  font-style: unset !important;
  font-weight: unset !important;
  letter-spacing: 0.18px !important;
  line-height: unset !important;
}

.element-px .hightlight-blurb-6 {
  font-family: unset !important;
  font-size: unset !important;
  font-style: unset !important;
  font-weight: 700 !important;
  letter-spacing: 0.18px !important;
  line-height: unset !important;
}

.element-px .hightlight-blurb-7 {
  align-self: stretch !important;
  background-color: var(--green) !important;
  flex: 0 0 auto !important;
  width: 100% !important;
  z-index: 7 !important;
}

.element-px .topics-section-5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 80px 48px 48px;
  position: relative;
  width: 100%;
  z-index: 6;
}

.element-px .topics-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.element-px .element-images-4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 0px 100px 48px;
  position: relative;
  width: 100%;
  z-index: 5;
}

.element-px .frame-61 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.element-px .rectangle-21 {
  height: 617.17px;
  object-fit: cover;
  position: relative;
  width: 617.17px;
}

.element-px .rectangle-22 {
  height: 617.17px;
  margin-right: -538.34px;
  object-fit: cover;
  position: relative;
  width: 617.17px;
}

.element-px .frame-62 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #e4eefccc;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 4;
}

.element-px .topics-section-6 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-px .james-cary-smith-7 {
  align-self: stretch;
  color: var(--dark-blue);
  margin-top: -1px;
  position: relative;
}

.element-px .the-grant-program-7 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  position: relative;
}

.element-px .class-17 {
  margin-right: -720px !important;
}

.element-px .class-18 {
  background-color: unset !important;
}

.element-px .class-19 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: unset !important;
  flex: 0 0 auto !important;
  padding: 0px 0px 80px 48px !important;
  width: 100% !important;
}

.element-px .class-20 {
  background-color: unset !important;
  flex: 0 0 auto !important;
  padding: 80px 0px 60px 24px !important;
}

.element-px .class-21 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: unset !important;
  flex: 0 0 auto !important;
  padding: 0px 30px 80px 48px !important;
  width: 100% !important;
}

.element-px .section-graph-11 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
}

.element-px .section-title-66 {
  color: var(--dark-blue);
  flex: 1;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  margin-top: -1px;
  position: relative;
}

.element-px .frame-63 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
}

.element-px .frame-64 {
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-px .graph-bar-caption-10 {
  display: flex !important;
  flex: 0 0 auto !important;
  width: 327px !important;
}

.element-px .graph-bar-caption-11 {
  font-family: "Poppins", Helvetica !important;
  font-size: 14px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0.56px !important;
  line-height: 18.9px !important;
}

.element-px .class-22 {
  height: 25px !important;
  width: 327px !important;
}

.element-px .class-23 {
  align-self: stretch !important;
  display: flex !important;
  height: 31px !important;
  justify-content: space-around !important;
  width: 100% !important;
}

.element-px .class-24 {
  justify-content: unset !important;
}

.element-px .class-25 {
  flex: unset !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.element-px .class-26 {
  gap: unset !important;
  justify-content: space-between !important;
}

.element-px .class-27 {
  margin-left: -36.7px !important;
  margin-right: -46.7px !important;
}

.element-px .class-28 {
  height: 435.93px !important;
  margin-bottom: -11.93px !important;
  margin-left: -33.7px !important;
  margin-right: -43.7px !important;
}

.element-px .section-graph-12 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
}

.element-px .section-title-67 {
  color: var(--dark-blue);
  flex: 1;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  margin-top: -1px;
  position: relative;
}

.element-px .frame-65 {
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
}

.element-px .frame-66 {
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-px .class-29 {
  margin-left: -31.24px !important;
  margin-right: -45.24px !important;
}

.element-px .class-30 {
  height: 431.35px !important;
  margin-bottom: -7.35px !important;
  margin-left: -35.33px !important;
  margin-right: -49.33px !important;
}

.element-px .section-graph-13 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
}

.element-px .section-title-68 {
  color: var(--dark-blue);
  flex: 1;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  margin-top: -1px;
  position: relative;
}

.element-px .frame-67 {
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
}

.element-px .frame-68 {
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-px .class-31 {
  margin-left: -32.69px !important;
  margin-right: -44.69px !important;
}

.element-px .class-32 {
  height: 423.34px !important;
  margin-left: -25.83px !important;
  margin-right: -37.83px !important;
}

.element-px .frame-69 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.element-px .div-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 100%;
}

.element-px .section-title-69 {
  color: var(--dark-blue);
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  margin-top: -1px;
  position: relative;
}

.element-px .text-wrapper-18 {
  text-decoration: underline;
}

.element-px .section-graph-14 {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 100px 48px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.element-px .graph-chart-12 {
  margin-right: -98px !important;
}

.element-px .graph-chart-13 {
  margin-right: -97.54px !important;
}

.element-px .graph-chart-14 {
  align-self: stretch !important;
  border-color: var(--white) !important;
  display: flex !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.element-px .graph-chart-15 {
  align-self: stretch !important;
  background-color: var(--green) !important;
  border-color: var(--white) !important;
  flex: 0 0 auto !important;
  padding: 24px 36px !important;
  width: 100% !important;
}

.element-px .section-graph-15 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 24px 48px 100px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.element-px .sub-topic-title-wrapper {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 100%;
}

.element-px .graph-chart-16 {
  align-self: stretch !important;
  margin-right: -2px !important;
  width: 100% !important;
}

.element-px .graph-chart-17 {
  width: 600px !important;
}

.element-px .graph-chart-18 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  padding: 24px 36px !important;
  width: 100% !important;
}

.element-px .footer-3 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 36px 0px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.element-px .section-title-70 {
  color: var(--dark-blue);
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 312px;
}

.element-px .section-title-71 {
  color: var(--dark-blue);
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
  position: relative;
  text-align: center;
  width: 609px;
}

.element-px .BAAQMD-logo-4 {
  height: 55.51px;
  object-fit: cover;
  position: relative;
  width: 321px;
}

.element-px .section-graph-instance-wrapper {
  align-items: flex-start;
  background-color: var(--white);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 60px 0px 100px;
  position: relative;
  z-index: 3;
}

.element-px .section-graph-16 {
  flex: 0 0 auto !important;
  padding: 0px 24px !important;
}

.element-px .graph-chart-19 {
  align-self: stretch !important;
  background-color: var(--green) !important;
  border: unset !important;
  border-color: unset !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.element-px .graph-chart-20 {
  color: var(--white) !important;
  width: 279px !important;
}

.element-px .graph-chart-21 {
  color: var(--white) !important;
  margin-right: unset !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.element-px .graph-chart-22 {
  border-color: var(--white) !important;
}

.element-px .graph-chart-23 {
  align-self: stretch !important;
  border-color: var(--white) !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.element-px .section-graph-17 {
  background-color: var(--white) !important;
  flex: 0 0 auto !important;
  padding: 0px 24px 100px !important;
  z-index: 2 !important;
}

.element-px .graph-chart-24 {
  height: 25px !important;
}

.element-px .graph-chart-25 {
  width: 279px !important;
}

.element-px .graph-chart-26 {
  font-family: "Poppins", Helvetica !important;
  font-size: 15px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0.6px !important;
  line-height: 25.5px !important;
}

.element-px .footer-4 {
  flex: 0 0 auto !important;
  z-index: 0 !important;
}
