.opening-section {
  align-items: flex-start;
  background-color: var(--white);
  flex-direction: column;
  position: relative;
}

.opening-section .class {
  font-family: var(--body-text-mobile-font-family) !important;
  font-size: var(--body-text-mobile-font-size) !important;
  font-style: var(--body-text-mobile-font-style) !important;
  font-weight: var(--body-text-mobile-font-weight) !important;
  letter-spacing: var(--body-text-mobile-letter-spacing) !important;
  line-height: var(--body-text-mobile-line-height) !important;
}

.opening-section .class-2 {
  font-family: var(--body-text-desktop-font-family) !important;
  font-size: var(--body-text-desktop-font-size) !important;
  font-style: var(--body-text-desktop-font-style) !important;
  font-weight: var(--body-text-desktop-font-weight) !important;
  letter-spacing: var(--body-text-desktop-letter-spacing) !important;
  line-height: var(--body-text-desktop-line-height) !important;
}

.opening-section .class-3 {
  font-family: var(--body-text-mobile-bold-font-family) !important;
  font-size: var(--body-text-mobile-bold-font-size) !important;
  font-style: var(--body-text-mobile-bold-font-style) !important;
  font-weight: var(--body-text-mobile-bold-font-weight) !important;
  letter-spacing: var(--body-text-mobile-bold-letter-spacing) !important;
  line-height: var(--body-text-mobile-bold-line-height) !important;
}

.opening-section .class-4 {
  font-family: var(--body-text-desktop-bold-font-family) !important;
  font-size: var(--body-text-desktop-bold-font-size) !important;
  font-style: var(--body-text-desktop-bold-font-style) !important;
  font-weight: var(--body-text-desktop-bold-font-weight) !important;
  letter-spacing: var(--body-text-desktop-bold-letter-spacing) !important;
  line-height: var(--body-text-desktop-bold-line-height) !important;
}

.opening-section .frame-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 327px;
}

.opening-section .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.opening-section .p {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h2-mobile-font-family);
  font-size: var(--h2-mobile-font-size);
  font-style: var(--h2-mobile-font-style);
  font-weight: var(--h2-mobile-font-weight);
  letter-spacing: var(--h2-mobile-letter-spacing);
  line-height: var(--h2-mobile-line-height);
  margin-top: -1px;
  position: relative;
}

.opening-section .text-wrapper-3 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--pull-quote-mobile-font-family);
  font-size: var(--pull-quote-mobile-font-size);
  font-style: var(--pull-quote-mobile-font-style);
  font-weight: var(--pull-quote-mobile-font-weight);
  letter-spacing: var(--pull-quote-mobile-letter-spacing);
  line-height: var(--pull-quote-mobile-line-height);
  position: relative;
}

.opening-section.resolution-9-desktop {
  display: flex;
  padding: 160px 0px 80px 145px;
  width: 1920px;
}

.opening-section.resolution-9-mobile {
  display: inline-flex;
  padding: 100px 24px 24px;
}
