.home-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--white);
}

.home-wrapper .block-of-text-instance {
  align-self: stretch;
  background-color: var(--blue);
  display: flex;
  flex: 0 0 auto;
  left: unset;
  padding: 36px 24px;
  top: unset;
  width: 100%;
  z-index: 8;
}

.home-wrapper .block-of-text-2 {
  align-self: stretch;
  background-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  left: unset;
  padding: 36px 24px;
  top: unset;
  width: 100%;
  z-index: 7;
}

.home-wrapper .title-section-7 {
  align-self: stretch;
  flex: 0 0 auto;
  left: unset;
  top: unset;
  width: 100%;
  z-index: 6;
}

.home-wrapper .title-section-8 {
  background-image: url(../../../static/img/frame-19722-8.png);
}

.home-wrapper .block-of-text-3 {
  align-self: stretch;
  background-color: var(--light-blue);
  display: flex;
  flex: 0 0 auto;
  left: unset;
  padding: 36px 24px;
  top: unset;
  width: 100%;
  z-index: 5;
}

.home-wrapper .title-section-9 {
  align-self: stretch;
  flex: 0 0 auto;
  left: unset;
  top: unset;
  width: 100%;
  z-index: 4;
}

.home-wrapper .title-section-10 {
  background-image: url(../../../static/img/frame-19722-9.png);
}

.home-wrapper .block-of-text-4 {
  align-self: stretch;
  text-align: unset;
  white-space: unset;
  width: unset;
}

.home-wrapper .class-43 {
  text-align: unset;
}

.home-wrapper .block-of-text-5 {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.home-wrapper .block-of-text-6 {
  align-self: stretch;
  white-space: unset;
  width: unset;
}

.home-wrapper .block-of-text-7 {
  align-self: stretch;
  background-color: var(--green);
  display: flex;
  flex: 0 0 auto;
  left: unset;
  padding: 36px 24px;
  top: unset;
  width: 100%;
  z-index: 3;
}

.home-wrapper .title-section-11 {
  align-self: stretch;
  flex: 0 0 auto;
  left: unset;
  top: unset;
  width: 100%;
  z-index: 2;
}

.home-wrapper .title-section-12 {
  background-image: url(../../../static/img/frame-19722-10.png);
}

.home-wrapper .topics-instance-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.home-wrapper .topics-6 {
  height: 12px;
  margin-right: unset;
  width: 12px;
}

.home-wrapper .topics-7 {
  color: var(--white);
}

.home-wrapper .topics-8 {
  align-self: stretch;
  flex: 0 0 auto;
  justify-content: center;
  left: unset;
  top: unset;
  width: 100%;
}

.home-wrapper .topics-9 {
  left: unset;
  top: unset;
}

.home-wrapper .row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  z-index: 4;
}

.home-wrapper .block-of-text-8 {
  align-self: stretch;
  background-color: var(--blue);
  flex: 0 0 auto;
  left: unset;
  padding: 24px 36px;
  top: unset;
}

.home-wrapper .image-square-2 {
  background-image: url(../../../static/img/image-square-4-2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  flex-grow: 1;
  height: 384px;
  position: relative;
}

.home-wrapper .block-of-text-9 {
  align-self: stretch;
  background-color: var(--dark-blue);
  flex: 0 0 auto;
  left: unset;
  padding: 24px 36px;
  top: unset;
}

.home-wrapper .row-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  z-index: 3;
}

.home-wrapper .image-large {
  background-image: url(../../../static/img/image-large.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  flex-grow: 1;
  height: 768px;
  position: relative;
}

.home-wrapper .frame-65 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.home-wrapper .frame-66 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.home-wrapper .block-of-text-10 {
  align-self: stretch;
  background-color: var(--light-blue);
  display: flex;
  flex: 1;
  flex-grow: 1;
  left: unset;
  padding: 24px 36px;
  top: unset;
}

.home-wrapper .block-of-text-11 {
  margin-left: -39.38px;
  margin-right: -39.38px;
}

.home-wrapper .image-square-3 {
  background-image: url(../../../static/img/image-square-5-2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  flex-grow: 1;
  height: 384px;
  position: relative;
}

.home-wrapper .block-of-text-12 {
  align-self: stretch;
  background-color: var(--green);
  display: flex;
  flex: 1;
  flex-grow: 1;
  left: unset;
  padding: 24px 36px;
  top: unset;
  width: 100%;
}

.home-wrapper .row-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  z-index: 2;
}

.home-wrapper .frame-67 {
  align-items: center;
  align-self: stretch;
  background-color: var(--dark-blue);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 80px 60px;
  position: relative;
}

.home-wrapper .topics-10 {
  border-color: var(--black);
  left: unset;
  top: unset;
}

.home-wrapper .adobestock {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  object-fit: cover;
  position: relative;
}

.home-wrapper .row-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

.home-wrapper .rectangle-23 {
  align-self: stretch;
  background-color: var(--light-blue);
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.home-wrapper .rectangle-24 {
  height: 384px;
  object-fit: cover;
  position: relative;
  width: 512px;
}

.home-wrapper .rectangle-25 {
  align-self: stretch;
  background-color: var(--blue);
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.home-wrapper .class-44 {
  align-self: stretch;
  flex: 0 0 auto;
  left: unset;
  top: unset;
  width: 100%;
  z-index: 0;
}

.home-wrapper .class-45 {
  align-self: stretch;
  left: unset;
  top: unset;
  width: 100%;
  z-index: 0;
}
