.home-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--white);
}

/* ------------------------------ FIRST ROW SECTION ------------------------- */

.row {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
}

.row-desktop {
  grid-template-columns: 40% 60%;
  width: 100%;
}

.row-mobile {
  flex-direction: column;
  width: 100%;
}

.right-block-section {
  display: flex;
}

.block-of-text-8 {
  background-color: var(--blue);
  padding: 24px 36px;
}

.image-square-2 {
  background-image: url(../../../static/img/image-square-4-2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  flex-grow: 1;
  height: 350px;
}

.block-of-text-9 {
  align-self: stretch;
  background-color: var(--dark-blue);
  padding: 24px 36px;
  width: 70%;
}

/* ------------------------------ SECOND ROW SECTION ------------------------- */

.image-large {
  background-image: url(../../../static/img/image-large.png);
  background-position: bottom;
  background-size: cover;
  flex: 1;
  height: 768px;
}

.frame-65 {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.frame-66 {
  display: grid;
  grid-template-columns: 65% 35%;
}

.block-of-text-10 {
  align-self: stretch;
  background-color: var(--light-blue);
  display: flex;
  flex: 1;
  padding: 24px 36px;
}

.image-square-3 {
  background-image: url(../../../static/img/image-square-5-2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  flex-grow: 1;
  height: 350px;
}

.block-of-text-12 {
  align-self: stretch;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 24px 36px;
  width: 100%;
}

/* ------------------------------ THIRD ROW SECTION ------------------------- */

.topic-row {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
}

.frame-67 {
  align-items: center;
  align-self: stretch;
  background-color: var(--dark-blue);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 80px 60px;
}

.topics-6 {
  height: 12px;
  width: 12px;
}

.topics-7 {
  color: var(--white);
}

.topics-8 {
  align-self: stretch;
  justify-content: center;
  padding: 0 100px;
  width: 100%;
}

.topics-10 {
  border-color: var(--black);
  left: unset;
  top: unset;
}

.image-expand {
  background-image: url(../../../static/img/adobestock-526164757-1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  height: 800px;
}

/* ------------------------------ FOURTH ROW SECTION ------------------------- */

.bottom-row {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
}

.rectangle {
  height: 100%;
  width: 100%;
  align-self: stretch;
  background-color: var(--blue);
}

.rectangle:nth-child(1) {
  background-color: var(--light-blue);
}

.rectangle-24 {
  height: 360px;
  object-fit: cover;
  width: 100%;
}

/* ------------------------------ MEDIA QUERIES ------------------------- */
@media (max-width: 1440px) {
  .section-title {
    font-family: var(--h1-mobile-font-family);
    font-size: var(--h1-mobile-font-size);
    font-style: var(--h1-mobile-font-style);
    font-weight: var(--h1-mobile-font-weight);
    letter-spacing: var(--h1-mobile-letter-spacing);
    line-height: var(--h1-mobile-line-height);
  }

  .image-square-2 {
    height: 250px;
  }

  .topics-8 {
    padding: 0 80px;
  }

  .image-expand {
    height: 600px;
  }

  .topics-8 .header-text {
    font-family: var(--h3-mobile-font-family);
    font-size: var(--h3-mobile-font-size);
    font-style: var(--h3-mobile-font-style);
    font-weight: var(--h3-mobile-font-weight);
    letter-spacing: var(--h3-mobile-letter-spacing);
    line-height: var(--h3-mobile-line-height);
  }

  .topics-8 .text-body {
    font-family: var(--body-text-mobile-font-family);
    font-size: var(--body-text-mobile-font-size);
    font-style: var(--body-text-mobile-font-style);
    font-weight: var(--body-text-mobile-font-weight);
    letter-spacing: var(--body-text-mobile-letter-spacing);
    line-height: var(--body-text-mobile-line-height);
  }
}

@media (min-width: 1081px) {
  .row-desktop {
    display: grid;
  }

  .row-mobile {
    display: none;
  }
}

@media (max-width: 1080px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .row-desktop {
    display: none;
  }

  .row-mobile {
    display: flex;
  }

  .topic-row {
    display: flex;
    flex-direction: column-reverse;
    .frame-67 {
      padding: 80px 30px;
    }
  }

  .bottom-row {
    display: none;
  }

  .topics-8 {
    padding: 0;
  }

  .right-block-section {
    flex-direction: column-reverse;
  }

  .block-of-text-8,
  .block-of-text-9 {
    width: 100%;
  }

  .block-of-text-12 .section-title {
    text-wrap: wrap;
    text-align: left;
  }

  .image-square-2 {
    flex: auto;
    height: 500px;
  }

  .image-large {
    flex: auto;
    height: 500px;
  }

  .image-expand {
    height: 400px;
  }
}
