.internal-menu {
  align-items: center;
  background-color: var(--dark-blue);
  display: flex;
  width: 100%;
  padding: 40px 60px;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 5px;
  color: var(--white);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

button:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}

.menu-arrow-svg {
  height: 50px;
  width: 50px;
}

.menu-viewer {
  padding: 0;
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-viewer:hover .square-block {
  background-color: var(--dark-blue);
}

.grid-group {
  padding: 7px;
  height: 50px;
  width: 50px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 3px;
  transition: all .2s ease-in-out;
}

.square-block {
  transition: all .2s ease-in-out;
  background-color: var(--white);
}

@media (max-width: 1080px) {
  .internal-menu {
    padding: 40px 20px;
  }
}
