.stat-section {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
}

.stat-section .section-title-7 {
  color: var(--dark-blue);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.stat-section.resolution-22-desktop {
  width: 1920px;
}

.stat-section.resolution-22-mobile {
  padding: 36px 24px;
  top: 40px;
  width: 375px;
}

.stat-section.title-true {
  gap: 24px;
}

.stat-section.right.title-false {
  left: 3310px;
  top: 40px;
}

.stat-section.resolution-22-desktop.centered {
  left: 20px;
  padding: 160px 0px 160px 280px;
}

.stat-section.title-true.resolution-22-mobile {
  left: 5415px;
}

.stat-section.resolution-22-desktop.right {
  padding: 160px 0px 160px 480px;
}

.stat-section.resolution-22-desktop.title-true.two {
  top: 696px;
}

.stat-section.resolution-22-desktop.centered.three {
  top: 20px;
}

.stat-section.resolution-22-desktop.title-true.right {
  left: 3313px;
  top: 696px;
}

.stat-section.centered.two.resolution-22-mobile.title-false {
  left: 2582px;
}

.stat-section.resolution-22-desktop.centered.two.title-false {
  top: 684px;
}

.stat-section.centered.three.resolution-22-mobile.title-false {
  left: 2112px;
}

.stat-section.resolution-22-desktop .section-title-7 {
  font-family: var(--h3-desktop-font-family);
  font-size: var(--h3-desktop-font-size);
  font-style: var(--h3-desktop-font-style);
  font-weight: var(--h3-desktop-font-weight);
  letter-spacing: var(--h3-desktop-letter-spacing);
  line-height: var(--h3-desktop-line-height);
}

.stat-section.resolution-22-mobile .section-title-7 {
  font-family: var(--h3-mobile-font-family);
  font-size: var(--h3-mobile-font-size);
  font-style: var(--h3-mobile-font-style);
  font-weight: var(--h3-mobile-font-weight);
  letter-spacing: var(--h3-mobile-letter-spacing);
  line-height: var(--h3-mobile-line-height);
}
