.header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  left: 20px;
  position: relative;
}

.header .BAAQMD-logo {
  object-fit: cover;
  position: relative;
}

.header .frame {
  position: relative;
}

.header .text-wrapper {
  color: var(--dark-blue);
  font-family: "Proxima Nova-Semibold", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.12px;
  line-height: 19.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .air-quality {
  color: var(--dark-blue);
  display: block;
  font-family: "Proxima Nova-Semibold", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.12px;
  line-height: 19.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .class {
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 12px 8px !important;
  top: unset !important;
}

.header .class-2 {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.header.tablet {
  height: 90px;
  padding: 24px 16px;
  top: 477px;
  width: 768px;
}

.header.mobile {
  height: 90px;
  padding: 24px 16px;
  top: 348px;
  width: 375px;
}

.header.desktop-1920 {
  height: 110px;
  padding: 24px 40px;
  top: 21px;
  width: 1920px;
}

.header.desktop-1025 {
  height: 110px;
  padding: 24px 16px;
  top: 174px;
  width: 1025px;
}

.header.tablet .BAAQMD-logo {
  height: 32.19px;
  width: 186.15px;
}

.header.mobile .BAAQMD-logo {
  height: 32.19px;
  width: 186.15px;
}

.header.desktop-1920 .BAAQMD-logo {
  height: 44.27px;
  width: 256px;
}

.header.desktop-1025 .BAAQMD-logo {
  height: 31.1px;
  width: 215px;
}

.header.tablet .frame {
  background-image: url(../../../static/img/menuhamburguer-16.png);
  background-size: 100% 100%;
  height: 32px;
  width: 32px;
}

.header.mobile .frame {
  background-image: url(../../../static/img/menuhamburguer-16.png);
  background-size: 100% 100%;
  height: 32px;
  width: 32px;
}

.header.desktop-1920 .frame {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 50px;
  justify-content: flex-end;
}

.header.desktop-1025 .frame {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 747px;
}
