.section-graph {
  gap: 36px;
  position: relative;
}

.section-graph .frame-17 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
}

.section-graph .instance-node-2 {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.section-graph .graph-bar-caption-component {
  display: inline-flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: unset !important;
}

.section-graph .graph-bar-caption-instance {
  color: var(--dark-gray) !important;
}

.section-graph .frame-18 {
  flex: 0 0 auto;
  gap: 36px;
  position: relative;
}

.section-graph .frame-19 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.section-graph .graph-chart-line-instance {
  height: 31px !important;
  justify-content: space-around !important;
  left: unset !important;
  top: unset !important;
  width: 447px !important;
}

.section-graph .graph-chart-line-2 {
  justify-content: space-between !important;
}

.section-graph .graph-chart-line-3 {
  white-space: nowrap !important;
  width: fit-content !important;
}

.section-graph .graph-chart-line-4 {
  display: inline-flex !important;
  flex: 0 0 auto !important;
  flex-grow: unset !important;
  justify-content: unset !important;
}

.section-graph .class-24 {
  left: unset !important;
  top: unset !important;
}

.section-graph .instance-node-3 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.section-graph .graph-bar-caption-component-instance {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.section-graph .graph-bar {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.section-graph .frame-20 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 0.42px solid;
  border-color: var(--dark-blue);
  border-radius: 8.36px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6.69px;
  padding: 25.09px 0px;
  position: relative;
  width: 100%;
}

.section-graph .frame-21 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10.45px;
  height: 147.59px;
  position: relative;
}

.section-graph .graph-bar-line {
  height: 20.49px;
  position: relative;
  width: 289.75px;
}

.section-graph .section-title-9 {
  color: var(--dark-blue);
  font-family: var(--body-text-desktop-font-family);
  font-size: var(--body-text-desktop-font-size);
  font-style: var(--body-text-desktop-font-style);
  font-weight: var(--body-text-desktop-font-weight);
  left: 0;
  letter-spacing: var(--body-text-desktop-letter-spacing);
  line-height: var(--body-text-desktop-line-height);
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.section-graph .group {
  height: 20px;
  left: 30px;
  position: absolute;
  top: 0;
  width: 264px;
}

.section-graph .overlap-group {
  background-color: var(--blue);
  height: 20px;
  position: relative;
  width: 260px;
}

.section-graph .overlap {
  background-color: var(--gray);
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 123px;
}

.section-graph .section-title-10 {
  color: var(--white);
  font-family: var(--h5-desktop-font-family);
  font-size: var(--h5-desktop-font-size);
  font-style: var(--h5-desktop-font-style);
  font-weight: var(--h5-desktop-font-weight);
  left: 9px;
  letter-spacing: var(--h5-desktop-letter-spacing);
  line-height: var(--h5-desktop-line-height);
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.section-graph .section-title-11 {
  color: var(--white);
  font-family: var(--h5-desktop-font-family);
  font-size: var(--h5-desktop-font-size);
  font-style: var(--h5-desktop-font-style);
  font-weight: var(--h5-desktop-font-weight);
  left: 226px;
  letter-spacing: var(--h5-desktop-letter-spacing);
  line-height: var(--h5-desktop-line-height);
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.section-graph .graph-pie-instance {
  height: 187.85px !important;
  margin-bottom: unset !important;
  width: 277.67px !important;
}

.section-graph .graph-pie-2 {
  height: 168px !important;
  top: 8px !important;
  width: 274px !important;
}

.section-graph .graph-pie-3 {
  height: 164px !important;
  left: 55px !important;
  top: 4px !important;
  width: 164px !important;
}

.section-graph .graph-pie-4 {
  height: 163px !important;
  left: 55px !important;
  top: 4px !important;
  width: 82px !important;
}

.section-graph .graph-pie-5 {
  align-self: stretch !important;
  border: 0.42px solid !important;
  border-radius: 8.36px !important;
  flex: 0 0 auto !important;
  gap: 10.03px !important;
  height: unset !important;
  padding: 24px 8px !important;
  width: 100% !important;
}

.section-graph .graph-pie-6 {
  left: 219px !important;
  top: 130px !important;
}

.section-graph .design-component-instance-node {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 375px !important;
}

.section-graph.title-top {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.section-graph.resolution-49-tablet {
  align-items: flex-end;
  left: 20px;
}

.section-graph.title-left {
  background-color: var(--white);
  display: flex;
  justify-content: flex-end;
  padding: 0px 30px 0px 0px;
  width: 1920px;
}

.section-graph.title-with-graph {
  flex-direction: column;
}

.section-graph.resolution-49-mobile {
  display: flex;
}

.section-graph.title-top.resolution-49-mobile {
  width: 375px;
}

.section-graph.chart-caption-yes.resolution-49-mobile {
  align-items: flex-end;
}

.section-graph.resolution-49-desktop.title-left {
  align-items: flex-start;
}

.section-graph.title-top.chart-caption-no {
  top: 20px;
}

.section-graph.resolution-49-tablet.title-top {
  padding: 0px 0px 0px 48px;
  width: 768px;
}

.section-graph.title-top.chart-caption-yes {
  align-items: flex-end;
}

.section-graph.chart-caption-z.title-top {
  left: 20px;
}

.section-graph.resolution-49-tablet.title-left {
  top: 1662px;
}

.section-graph.chart-caption-z.resolution-49-mobile {
  align-items: flex-start;
  left: 20px;
}

.section-graph.resolution-49-tablet.chart-caption-yes {
  top: 1662px;
}

.section-graph.resolution-49-desktop.title-with-graph {
  align-items: flex-end;
  display: inline-flex;
  left: 20px;
  top: 1909px;
}

.section-graph.title-with-graph.resolution-49-mobile {
  top: 79px;
  width: 375px;
}

.section-graph.chart-caption-z.title-with-graph {
  left: 20px;
}

.section-graph.resolution-49-tablet.title-with-graph {
  padding: 0px 0px 0px 48px;
  top: 1662px;
  width: 768px;
}

.section-graph.resolution-49-desktop.title-top {
  align-items: flex-end;
  left: 20px;
  padding: 0px 30px 0px 0px;
  width: 1920px;
}

.section-graph.chart-caption-z.resolution-49-tablet {
  top: 1662px;
}

.section-graph.title-with-graph.chart-caption-yes {
  align-items: flex-end;
}

.section-graph.resolution-49-desktop.chart-caption-yes.title-left {
  left: 2268px;
}

.section-graph.title-with-graph.chart-caption-yes.resolution-49-mobile {
  left: 4392px;
}

.section-graph.graphs-zero.title-left.resolution-49-mobile {
  top: 1521px;
}

.section-graph.chart-caption-no.title-left.resolution-49-mobile {
  align-items: flex-start;
  left: 2298px;
}

.section-graph.graphs-zero.title-with-graph.resolution-49-mobile {
  padding: 0px 0px 0px 24px;
}

.section-graph.chart-caption-yes.title-left.resolution-49-mobile {
  left: 2268px;
}

.section-graph.resolution-49-desktop.graphs-zero.title-left {
  top: 1415px;
}

.section-graph.title-with-graph.chart-caption-no.resolution-49-mobile {
  align-items: flex-start;
  left: 4392px;
}

.section-graph.graphs-zero.title-top.resolution-49-mobile {
  padding: 0px 0px 0px 24px;
}

.section-graph.resolution-49-desktop.chart-caption-no.title-left {
  left: 2298px;
}

.section-graph.title-with-graph.graphs-one.chart-caption-yes.resolution-49-mobile {
  padding: 0px 24px;
}

.section-graph.chart-caption-z.graphs-two.title-left.resolution-49-mobile {
  top: 927px;
}

.section-graph.resolution-49-desktop.title-top.chart-caption-yes.graphs-one {
  top: 707px;
}

.section-graph.resolution-49-desktop.title-top.graphs-two.chart-caption-yes {
  top: 707px;
}

.section-graph.resolution-49-desktop.graphs-zero.title-top.chart-caption-yes {
  top: 1415px;
}

.section-graph.title-top.graphs-two.chart-caption-yes.resolution-49-mobile {
  left: 4911px;
  padding: 0px 24px;
  top: 526px;
}

.section-graph.resolution-49-desktop.chart-caption-yes.graphs-two.title-left {
  top: 927px;
}

.section-graph.resolution-49-desktop.chart-caption-z.title-top.graphs-two {
  top: 526px;
}

.section-graph.resolution-49-desktop.chart-caption-z.graphs-two.title-left {
  top: 927px;
}

.section-graph.chart-caption-z.graphs-zero.title-top.resolution-49-mobile {
  top: 1521px;
}

.section-graph.chart-caption-no.graphs-two.title-left.resolution-49-mobile {
  top: 2028px;
}

.section-graph.chart-caption-z.title-top.graphs-one.resolution-49-mobile {
  top: 528px;
}

.section-graph.title-top.graphs-one.chart-caption-yes.resolution-49-mobile {
  left: 4405px;
  padding: 0px 24px;
  top: 528px;
}

.section-graph.resolution-49-desktop.graphs-one.title-left.chart-caption-yes {
  top: 59px;
}

.section-graph.chart-caption-no.resolution-49-mobile.title-left.graphs-one {
  top: 2028px;
}

.section-graph.title-with-graph.graphs-two.chart-caption-yes.resolution-49-mobile {
  padding: 0px 24px;
}

.section-graph.title-top.graphs-one.chart-caption-no.resolution-49-mobile {
  left: 4405px;
}

.section-graph.title-top.graphs-two.chart-caption-no.resolution-49-mobile {
  left: 4911px;
}

.section-graph.chart-caption-yes.graphs-one.title-left.resolution-49-mobile {
  top: 59px;
}

.section-graph.chart-caption-z.title-top.graphs-two.resolution-49-mobile {
  top: 526px;
}

.section-graph.chart-caption-yes.graphs-two.title-left.resolution-49-mobile {
  top: 927px;
}

.section-graph.graphs-zero.title-top.chart-caption-yes.resolution-49-mobile {
  top: 1521px;
}

.section-graph.resolution-49-desktop.chart-caption-z.graphs-zero.title-top {
  top: 1415px;
}

.section-graph.resolution-49-desktop.chart-caption-no.title-left.graphs-one {
  top: 2028px;
}

.section-graph.resolution-49-desktop.chart-caption-no.graphs-two.title-left {
  top: 2028px;
}

.section-graph.resolution-49-tablet .frame-18 {
  display: inline-flex;
  justify-content: flex-end;
}

.section-graph.title-left .frame-18 {
  align-items: flex-end;
  flex-direction: column;
}

.section-graph.resolution-49-desktop .frame-18 {
  display: inline-flex;
  justify-content: flex-end;
}

.section-graph.resolution-49-mobile .frame-18 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.section-graph.resolution-49-tablet.title-with-graph .frame-18 {
  align-items: center;
}

.section-graph.resolution-49-desktop.title-top .frame-18 {
  align-items: center;
}

.section-graph.resolution-49-desktop.title-with-graph .frame-18 {
  align-items: center;
}

.section-graph.resolution-49-tablet.title-top .frame-18 {
  align-items: center;
}
