.reduce-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.emissions-wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 100%;
}

.text-block-emissions {
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: start;
  flex: 1;
  padding: 24px 36px;
  padding-left: 6%;
  width: 100%;
}

.image-reduce {
  background-image: url(../../../static/img/frame-19722.png);
  background-position: 50% 50%;
  background-size: cover;
  flex-grow: 1;
  height: 450px;
}

.margin-top-spacing {
  padding-top: 80px;
}

.climate-planning-section {
  background-color: var(--lighter-blue);
}

.climate-planning-section .topics-section-wrapper {
  background-color: var(--lighter-blue);
}

.quoted-info-card .card-wrapper {
  gap: 0;
  height: fit-content;
  justify-content: baseline;
}

.quoted-info-card .card-title {
  font-size: 145px;
  position: absolute;
}

.quoted-info-card .card-body {
  font-size: var(--pull-quote-desktop-font-size);
  margin-top: 70px;
}

.furnace-img {
  height: 100%;
  width: 100%;
  background-image: url(../../../static/img/rectangle-255-2-3.png);
  background-position: center;
  background-size: cover;
}

.graph-cards-wrapper {
  padding: 8% 0;
  background-color: var(--white);
  background-image: url(../../../static/img/frame-19851.png);
  background-position: bottom;
  background-size: cover;
  width: 100%;
}

.graph-inner {
  display: flex;
  flex-direction: column;
}

.graph-cards {
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding: 0 30px 0 20%;
}

.graph-header-wrapper {
  width: 30%;
}

.graph-card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.graph-card-container {
  background-color: var(--white);
  padding: 60px 100px;
  border-radius: 20px;
  border: 1px solid var(--dark-blue);
  display: flex;
  flex-direction: column;
  width: 70%;
}

.graph-header, .graph-subtitle {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--dark-blue);
  text-align: left;
  color: var(--dark-blue);
  width: fit-content;
  text-wrap: wrap;
  font-family: var(--h2-mobile-font-family);
  font-size: 35px;
  text-transform: uppercase;
  font-style: var(--h2-mobile-font-style);
  font-weight: var(--h2-mobile-font-weight);
  letter-spacing: var(--h2-mobile-letter-spacing);
  line-height: var(--h2-mobile-line-height);
}

.stat-wrapper, .bottom-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--dark-blue);
  padding-bottom: 10px;
}

.graph-subtitle, .graph-stat-wrapper, .graph-bottom-wrapper {
  font-size: 25px;
  padding-bottom: 0;
  border-bottom: none;
}

.graph-stat-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.graph-subtitle {
  text-transform: none;
}

.graph-stats-list-wrapper, .graph-bottom-list-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 15px;
}

.graph-details {
  gap: 20px;
}

.graph-detail-section {
  flex-direction: column;
  gap: 15px;
}

.graph-stat-wrapper, .graph-bottom-wrapper, .graph-bottom-subnote {
  margin-bottom: 0;
  color: var(--dark-gray);
}

.graph-bottom-subnote {
  margin-top: 15px;
}

.graph-statistic, .graph-bottom-subnote {
  font-family: var(--body-text-mobile-font-family);
  font-size: var(--body-text-tablet-font-size);
  font-style: var(--body-text-mobile-font-style);
  font-weight: var(--body-text-mobile-font-weight);
  letter-spacing: var(--body-text-mobile-letter-spacing);
  line-height: var(--body-text-mobile-line-height);
  width: fit-content;
  text-wrap: wrap;
}

.value, .values, .val-1, .val-2, .graph-bottom-subheader {
  font-family: var(--h2-mobile-font-family);
  font-size: 25px;
  font-style: var(--h2-mobile-font-style);
  font-weight: var(--h2-mobile-font-weight);
  letter-spacing: var(--h2-mobile-letter-spacing);
  line-height: var(--h2-mobile-line-height);
  text-wrap: wrap;
}

.values {
  display: flex;
  gap: 50px;
  justify-content: end;
}

.graph-bottom-list-wrapper {
  margin: 0;
  gap: 5px;
}

.graph-bottom-wrapper {
  padding-top: 10px;
  border-top: 1px solid var(--dark-blue);
  display: flex;
  justify-content: space-between;
}

.graph-stacked {
  flex-direction: column;
  gap: 8px;
}

.graph-stat-1, .graph-stat-2, .graph-bottom-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.graph-stat-1 {
  margin-top: 20px;
}

.graph-stat-2 {
  margin-left: 30px;
}

.graph-bg-blue {
  border: 1px solid var(--blue);
  background-color: var(--blue);
}

.graph-text-white {
  color: var(--white);
}

.graph-border-white {
  border-top: 1px solid var(--white);
}

.graph-wrapper-no-bg {
  background-image: none;
  background-color: var(--white);
  padding-top: 0;
}

/* ------------------------------ MEDIA QUERIES ------------------------- */

@media (min-width: 1600px) {
  .opening-text {
    width: 55%;
  }
}

@media (max-width: 1400px) {
  .graph-cards {
    padding: 60px 5%;
  }
}

@media (max-width: 1080px) {
  .emissions-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .margin-top-spacing {
    padding-top: 0;
  }

  .quoted-info-card .card-body {
    font-size: var(--pull-quote-mobile-font-size);
  }

  .graph-cards {
    gap: 80px;
  }

  .graph-wrapper {
    padding-bottom: 60px;
  }

  .graph-card-wrapper {
    padding: 0;
    flex-direction: column;
    gap: 40px;
  }

  .graph-header-wrapper, .graph-header, .graph-card-container {
    width: 100%;
  }

  .graph-header, .graph-card-title, .graph-subtitle {
    font-size: 30px;
  }

  .graph-card-container {
    padding: 30px;
  }

  .graph-subtitle, .value, .values, .val-1, .val-2 {
    font-size: 22px;
    letter-spacing: 1;
  }

  .graph-stats-list-wrapper {
    gap: 30px;
  }

  .graph-stat-wrapper {
    flex-direction: column;
  }

  .values {
    justify-content: left;
  }

  .graph-statistic {
    font-size: 16px;
    line-height: 1.5;
  }

  .graph-bottom-wrapper {
    border-top: none;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .graph-bottom-wrapper .values, .graph-bottom-wrapper .graph-bottom-subheader {
    padding-top: 15px;
    border-top: 1px solid var(--dark-blue);
    font-size: 22px;
  }

  .graph-bottom-subnote {
    font-size: 15px;
  }

  .graph-stacked {
    flex-direction: column;
    gap: 5px;
  }
  
  .graph-bottom-wrapper.graph-stacked {
    border-top: 1px solid var(--white);
    gap: 20px;
  }
  
  .graph-stat-1, .graph-stat-2, .graph-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
  }

  .graph-stat-1, .graph-stat-2 {
    gap: 5px;
  }

  .graph-bottom-section .graph-bottom-subheader, .graph-bottom-section .values {
    border-top: none;
  }
  
  .graph-stat-1 {
    margin-top: 15px;
  }
  
  .graph-stat-2 {
    margin-left: 0;
  }
  
}

/* ------------------------------ NO MODIFICATIONS FROM THIS POINT ------------------------- */

.reduce-wrapper .header-6 {
  width: 100% !important;
  z-index: 23 !important;
}

.reduce-wrapper .title-section-29 {
  white-space: unset !important;
  width: unset !important;
}

.reduce-wrapper .title-section-30 {
  width: 100% !important;
  z-index: 22 !important;
}

.reduce-wrapper .class-97 {
  margin-right: -55px !important;
  text-align: unset !important;
  white-space: unset !important;
  width: 327px !important;
}

.reduce-wrapper .class-98 {
  text-align: unset !important;
  white-space: unset !important;
  width: 327px !important;
}

.reduce-wrapper .title-section-31 {
  background-image: url(../../../static/img/frame-19722-3.png) !important;
}

.reduce-wrapper .title-section-32 {
  align-items: flex-start !important;

  background-color: var(--green) !important;
  display: flex !important;

  padding: 36px 24px !important;

  width: 100% !important;
}

.reduce-wrapper .title-section-33 {
  margin-right: -712px !important;
}

.reduce-wrapper .opening-section-10 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
  z-index: 21;
}

.reduce-wrapper .opening-text-7 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
}

.reduce-wrapper .frame-124 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
}

.reduce-wrapper .AB-community-8 {
  color: var(--dark-blue);
  margin-top: -1px;
}

.reduce-wrapper .we-continued-to-work-9 {
  color: var(--dark-blue);
  font-family: "Poppins", Helvetica;
  font-weight: 400;
}

.reduce-wrapper .topics-section-16 {
  width: 100% !important;
  z-index: 20 !important;
}

.reduce-wrapper .topics-section-17 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .topics-18 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .div-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;

  width: 100%;
}

.reduce-wrapper .the-grant-program-11 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  margin-top: -1px;
}

.reduce-wrapper .text-wrapper-33 {
  font-family: var(--body-text-mobile-bold-font-family);
  font-size: var(--body-text-mobile-bold-font-size);
  font-style: var(--body-text-mobile-bold-font-style);
  font-weight: var(--body-text-mobile-bold-font-weight);
  letter-spacing: var(--body-text-mobile-bold-letter-spacing);
  line-height: var(--body-text-mobile-bold-line-height);
}

.reduce-wrapper .james-cary-smith-9 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h3-desktop-font-family);
  font-size: var(--h3-desktop-font-size);
  font-style: var(--h3-desktop-font-style);
  font-weight: var(--h3-desktop-font-weight);
  letter-spacing: var(--h3-desktop-letter-spacing);
  line-height: var(--h3-desktop-line-height);
  margin-top: -1px;
}

.reduce-wrapper .the-grant-program-12 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 35.7px;
}

.reduce-wrapper .text-wrapper-34 {
  font-family: var(--body-text-desktop-font-family);
  font-size: var(--body-text-desktop-font-size);
  font-style: var(--body-text-desktop-font-style);
  font-weight: var(--body-text-desktop-font-weight);
  letter-spacing: var(--body-text-desktop-letter-spacing);
  line-height: var(--body-text-desktop-line-height);
}

.reduce-wrapper .text-wrapper-35 {
  font-family: var(--body-text-desktop-bold-font-family);
  font-size: var(--body-text-desktop-bold-font-size);
  font-style: var(--body-text-desktop-bold-font-style);
  font-weight: var(--body-text-desktop-bold-font-weight);
  letter-spacing: var(--body-text-desktop-bold-letter-spacing);
  line-height: var(--body-text-desktop-bold-line-height);
}

.reduce-wrapper .stat-section-17 {
  padding: 0px 60px 0px 240px !important;

  width: 100% !important;
  z-index: 18 !important;
}

.reduce-wrapper .stat-section-18 {
  flex: 1 !important;
  flex-grow: 1 !important;
  height: unset !important;

  width: unset !important;
}

.reduce-wrapper .stat-section-19 {
  margin-right: -11.33px !important;
}

.reduce-wrapper .instance-node-15 {
  display: flex !important;

  width: 100% !important;
}

.reduce-wrapper .stat-section-20 {
  flex: 1 !important;
  flex-grow: 1 !important;
  gap: 24px !important;
  height: unset !important;
  justify-content: unset !important;

  width: unset !important;
}

.reduce-wrapper .stat-section-21 {
  margin-right: -38.33px !important;
}

.reduce-wrapper .hightlight-blurb-17 {
  font-family: var(--h3-desktop-font-family) !important;
  font-size: var(--h3-desktop-font-size) !important;
  font-style: var(--h3-desktop-font-style) !important;
  font-weight: var(--h3-desktop-font-weight) !important;
  letter-spacing: var(--h3-desktop-letter-spacing) !important;
  line-height: var(--h3-desktop-line-height) !important;
}

.reduce-wrapper .hightlight-blurb-18 {
  width: 100% !important;
}

.reduce-wrapper .hightlight-blurb-19 {
  padding: 160px 60px !important;

  width: 100% !important;
  z-index: 17 !important;
}

.reduce-wrapper .hightlight-blurb-20 {
  background-color: var(--gray) !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
}

.reduce-wrapper .frame-125 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .topics-section-18 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 60px 240px;

  width: 100%;
}

.reduce-wrapper .topics-19 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;

  width: 100%;
}

.reduce-wrapper .stat-section-22 {
  background-color: unset !important;

  padding: 0px 60px 160px 240px !important;

  width: 100% !important;
}

.reduce-wrapper .stat-section-23 {
  flex: 1 !important;
  flex-grow: 1 !important;
  height: unset !important;

  padding: 16px 40px !important;

  width: unset !important;
}

.reduce-wrapper .stat-section-24 {
  margin-top: -50px !important;
}

.reduce-wrapper .stat-section-25 {
  margin-top: -1.08px !important;
}

.reduce-wrapper .hightlight-blurb-21 {
  background-color: unset !important;

  padding: 0px 60px 160px !important;

  width: 100% !important;
}

.reduce-wrapper .instance-node-16 {
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
}

.reduce-wrapper .topics-20 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .james-cary-smith-10 {
  align-self: stretch;
  color: var(--dark-blue);
  margin-top: -1px;
}

.reduce-wrapper .the-grant-program-13 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-weight: 400;
}

.reduce-wrapper .topics-section-19 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 160px 0px 160px 240px;

  width: 100%;
  z-index: 15;
}

.reduce-wrapper .hightlight-blurb-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0px 60px 160px;

  width: 100%;
  z-index: 14;
}

.reduce-wrapper .div-10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;

  width: 100%;
}

.reduce-wrapper .stat-7 {
  border-radius: 20px 0px 0px 20px !important;
  height: unset !important;
}

.reduce-wrapper .frame-126 {
  align-items: flex-start;
  background-color: var(--blue);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 60px;
}

.reduce-wrapper .james-cary-smith-11 {
  align-self: stretch;
  color: var(--white);
  font-family: var(--h3-desktop-font-family);
  font-size: var(--h3-desktop-font-size);
  font-style: var(--h3-desktop-font-style);
  font-weight: var(--h3-desktop-font-weight);
  letter-spacing: var(--h3-desktop-letter-spacing);
  line-height: var(--h3-desktop-line-height);
  margin-top: -1px;
}

.reduce-wrapper .the-grant-program-14 {
  align-self: stretch;
  color: var(--white);
  font-family: "Poppins", Helvetica;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 35.7px;
}

.reduce-wrapper .hightlight-blurb-22 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0px 60px 160px;

  width: 100%;
  z-index: 13;
}

.reduce-wrapper .frame-127 {
  align-items: flex-start;
  background-color: var(--dark-blue);
  border-radius: 20px 0px 0px 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 60px;
}

.reduce-wrapper .instance-node-17 {
  width: 100% !important;
}

.reduce-wrapper .instance-node-18 {
  color: var(--white) !important;
}

.reduce-wrapper .stat-8 {
  border-radius: 0px 20px 20px 0px !important;
  height: unset !important;
}

.reduce-wrapper .frame-128 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #e0f1f0cc;
  background-image: url(../../../static/img/frame-19849.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 160px 0px 0px;

  width: 100%;
  z-index: 12;
}

.reduce-wrapper .section-graph-35 {
  align-items: flex-start !important;

  background-color: unset !important;

  padding: 0px 0px 120px 240px !important;

  width: 100% !important;
}

.reduce-wrapper .section-graph-36 {
  flex: 1 !important;
  white-space: unset !important;
  width: unset !important;
}

.reduce-wrapper .graphs-carrousel {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 0px 160px;

  width: 100%;
}

.reduce-wrapper .frame-129 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 80px;
  padding: 0px 0px 0px 250px;

  width: 100%;
}

.reduce-wrapper .section-graph-37 {
  margin-right: -155px !important;
}

.reduce-wrapper .graph-chart-27 {
  color: var(--dark-blue) !important;
}

.reduce-wrapper .instance-node-19 {
}

.reduce-wrapper .graph-chart-28 {
  height: 62px !important;
}

.reduce-wrapper .graph-chart-29 {
  font-family: "Poppins", Helvetica !important;
  font-size: 21px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0.84px !important;
  line-height: 35.7px !important;
}

.reduce-wrapper .section-graph-38 {
  margin-right: -1165px !important;
}

.reduce-wrapper .section-graph-39 {
  margin-right: -2175px !important;
}

.reduce-wrapper .graph-chart-30 {
  flex: 1 !important;
  flex-grow: 1 !important;
}

.reduce-wrapper .section-graph-40 {
  margin-right: -3185px !important;
}

.reduce-wrapper .instance-node-20 {
  background-color: unset !important;

  width: 100% !important;
}

.reduce-wrapper .hightlight-blurb-section-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 160px 60px 0px;

  width: 100%;
  z-index: 11;
}

.reduce-wrapper .hightlight-blurb-23 {
  background-color: var(--green) !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
}

.reduce-wrapper .topics-section-20 {
  width: 100% !important;
  z-index: 10 !important;
}

.reduce-wrapper .topics-section-21 {
  margin-right: unset !important;
  width: 100% !important;
}

.reduce-wrapper .element-image-2 {
  align-items: flex-start !important;

  padding: 0px 0px 0px 240px !important;

  width: 100% !important;
  z-index: 9 !important;
}

.reduce-wrapper .element-image-3 {
  object-fit: cover !important;
  width: 100% !important;
}

.reduce-wrapper .topics-section-22 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 160px 0px 0px 240px;

  width: 100%;
  z-index: 8;
}

.reduce-wrapper .topics-section-23 {
  width: 100% !important;
  z-index: 7 !important;
}

.reduce-wrapper .stat-section-26 {
  padding: 0px 60px 160px 240px !important;

  width: 100% !important;
  z-index: 6 !important;
}

.reduce-wrapper .instance-node-21 {
  flex: 1 !important;
  flex-grow: 1 !important;

  width: unset !important;
}

.reduce-wrapper .stat-section-27 {
  margin-right: -14.33px !important;
}

.reduce-wrapper .frame-130 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #e6e2e6cc;
  background-image: url(../../../static/img/frame-19851.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 160px 0px 0px;

  width: 100%;
  z-index: 5;
}

.reduce-wrapper .section-graph-41 {
  padding: 0px 0px 160px 100px !important;

  width: 100% !important;
}

.reduce-wrapper .section-graph-42 {
  background-color: unset !important;

  padding: 0px 30px 160px 100px !important;

  width: 100% !important;
}

.reduce-wrapper .section-graph-43 {
  display: flex !important;
  flex: unset !important;
  width: 447px !important;
}

.reduce-wrapper .graph-chart-31 {
  align-items: flex-end !important;

  width: 100% !important;
}

.reduce-wrapper .graph-chart-32 {
  justify-content: space-between !important;
}

.reduce-wrapper .graph-chart-33 {
  margin-left: -445.54px !important;
}

.reduce-wrapper .graph-chart-34 {
  flex: unset !important;
  margin-right: -361.54px !important;
  width: 613.54px !important;
}

.reduce-wrapper .graph-chart-35 {
  margin-right: -151px !important;
}

.reduce-wrapper .graph-chart-36 {
  margin-right: -152px !important;
}

.reduce-wrapper .graph-chart-37 {
  margin-left: -78px !important;
}

.reduce-wrapper .graph-chart-38 {
  flex: 1 !important;
  width: unset !important;
}

.reduce-wrapper .section-graph-44 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 36px;
  justify-content: flex-end;
  padding: 0px 30px 160px 100px;

  width: 100%;
}

.reduce-wrapper .sub-topic-title-instance-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 36px;

  width: 447px;
}

.reduce-wrapper .graph-chart-39 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-gray);
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 60px;
  justify-content: center;
  padding: 60px 0px;
}

.reduce-wrapper .frame-131 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  margin-left: -142.77px;
  margin-right: -142.77px;
}

.reduce-wrapper .frame-132 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 16px 0px 0px;

  width: 697.54px;
}

.reduce-wrapper .group-50 {
  height: 31px;
  margin-right: -0.46px;

  width: 698px;
}

.reduce-wrapper .section-title-178 {
  color: var(--dark-blue);
  font-family: var(--h5-desktop-font-family);
  font-size: var(--h5-desktop-font-size);
  font-style: var(--h5-desktop-font-style);
  font-weight: var(--h5-desktop-font-weight);
  left: 0;
  letter-spacing: var(--h5-desktop-letter-spacing);
  line-height: var(--h5-desktop-line-height);
  position: absolute;
  top: 0;
  width: 696px;
}

.reduce-wrapper .frame-133 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
}

.reduce-wrapper .frame-134 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;

  width: 697.54px;
}

.reduce-wrapper .group-51 {
  height: 31px;

  width: 241px;
}

.reduce-wrapper .section-title-179 {
  color: var(--dark-blue);
  font-family: var(--h5-desktop-font-family);
  font-size: var(--h5-desktop-font-size);
  font-style: var(--h5-desktop-font-style);
  font-weight: var(--h5-desktop-font-weight);
  left: 0;
  letter-spacing: var(--h5-desktop-letter-spacing);
  line-height: var(--h5-desktop-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.reduce-wrapper .group-52 {
  height: 72px;

  width: 697.54px;
}

.reduce-wrapper .group-53 {
  height: 72px;

  width: 700px;
}

.reduce-wrapper .section-title-180 {
  color: var(--dark-gray);
  font-family: var(--body-text-desktop-font-family);
  font-size: var(--body-text-desktop-font-size);
  font-style: var(--body-text-desktop-font-style);
  font-weight: var(--body-text-desktop-font-weight);
  left: 0;
  letter-spacing: var(--body-text-desktop-letter-spacing);
  line-height: var(--body-text-desktop-line-height);
  position: absolute;
  top: 0;
  width: 698px;
}

.reduce-wrapper .group-54 {
  height: 31px;

  width: 161px;
}

.reduce-wrapper .group-55 {
  height: 36px;

  width: 697.54px;
}

.reduce-wrapper .group-56 {
  height: 36px;

  width: 700px;
}

.reduce-wrapper .group-57 {
  height: 31px;

  width: 191px;
}

.reduce-wrapper .group-58 {
  height: 144px;

  width: 697.54px;
}

.reduce-wrapper .group-59 {
  height: 144px;

  width: 700px;
}

.reduce-wrapper .frame-135 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 160px 0px 0px 100px;

  width: 100%;
  z-index: 4;
}

.reduce-wrapper .section-graph-45 {
  padding: 0px 0px 60px !important;

  width: 100% !important;
}

.reduce-wrapper .graphs-carrousel-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 0px 160px;

  width: 100%;
  z-index: 3;
}

.reduce-wrapper .frame-136 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 80px;
  padding: 0px 0px 0px 100px;

  width: 100%;
}

.reduce-wrapper .section-graph-46 {
  margin-right: -5px !important;
}

.reduce-wrapper .graph-chart-40 {
  white-space: nowrap !important;
  width: fit-content !important;
}

.reduce-wrapper .section-graph-47 {
  margin-right: -1015px !important;
}

.reduce-wrapper .section-graph-48 {
  margin-right: -2025px !important;
}

.reduce-wrapper .section-graph-49 {
  margin-right: -3035px !important;
}

.reduce-wrapper .section-graph-50 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  gap: 36px;
  justify-content: flex-end;
  padding: 0px 30px 160px 100px;

  width: 100%;
  z-index: 2;
}

.reduce-wrapper .frame-137 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
}

.reduce-wrapper .sub-topic-title-4 {
  flex: unset !important;
  width: 447px !important;
}

.reduce-wrapper .graph-chart-41 {
  align-items: center;
  background-color: var(--blue);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 60px;
  justify-content: center;
  padding: 60px 0px;
}

.reduce-wrapper .section-title-181 {
  color: var(--white);
  font-family: var(--h5-desktop-font-family);
  font-size: var(--h5-desktop-font-size);
  font-style: var(--h5-desktop-font-style);
  font-weight: var(--h5-desktop-font-weight);
  left: 0;
  letter-spacing: var(--h5-desktop-letter-spacing);
  line-height: var(--h5-desktop-line-height);
  position: absolute;
  top: 0;
  width: 696px;
}

.reduce-wrapper .graph-chart-line-17 {
  width: 697.54px !important;
}

.reduce-wrapper .graph-chart-line-18 {
  color: var(--white) !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.reduce-wrapper .graph-chart-line-19 {
  display: inline-flex !important;

  flex-grow: unset !important;
  padding: 4px 0px 0px !important;
}

.reduce-wrapper .graph-chart-line-20 {
  display: inline-flex !important;

  flex-grow: unset !important;
}

.reduce-wrapper .graph-chart-line-21 {
  align-items: flex-start !important;
}

.reduce-wrapper .graph-chart-line-22 {
  color: var(--white) !important;
  flex: 1 !important;
  width: unset !important;
}

.reduce-wrapper .graph-chart-line-23 {
  align-items: flex-start !important;
  gap: 60px !important;
}

.reduce-wrapper .graph-chart-total-2 {
  border-color: var(--white) !important;

  width: 697.54px !important;
}

.reduce-wrapper .internal-menu-5 {
  width: 100% !important;
  z-index: 1 !important;
}

.reduce-wrapper .footer-9 {
  gap: unset !important;
  justify-content: space-between !important;

  margin-right: -416px !important;
  padding: 0px 60px !important;

  width: 1441px !important;
  z-index: 0 !important;
}

.reduce-wrapper .instance-node-22 {
  width: 100% !important;
}

.reduce-wrapper .stat-section-28 {
  padding: 36px 24px 100px !important;

  width: 100% !important;
  z-index: 18 !important;
}

.reduce-wrapper .class-99 {
  margin-left: -27.5px !important;
  margin-right: -27.5px !important;
}

.reduce-wrapper .hightlight-blurb-24 {
  background-color: var(--gray) !important;

  width: 100% !important;
  z-index: 17 !important;
}

.reduce-wrapper .frame-138 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--lighter-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 40px 0px 60px;

  width: 100%;
  z-index: 16;
}

.reduce-wrapper .topics-section-24 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .topics-21 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .james-cary-smith-12 {
  align-self: stretch;
  color: var(--dark-blue);
  margin-top: -1px;
}

.reduce-wrapper .the-grant-program-15 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-weight: 400;
}

.reduce-wrapper .hightlight-blurb-25 {
  width: 100% !important;
  z-index: 15 !important;
}

.reduce-wrapper .topics-section-25 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
  z-index: 14;
}

.reduce-wrapper .topics-22 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .james-cary-smith-13 {
  align-self: stretch;
  color: var(--dark-blue);
  margin-top: -1px;
}

.reduce-wrapper .the-grant-program-16 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-weight: 400;
}

.reduce-wrapper .hightlight-blurb-26 {
  align-items: center;
  align-self: stretch;
  background-color: var(--blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  padding: 60px 24px;

  width: 100%;
  z-index: 13;
}

.reduce-wrapper .frame-139 {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .topics-23 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .james-cary-smith-14 {
  align-self: stretch;
  color: var(--white);
  margin-top: -1px;
}

.reduce-wrapper .the-grant-program-17 {
  align-self: stretch;
  color: var(--white);
  font-family: "Poppins", Helvetica;
  font-weight: 400;
}

.reduce-wrapper .hightlight-blurb-27 {
  align-items: center;
  align-self: stretch;
  background-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  padding: 60px 24px;

  width: 100%;
  z-index: 12;
}

.reduce-wrapper .class-100 {
  color: var(--white) !important;
  font-family: var(--h3-mobile-font-family) !important;
  font-size: var(--h3-mobile-font-size) !important;
  font-style: var(--h3-mobile-font-style) !important;
  font-weight: var(--h3-mobile-font-weight) !important;
  letter-spacing: var(--h3-mobile-letter-spacing) !important;
  line-height: var(--h3-mobile-line-height) !important;
}

.reduce-wrapper .frame-140 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #e0f1f0cc;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 60px 24px;

  width: 100%;
  z-index: 11;
}

.reduce-wrapper .section-graph-51 {
  padding: 0px 24px 8px 0px !important;

  width: 100% !important;
}

.reduce-wrapper .section-graph-52 {
  background-color: unset !important;

  padding: 0px 0px 40px !important;

  width: 100% !important;
}

.reduce-wrapper .class-101 {
  flex: 1 !important;
  font-family: var(--h3-mobile-font-family) !important;
  font-size: var(--h3-mobile-font-size) !important;
  font-style: var(--h3-mobile-font-style) !important;
  font-weight: var(--h3-mobile-font-weight) !important;
  letter-spacing: var(--h3-mobile-letter-spacing) !important;
  line-height: var(--h3-mobile-line-height) !important;
  white-space: unset !important;
  width: unset !important;
}

.reduce-wrapper .class-102 {
  margin-right: -47px !important;
}

.reduce-wrapper .graph-chart-42 {
  padding: unset !important;

  width: 100% !important;
}

.reduce-wrapper .graph-chart-43 {
  font-family: "Poppins", Helvetica !important;
  font-size: 15px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0.6px !important;
  line-height: 25.5px !important;
}

.reduce-wrapper .graph-chart-44 {
  padding: 24px !important;

  width: 100% !important;
}

.reduce-wrapper .class-103 {
  margin-right: -180px !important;
}

.reduce-wrapper .graph-chart-45 {
  margin-right: unset !important;
}

.reduce-wrapper .class-104 {
  color: var(--dark-blue) !important;
  margin-right: -179px !important;
}

.reduce-wrapper .class-105 {
  color: var(--dark-blue) !important;
  margin-right: unset !important;
}

.reduce-wrapper .graph-chart-46 {
  margin-right: unset !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.reduce-wrapper .class-106 {
  color: var(--dark-blue) !important;
  font-family: var(--h5-mobile-font-family) !important;
  font-size: var(--h5-mobile-font-size) !important;
  font-style: var(--h5-mobile-font-style) !important;
  font-weight: var(--h5-mobile-font-weight) !important;
  letter-spacing: var(--h5-mobile-letter-spacing) !important;
  line-height: var(--h5-mobile-line-height) !important;
  width: 224px !important;
}

.reduce-wrapper .class-107 {
  color: var(--dark-blue) !important;
  font-family: var(--h5-mobile-font-family) !important;
  font-size: var(--h5-mobile-font-size) !important;
  font-style: var(--h5-mobile-font-style) !important;
  font-weight: var(--h5-mobile-font-weight) !important;
  letter-spacing: var(--h5-mobile-letter-spacing) !important;
  line-height: var(--h5-mobile-line-height) !important;
  width: 545px !important;
}

.reduce-wrapper .class-108 {
  color: var(--dark-blue) !important;
  font-family: var(--h5-mobile-font-family) !important;
  font-size: var(--h5-mobile-font-size) !important;
  font-style: var(--h5-mobile-font-style) !important;
  font-weight: var(--h5-mobile-font-weight) !important;
  letter-spacing: var(--h5-mobile-letter-spacing) !important;
  line-height: var(--h5-mobile-line-height) !important;
  width: 673px !important;
}

.reduce-wrapper .class-109 {
  height: 100px !important;
  margin-right: -2px !important;
  width: 100% !important;
}

.reduce-wrapper .class-110 {
  height: 50px !important;
  margin-right: -2px !important;
  width: 100% !important;
}

.reduce-wrapper .class-111 {
  margin-right: -5px !important;
}

.reduce-wrapper .class-112 {
  margin-right: -179px !important;
}

.reduce-wrapper .graphs-carrousel-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 0px 60px;

  width: 100%;
}

.reduce-wrapper .frame-141 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 36px;

  width: 100%;
}

.reduce-wrapper .section-graph-53 {
  flex: 1 !important;
  flex-grow: 1 !important;

  width: unset !important;
}

.reduce-wrapper .class-113 {
  margin-right: -81px !important;
}

.reduce-wrapper .class-114 {
  margin-right: -75px !important;
}

.reduce-wrapper .hightlight-blurb-28 {
  background-color: var(--green) !important;

  width: 100% !important;
  z-index: 10 !important;
}

.reduce-wrapper .topics-section-26 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
  z-index: 9;
}

.reduce-wrapper .topics-24 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .james-cary-smith-15 {
  align-self: stretch;
  color: var(--dark-blue);
  margin-top: -1px;
}

.reduce-wrapper .the-grant-program-18 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-weight: 400;
}

.reduce-wrapper .element-image-4 {
  width: 100% !important;
  z-index: 8 !important;
}

.reduce-wrapper .topics-section-27 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
  z-index: 7;
}

.reduce-wrapper .topics-25 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .james-cary-smith-16 {
  align-self: stretch;
  color: var(--dark-blue);
  margin-top: -1px;
}

.reduce-wrapper .the-grant-program-19 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-weight: 400;
}

.reduce-wrapper .topics-section-28 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
  z-index: 6;
}

.reduce-wrapper .topics-26 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  width: 100%;
}

.reduce-wrapper .james-cary-smith-17 {
  align-self: stretch;
  color: var(--dark-blue);
  margin-top: -1px;
}

.reduce-wrapper .the-grant-program-20 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 25.5px;
}

.reduce-wrapper .stat-section-29 {
  padding: 0px 24px 60px !important;

  width: 100% !important;
  z-index: 5 !important;
}

.reduce-wrapper .frame-142 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--lighter-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 60px 0px;

  width: 100%;
  z-index: 4;
}

.reduce-wrapper .section-graph-54 {
  padding: 0px 24px 80px !important;

  width: 100% !important;
}

.reduce-wrapper .graph-chart-47 {
  flex: 1 !important;
  margin-right: unset !important;
  width: unset !important;
}

.reduce-wrapper .section-graph-55 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 0px 24px;

  width: 100%;
}

.reduce-wrapper .graph-chart-48 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-blue);
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  padding: 24px;

  width: 100%;
}

.reduce-wrapper .frame-143 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 16px 0px 0px;

  width: 100%;
}

.reduce-wrapper .group-60 {
  align-self: stretch;
  margin-right: -2px;

  width: 100%;
}

.reduce-wrapper .section-title-182 {
  color: var(--dark-blue);
  font-family: var(--h5-mobile-font-family);
  font-size: var(--h5-mobile-font-size);
  font-style: var(--h5-mobile-font-style);
  font-weight: var(--h5-mobile-font-weight);
  left: 0;
  letter-spacing: var(--h5-mobile-letter-spacing);
  line-height: var(--h5-mobile-line-height);
  position: absolute;
  top: 0;
}

.reduce-wrapper .frame-144 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;

  width: 100%;
}

.reduce-wrapper .frame-145 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;

  width: 100%;
}

.reduce-wrapper .group-61 {
  align-self: stretch;
  height: 25px;
  margin-right: -2px;

  width: 100%;
}

.reduce-wrapper .section-title-183 {
  color: var(--dark-blue);
  font-family: var(--h5-mobile-font-family);
  font-size: var(--h5-mobile-font-size);
  font-style: var(--h5-mobile-font-style);
  font-weight: var(--h5-mobile-font-weight);
  left: 0;
  letter-spacing: var(--h5-mobile-letter-spacing);
  line-height: var(--h5-mobile-line-height);
  position: absolute;
  top: 0;
}

.reduce-wrapper .group-62 {
  align-self: stretch;

  width: 100%;
}

.reduce-wrapper .group-63 {
}

.reduce-wrapper .section-title-184 {
  color: var(--dark-gray);
  font-family: var(--body-text-mobile-font-family);
  font-size: var(--body-text-mobile-font-size);
  font-style: var(--body-text-mobile-font-style);
  font-weight: var(--body-text-mobile-font-weight);
  left: 0;
  letter-spacing: var(--body-text-mobile-letter-spacing);
  line-height: var(--body-text-mobile-line-height);
  position: absolute;
  top: 0;
}

.reduce-wrapper .section-title-185 {
  color: var(--dark-blue);
  font-family: var(--h5-mobile-font-family);
  font-size: var(--h5-mobile-font-size);
  font-style: var(--h5-mobile-font-style);
  font-weight: var(--h5-mobile-font-weight);
  left: 0;
  letter-spacing: var(--h5-mobile-letter-spacing);
  line-height: var(--h5-mobile-line-height);
  position: absolute;
  top: 0;
}

.reduce-wrapper .group-64 {
  align-self: stretch;
  height: 26px;

  width: 100%;
}

.reduce-wrapper .group-65 {
  height: 26px;
}

.reduce-wrapper .section-title-186 {
  color: var(--dark-gray);
  font-family: var(--body-text-mobile-font-family);
  font-size: var(--body-text-mobile-font-size);
  font-style: var(--body-text-mobile-font-style);
  font-weight: var(--body-text-mobile-font-weight);
  left: 0;
  letter-spacing: var(--body-text-mobile-letter-spacing);
  line-height: var(--body-text-mobile-line-height);
  position: absolute;
  top: 0;
}

.reduce-wrapper .section-title-187 {
  color: var(--dark-blue);
  font-family: var(--h5-mobile-font-family);
  font-size: var(--h5-mobile-font-size);
  font-style: var(--h5-mobile-font-style);
  font-weight: var(--h5-mobile-font-weight);
  left: 0;
  letter-spacing: var(--h5-mobile-letter-spacing);
  line-height: var(--h5-mobile-line-height);
  position: absolute;
  top: 0;
}

.reduce-wrapper .group-66 {
  align-self: stretch;

  width: 100%;
}

.reduce-wrapper .group-67 {
}

.reduce-wrapper .section-title-188 {
  color: var(--dark-gray);
  font-family: var(--body-text-mobile-font-family);
  font-size: var(--body-text-mobile-font-size);
  font-style: var(--body-text-mobile-font-style);
  font-weight: var(--body-text-mobile-font-weight);
  left: 0;
  letter-spacing: var(--body-text-mobile-letter-spacing);
  line-height: var(--body-text-mobile-line-height);
  position: absolute;
  top: 0;
}

.reduce-wrapper .frame-146 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 60px 24px;

  width: 100%;
  z-index: 3;
}

.reduce-wrapper .class-115 {
  padding: 0px 0px 36px !important;

  width: 100% !important;
}

.reduce-wrapper .class-116 {
  padding: 0px 0px 36px 48px !important;

  width: 100% !important;
}

.reduce-wrapper .class-117 {
  height: 25px !important;
  margin-right: -2px !important;
  width: 100% !important;
}

.reduce-wrapper .graph-chart-49 {
  justify-content: unset !important;

  padding: 24px !important;

  width: 100% !important;
}

.reduce-wrapper .section-graph-56 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 60px 24px;

  width: 100%;
  z-index: 2;
}

.reduce-wrapper .graph-chart-50 {
  align-items: center;
  align-self: stretch;
  background-color: var(--blue);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  padding: 24px;

  width: 100%;
}

.reduce-wrapper .group-68 {
  align-self: stretch;
  margin-right: -2px;

  width: 100%;
}

.reduce-wrapper .section-title-189 {
  color: var(--white);
  font-family: var(--h5-mobile-font-family);
  font-size: var(--h5-mobile-font-size);
  font-style: var(--h5-mobile-font-style);
  font-weight: var(--h5-mobile-font-weight);
  left: 0;
  letter-spacing: var(--h5-mobile-letter-spacing);
  line-height: var(--h5-mobile-line-height);
  position: absolute;
  top: 0;
}

.reduce-wrapper .frame-147 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;

  width: 100%;
}

.reduce-wrapper .frame-148 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;

  width: 100%;
}

.reduce-wrapper .class-118 {
  color: var(--white) !important;
  margin-right: -179px !important;
}

.reduce-wrapper .class-119 {
  color: var(--white) !important;
  margin-right: unset !important;
}

.reduce-wrapper .graph-chart-total-3 {
  border-color: var(--white) !important;

  width: 100% !important;
}

.reduce-wrapper .graph-chart-total-4 {
  gap: unset !important;

  width: 100% !important;
}

.reduce-wrapper .graph-chart-total-5 {
  border-bottom-style: unset !important;
  border-bottom-width: unset !important;
  border-color: unset !important;
}

.reduce-wrapper .graph-chart-line-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0px 0px;

  width: 100%;
}

.reduce-wrapper .graph-chart-line-24 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 16px;

  width: 100%;
}

.reduce-wrapper .frame-149 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0px 16px;

  width: 100%;
}

.reduce-wrapper .section-title-190 {
  color: var(--white);
  flex: 1;
  font-family: var(--h5-mobile-font-family);
  font-size: var(--h5-mobile-font-size);
  font-style: var(--h5-mobile-font-style);
  font-weight: var(--h5-mobile-font-weight);
  letter-spacing: var(--h5-mobile-letter-spacing);
  line-height: var(--h5-mobile-line-height);
  margin-top: -1px;
}

.reduce-wrapper .frame-150 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 60px;
}

.reduce-wrapper .section-title-191 {
  color: var(--white);
  font-family: var(--h5-mobile-font-family);
  font-size: var(--h5-mobile-font-size);
  font-style: var(--h5-mobile-font-style);
  font-weight: var(--h5-mobile-font-weight);
  letter-spacing: var(--h5-mobile-letter-spacing);
  line-height: var(--h5-mobile-line-height);
  margin-top: -1px;

  width: 68.98px;
}

.reduce-wrapper .graph-chart-total-6 {
  border-color: unset !important;
  border-top-style: unset !important;
  border-top-width: unset !important;

  width: 100% !important;
}

.reduce-wrapper .footer-10 {
  width: 100% !important;
  z-index: 0 !important;
}
