.graph-pie {
  align-items: center;
  flex-direction: column;
  position: relative;
}

.graph-pie .frame-31 {
  display: flex;
  position: relative;
}

.graph-pie .group-2 {
  position: relative;
}

.graph-pie .overlap-group-2 {
  position: relative;
}

.graph-pie .vector {
  height: 393px;
  left: 132px;
  position: absolute;
  top: 10px;
  width: 393px;
}

.graph-pie .vector-2 {
  height: 390px;
  left: 132px;
  position: absolute;
  top: 10px;
  width: 197px;
}

.graph-pie .section-title-26 {
  color: var(--dark-blue);
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  left: 523px;
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
  position: absolute;
  top: 310px;
  white-space: nowrap;
}

.graph-pie .section-title-27 {
  color: var(--dark-blue);
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  left: 0;
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.graph-pie .overlap-group-3 {
  position: absolute;
  top: 0;
}

.graph-pie .clip-path-group {
  position: absolute;
  top: 0;
}

.graph-pie .element {
  color: var(--dark-blue);
  font-family: "Anton", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.graph-pie .element-2 {
  color: var(--dark-blue);
  font-family: "Anton", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.graph-pie .element-3 {
  color: var(--dark-blue);
  font-family: "Anton", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.graph-pie .text-wrapper-4 {
  color: var(--dark-blue);
  font-family: "Anton", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.graph-pie .element-4 {
  color: var(--dark-blue);
  font-family: "Anton", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.graph-pie .element-5 {
  color: var(--dark-blue);
  font-family: "Anton", Helvetica;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.graph-pie .element-6 {
  color: var(--dark-blue);
  font-family: "Anton", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.graph-pie .overlap-group-4 {
  height: 168px;
  position: relative;
  top: 8px;
  width: 274px;
}

.graph-pie .vector-3 {
  height: 164px;
  left: 55px;
  position: absolute;
  top: 4px;
  width: 164px;
}

.graph-pie .vector-4 {
  height: 163px;
  left: 55px;
  position: absolute;
  top: 4px;
  width: 82px;
}

.graph-pie .section-title-28 {
  color: var(--dark-blue);
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  left: 219px;
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
  position: absolute;
  top: 130px;
  white-space: nowrap;
}

.graph-pie .text-wrapper-5 {
  color: var(--dark-blue);
  font-family: "Anton", Helvetica;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.graph-pie .overlap-group-5 {
  position: absolute;
}

.graph-pie .section-title-29 {
  color: var(--dark-blue);
  font-family: var(--caption-desktop-bold-font-family);
  font-size: var(--caption-desktop-bold-font-size);
  font-style: var(--caption-desktop-bold-font-style);
  font-weight: var(--caption-desktop-bold-font-weight);
  left: 380px;
  letter-spacing: var(--caption-desktop-bold-letter-spacing);
  line-height: var(--caption-desktop-bold-line-height);
  position: absolute;
  top: 36px;
  white-space: nowrap;
}

.graph-pie .section-title-30 {
  color: var(--dark-blue);
  font-family: var(--caption-desktop-bold-font-family);
  font-size: var(--caption-desktop-bold-font-size);
  font-style: var(--caption-desktop-bold-font-style);
  font-weight: var(--caption-desktop-bold-font-weight);
  left: 350px;
  letter-spacing: var(--caption-desktop-bold-letter-spacing);
  line-height: var(--caption-desktop-bold-line-height);
  position: absolute;
  top: 368px;
  white-space: nowrap;
}

.graph-pie .layer {
  left: 0;
  position: absolute;
  top: 0;
}

.graph-pie .section-title-31 {
  color: var(--dark-blue);
  font-family: "Poppins", Helvetica;
  font-size: 12.3px;
  font-weight: 700;
  left: 206px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.graph-pie .section-title-32 {
  color: var(--dark-blue);
  font-family: "Poppins", Helvetica;
  font-size: 12.3px;
  font-weight: 700;
  left: 189px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
  position: absolute;
  top: 199px;
  white-space: nowrap;
}

.graph-pie .layer-2 {
  position: absolute;
  top: 0;
}

.graph-pie .section-title-33 {
  color: var(--dark-blue);
  left: 0;
  position: absolute;
  white-space: nowrap;
}

.graph-pie .section-title-34 {
  color: var(--dark-blue);
  position: absolute;
  white-space: nowrap;
}

.graph-pie .section-title-35 {
  color: var(--dark-blue);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.graph-pie .section-title-36 {
  color: var(--dark-blue);
  position: absolute;
  white-space: nowrap;
}

.graph-pie .frame-32 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.graph-pie .section-title-37 {
  color: var(--dark-blue);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.graph-pie .frame-33 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0px 16px;
  position: relative;
  width: 697.54px;
}

.graph-pie .section-title-38 {
  color: var(--dark-blue);
  font-family: "Anton", Helvetica;
  font-size: 28.3px;
  font-weight: 400;
  letter-spacing: 1.41px;
  line-height: 31.1px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.graph-pie .frame-34 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 447px;
}

.graph-pie .section-title-39 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: var(--caption-desktop-font-family);
  font-size: var(--caption-desktop-font-size);
  font-style: var(--caption-desktop-font-style);
  font-weight: var(--caption-desktop-font-weight);
  letter-spacing: var(--caption-desktop-letter-spacing);
  line-height: var(--caption-desktop-line-height);
  margin-top: -1px;
  position: relative;
}

.graph-pie .frame-35 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0px 16px;
  position: relative;
  width: 100%;
}

.graph-pie .section-title-40 {
  color: var(--dark-blue);
  font-family: var(--h5-mobile-font-family);
  font-size: var(--h5-mobile-font-size);
  font-style: var(--h5-mobile-font-style);
  font-weight: var(--h5-mobile-font-weight);
  letter-spacing: var(--h5-mobile-letter-spacing);
  line-height: var(--h5-mobile-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.graph-pie .section-title-41 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: var(--caption-mobile-font-family);
  font-size: var(--caption-mobile-font-size);
  font-style: var(--caption-mobile-font-style);
  font-weight: var(--caption-mobile-font-weight);
  letter-spacing: var(--caption-mobile-letter-spacing);
  line-height: var(--caption-mobile-line-height);
  position: relative;
}

.graph-pie .group-3 {
  position: relative;
}

.graph-pie .overlap-group-6 {
  position: relative;
}

.graph-pie .vector-5 {
  position: absolute;
}

.graph-pie .vector-6 {
  position: absolute;
}

.graph-pie .section-title-42 {
  color: var(--dark-blue);
  position: absolute;
  white-space: nowrap;
}

.graph-pie .section-title-43 {
  color: var(--dark-blue);
  left: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.graph-pie .overlap-group-7 {
  position: absolute;
}

.graph-pie .layer-3 {
  left: 0;
  position: absolute;
  top: 0;
}

.graph-pie .layer-4 {
  position: absolute;
  top: 0;
}

.graph-pie .section-title-44 {
  color: var(--dark-blue);
  left: 0;
  position: absolute;
  white-space: nowrap;
}

.graph-pie .section-title-45 {
  color: var(--dark-blue);
  position: absolute;
  white-space: nowrap;
}

.graph-pie .section-title-46 {
  color: var(--dark-blue);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.graph-pie .section-title-47 {
  color: var(--dark-blue);
  position: absolute;
  white-space: nowrap;
}

.graph-pie.demo-gender {
  display: flex;
}

.graph-pie.demo-race {
  display: flex;
}

.graph-pie.chart-3 {
  display: flex;
}

.graph-pie.chart-1 {
  display: flex;
}

.graph-pie.resolution-61-desktop {
  display: flex;
  width: 930px;
}

.graph-pie.chart-2 {
  display: flex;
}

.graph-pie.title-0-true {
  display: flex;
}

.graph-pie.chart-1.resolution-61-mobile {
  width: 375px;
}

.graph-pie.chart-3.resolution-61-mobile {
  width: 375px;
}

.graph-pie.chart-2.resolution-61-mobile {
  width: 375px;
}

.graph-pie.demo-race.resolution-61-mobile {
  width: 375px;
}

.graph-pie.demo-gender.resolution-61-mobile {
  width: 375px;
}

.graph-pie.title-0-true.resolution-61-mobile {
  width: 375px;
}

.graph-pie.example.title-0-false.resolution-61-mobile {
  display: inline-flex;
}

.graph-pie .subtitle-false {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--dark-blue);
  display: flex;
  gap: 10px;
  padding: 0px 0px 16px;
}

.graph-pie .resolution-82-mobile {
  align-self: stretch;
  width: 100%;
}

.graph-pie .subtitle-true {
  display: inline-flex;
  gap: 24px;
  justify-content: center;
}

.graph-pie .resolution-82-desktop.subtitle-false {
  width: 697.54px;
}

.graph-pie.demo-gender .frame-31 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-blue);
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
}

.graph-pie.demo-race .frame-31 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-blue);
  flex: 0 0 auto;
}

.graph-pie.chart-3 .frame-31 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-blue);
  border-radius: 20px;
  justify-content: space-around;
}

.graph-pie.chart-1 .frame-31 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-blue);
  border-radius: 20px;
  justify-content: space-around;
}

.graph-pie.resolution-61-desktop .frame-31 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-blue);
  border-radius: 20px;
  width: 930px;
}

.graph-pie.chart-2 .frame-31 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-blue);
  border-radius: 20px;
  justify-content: space-around;
}

.graph-pie.resolution-61-mobile .frame-31 {
  flex: 0 0 auto;
}

.graph-pie.title-0-true .frame-31 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-blue);
  border-radius: 20px;
  flex: 0 0 auto;
}

.graph-pie.demo-gender.title-0-true .frame-31 {
  gap: 24px;
  padding: 40px;
}

.graph-pie.resolution-61-desktop.chart-1 .frame-31 {
  height: 464px;
  padding: 20px 40px;
}

.graph-pie.demo-race.title-0-false .frame-31 {
  align-items: flex-start;
  justify-content: space-around;
}

.graph-pie.chart-2.title-0-false .frame-31 {
  gap: 24px;
}

.graph-pie.resolution-61-desktop.title-0-true .frame-31 {
  flex-direction: column;
}

.graph-pie.chart-1.resolution-61-mobile .frame-31 {
  align-self: stretch;
  gap: 24px;
  padding: 24px 40px;
  width: 100%;
}

.graph-pie.chart-3.resolution-61-mobile .frame-31 {
  align-self: stretch;
  gap: 24px;
  padding: 24px 40px;
  width: 100%;
}

.graph-pie.title-0-true.example .frame-31 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.graph-pie.chart-1.title-0-false .frame-31 {
  gap: 24px;
}

.graph-pie.resolution-61-desktop.demo-race .frame-31 {
  gap: 24px;
}

.graph-pie.resolution-61-desktop.title-0-false .frame-31 {
  gap: 24px;
}

.graph-pie.resolution-61-desktop.chart-2 .frame-31 {
  height: 464px;
  padding: 20px 40px;
}

.graph-pie.chart-2.resolution-61-mobile .frame-31 {
  align-self: stretch;
  gap: 24px;
  padding: 24px 40px;
  width: 100%;
}

.graph-pie.title-0-true.demo-race .frame-31 {
  align-items: center;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 40px;
}

.graph-pie.chart-3.title-0-false .frame-31 {
  gap: 24px;
}

.graph-pie.demo-race.resolution-61-mobile .frame-31 {
  align-self: stretch;
  width: 100%;
}

.graph-pie.demo-gender.resolution-61-mobile .frame-31 {
  align-self: stretch;
  width: 100%;
}

.graph-pie.resolution-61-desktop.chart-3 .frame-31 {
  height: 464px;
  padding: 20px 40px;
}

.graph-pie.title-0-true.resolution-61-mobile .frame-31 {
  align-self: stretch;
  width: 100%;
}

.graph-pie.resolution-61-desktop.demo-gender .frame-31 {
  gap: 24px;
  padding: 40px;
}

.graph-pie.example.resolution-61-mobile .frame-31 {
  align-items: center;
  flex-direction: column;
}

.graph-pie.resolution-61-desktop.demo-race.title-0-false .frame-31 {
  padding: 20px 40px;
}

.graph-pie.title-0-true.example.resolution-61-mobile .frame-31 {
  gap: 36px;
}

.graph-pie.example.title-0-false.resolution-61-mobile .frame-31 {
  width: 375px;
}

.graph-pie.title-0-false.demo-race.resolution-61-mobile .frame-31 {
  border-radius: 10.81px;
  gap: 12.97px;
  padding: 10.81px 21.62px;
}

.graph-pie.resolution-61-desktop.example.title-0-false .frame-31 {
  align-items: flex-start;
  height: 464px;
  justify-content: space-around;
  padding: 20px 40px;
}

.graph-pie.resolution-61-desktop.title-0-true.example .frame-31 {
  gap: 60px;
}

.graph-pie.demo-gender.title-0-false.resolution-61-mobile .frame-31 {
  border-radius: 12.77px;
  gap: 15.32px;
  padding: 25.53px;
}

.graph-pie.demo-gender.resolution-61-mobile .group-2 {
  height: 255.94px;
  margin-left: -8.4px;
  margin-right: -12.4px;
  width: 344.74px;
}

.graph-pie.resolution-61-desktop.chart-1 .group-2 {
  height: 433.93px;
  margin-bottom: -9.93px;
  width: 669.41px;
}

.graph-pie.resolution-61-desktop.demo-race .group-2 {
  height: 491px;
  width: 548px;
}

.graph-pie.resolution-61-desktop.chart-3 .group-2 {
  height: 421.34px;
  width: 655.66px;
}

.graph-pie.chart-3.resolution-61-mobile .group-2 {
  height: 204.72px;
  margin-left: -8.69px;
  margin-right: -20.69px;
  width: 324.37px;
}

.graph-pie.resolution-61-desktop.demo-gender .group-2 {
  height: 401px;
  width: 537px;
}

.graph-pie.resolution-61-desktop.example .group-2 {
  height: 449.29px;
  margin-bottom: -25.29px;
  width: 658px;
}

.graph-pie.resolution-61-desktop.chart-2 .group-2 {
  height: 429.35px;
  margin-bottom: -5.35px;
  width: 676.66px;
}

.graph-pie.chart-2.resolution-61-mobile .group-2 {
  height: 209px;
  margin-left: -7.24px;
  margin-right: -21.24px;
  width: 323.49px;
}

.graph-pie.chart-1.resolution-61-mobile .group-2 {
  height: 210.83px;
  margin-left: -12.7px;
  margin-right: -22.7px;
  width: 330.4px;
}

.graph-pie.demo-race.resolution-61-mobile .group-2 {
  height: 268.33px;
  width: 305.49px;
}

.graph-pie.example.resolution-61-mobile .group-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 0.42px solid;
  border-color: var(--dark-blue);
  border-radius: 8.36px;
  display: flex;
  flex: 0 0 auto;
  gap: 10.03px;
  justify-content: space-around;
  padding: 24px 8px;
  width: 100%;
}

.graph-pie.demo-gender .overlap-group-2 {
  height: 403px;
  width: 654px;
}

.graph-pie.demo-race .overlap-group-2 {
  height: 403px;
  width: 654px;
}

.graph-pie.resolution-61-desktop.chart-1 .overlap-group-2 {
  height: 434px;
  width: 659px;
}

.graph-pie.resolution-61-desktop.chart-3 .overlap-group-2 {
  height: 421px;
  width: 644px;
}

.graph-pie.chart-3.resolution-61-mobile .overlap-group-2 {
  height: 205px;
  width: 312px;
}

.graph-pie.resolution-61-desktop.example .overlap-group-2 {
  height: 403px;
  top: 18px;
  width: 654px;
}

.graph-pie.resolution-61-desktop.chart-2 .overlap-group-2 {
  height: 429px;
  width: 663px;
}

.graph-pie.chart-2.resolution-61-mobile .overlap-group-2 {
  height: 209px;
  width: 309px;
}

.graph-pie.chart-1.resolution-61-mobile .overlap-group-2 {
  height: 211px;
  width: 320px;
}

.graph-pie.example.resolution-61-mobile .overlap-group-2 {
  height: 187.85px;
  width: 277.67px;
}

.graph-pie.demo-gender .overlap-group-3 {
  height: 434px;
  left: 21px;
  width: 504px;
}

.graph-pie.example .overlap-group-3 {
  height: 434px;
  left: 21px;
  width: 504px;
}

.graph-pie.demo-race .overlap-group-3 {
  height: 434px;
  left: 21px;
  width: 504px;
}

.graph-pie.resolution-61-desktop.chart-1 .overlap-group-3 {
  height: 434px;
  left: 43px;
  width: 504px;
}

.graph-pie.resolution-61-desktop.chart-3 .overlap-group-3 {
  height: 421px;
  left: 83px;
  width: 561px;
}

.graph-pie.chart-3.resolution-61-mobile .overlap-group-3 {
  height: 205px;
  left: 40px;
  width: 272px;
}

.graph-pie.resolution-61-desktop.chart-2 .overlap-group-3 {
  height: 429px;
  left: 51px;
  width: 544px;
}

.graph-pie.chart-2.resolution-61-mobile .overlap-group-3 {
  height: 209px;
  left: 21px;
  width: 261px;
}

.graph-pie.chart-1.resolution-61-mobile .overlap-group-3 {
  height: 211px;
  left: 21px;
  width: 245px;
}

.graph-pie.demo-gender .clip-path-group {
  height: 186px;
  left: 41px;
}

.graph-pie.example .clip-path-group {
  height: 186px;
  left: 41px;
}

.graph-pie.demo-race .clip-path-group {
  height: 186px;
  left: 41px;
}

.graph-pie.resolution-61-desktop .clip-path-group {
  width: 386px;
}

.graph-pie.resolution-61-mobile .clip-path-group {
  width: 187px;
}

.graph-pie.resolution-61-desktop.chart-1 .clip-path-group {
  height: 384px;
  left: 102px;
}

.graph-pie.resolution-61-desktop.chart-3 .clip-path-group {
  height: 385px;
  left: 56px;
}

.graph-pie.chart-3.resolution-61-mobile .clip-path-group {
  height: 186px;
  left: 27px;
}

.graph-pie.resolution-61-desktop.chart-2 .clip-path-group {
  height: 381px;
  left: 90px;
}

.graph-pie.chart-2.resolution-61-mobile .clip-path-group {
  height: 184px;
  left: 41px;
}

.graph-pie.chart-1.resolution-61-mobile .clip-path-group {
  height: 186px;
  left: 49px;
}

.graph-pie.demo-gender .element {
  left: 388px;
  top: 369px;
}

.graph-pie.example .element {
  left: 388px;
  top: 369px;
}

.graph-pie.demo-race .element {
  left: 388px;
  top: 369px;
}

.graph-pie.resolution-61-desktop .element {
  font-size: 44.3px;
}

.graph-pie.resolution-61-mobile .element {
  font-size: 21.5px;
}

.graph-pie.resolution-61-desktop.chart-1 .element {
  left: 388px;
  top: 369px;
}

.graph-pie.resolution-61-desktop.chart-3 .element {
  left: 438px;
  top: 58px;
}

.graph-pie.chart-3.resolution-61-mobile .element {
  left: 212px;
  top: 28px;
}

.graph-pie.resolution-61-desktop.chart-2 .element {
  left: 435px;
  top: 6px;
}

.graph-pie.chart-2.resolution-61-mobile .element {
  left: 208px;
  top: 3px;
}

.graph-pie.chart-1.resolution-61-mobile .element {
  left: 188px;
  top: 179px;
}

.graph-pie.demo-gender .element-2 {
  left: 0;
  top: 314px;
}

.graph-pie.example .element-2 {
  left: 0;
  top: 314px;
}

.graph-pie.demo-race .element-2 {
  left: 0;
  top: 314px;
}

.graph-pie.chart-1 .element-2 {
  left: 0;
}

.graph-pie.resolution-61-desktop .element-2 {
  font-size: 44.3px;
}

.graph-pie.chart-2 .element-2 {
  left: 0;
  top: 1px;
}

.graph-pie.resolution-61-mobile .element-2 {
  font-size: 21.5px;
}

.graph-pie.resolution-61-desktop.chart-1 .element-2 {
  top: 314px;
}

.graph-pie.resolution-61-desktop.chart-3 .element-2 {
  left: 390px;
  top: 352px;
}

.graph-pie.chart-3.resolution-61-mobile .element-2 {
  left: 189px;
  top: 170px;
}

.graph-pie.chart-1.resolution-61-mobile .element-2 {
  top: 152px;
}

.graph-pie.demo-gender .element-3 {
  left: 15px;
  top: 23px;
}

.graph-pie.example .element-3 {
  left: 15px;
  top: 23px;
}

.graph-pie.demo-race .element-3 {
  left: 15px;
  top: 23px;
}

.graph-pie.chart-3 .element-3 {
  left: 0;
}

.graph-pie.resolution-61-desktop .element-3 {
  font-size: 44.3px;
}

.graph-pie.resolution-61-mobile .element-3 {
  font-size: 21.5px;
}

.graph-pie.resolution-61-desktop.chart-1 .element-3 {
  left: 15px;
  top: 23px;
}

.graph-pie.resolution-61-desktop.chart-3 .element-3 {
  top: 356px;
}

.graph-pie.chart-3.resolution-61-mobile .element-3 {
  top: 173px;
}

.graph-pie.resolution-61-desktop.chart-2 .element-3 {
  left: 422px;
  top: 339px;
}

.graph-pie.chart-2.resolution-61-mobile .element-3 {
  left: 198px;
  top: 161px;
}

.graph-pie.chart-1.resolution-61-mobile .element-3 {
  left: 7px;
  top: 11px;
}

.graph-pie.resolution-61-desktop .text-wrapper-4 {
  font-size: 44.3px;
  left: 48px;
  top: 364px;
}

.graph-pie.resolution-61-mobile .text-wrapper-4 {
  font-size: 21.5px;
  left: 41px;
  top: 177px;
}

.graph-pie.demo-gender .element-4 {
  left: 253px;
  top: 85px;
}

.graph-pie.example .element-4 {
  left: 253px;
  top: 85px;
}

.graph-pie.demo-race .element-4 {
  left: 253px;
  top: 85px;
}

.graph-pie.chart-1 .element-4 {
  left: 253px;
  top: 85px;
}

.graph-pie.resolution-61-desktop .element-4 {
  font-size: 44.3px;
}

.graph-pie.resolution-61-mobile .element-4 {
  font-size: 21.5px;
}

.graph-pie.resolution-61-desktop.chart-3 .element-4 {
  left: 13px;
  top: 251px;
}

.graph-pie.chart-3.resolution-61-mobile .element-4 {
  left: 6px;
  top: 122px;
}

.graph-pie.resolution-61-desktop.chart-2 .element-4 {
  left: 547px;
  top: 176px;
}

.graph-pie.chart-2.resolution-61-mobile .element-4 {
  left: 253px;
  top: 85px;
}

.graph-pie.demo-gender .element-5 {
  top: 122px;
}

.graph-pie.example .element-5 {
  top: 122px;
}

.graph-pie.demo-race .element-5 {
  top: 122px;
}

.graph-pie.chart-1 .element-5 {
  top: 122px;
}

.graph-pie.resolution-61-desktop .element-5 {
  font-size: 44.3px;
}

.graph-pie.resolution-61-mobile .element-5 {
  font-size: 21.5px;
}

.graph-pie.resolution-61-desktop.chart-3 .element-5 {
  top: 134px;
}

.graph-pie.chart-3.resolution-61-mobile .element-5 {
  top: 65px;
}

.graph-pie.resolution-61-desktop.chart-2 .element-5 {
  top: 251px;
}

.graph-pie.chart-2.resolution-61-mobile .element-5 {
  top: 122px;
}

.graph-pie.demo-gender .element-6 {
  left: 3px;
  top: 50px;
}

.graph-pie.example .element-6 {
  left: 3px;
  top: 50px;
}

.graph-pie.demo-race .element-6 {
  left: 3px;
  top: 50px;
}

.graph-pie.resolution-61-desktop .element-6 {
  font-size: 44.3px;
}

.graph-pie.resolution-61-mobile .element-6 {
  font-size: 21.5px;
}

.graph-pie.resolution-61-desktop.chart-1 .element-6 {
  left: 543px;
  top: 108px;
}

.graph-pie.resolution-61-desktop.chart-3 .element-6 {
  left: 37px;
  top: 28px;
}

.graph-pie.chart-3.resolution-61-mobile .element-6 {
  left: 18px;
  top: 13px;
}

.graph-pie.resolution-61-desktop.chart-2 .element-6 {
  left: 4px;
  top: 102px;
}

.graph-pie.chart-2.resolution-61-mobile .element-6 {
  left: 3px;
  top: 50px;
}

.graph-pie.chart-1.resolution-61-mobile .element-6 {
  left: 263px;
  top: 52px;
}

.graph-pie.resolution-61-desktop .text-wrapper-5 {
  font-size: 44.3px;
  top: 149px;
}

.graph-pie.resolution-61-mobile .text-wrapper-5 {
  font-size: 21.5px;
  top: 72px;
}

.graph-pie.resolution-61-desktop .overlap-group-5 {
  height: 401px;
  left: 76px;
  top: 47px;
  width: 422px;
}

.graph-pie.resolution-61-mobile .overlap-group-5 {
  height: 217px;
  left: 41px;
  top: 25px;
  width: 233px;
}

.graph-pie.resolution-61-desktop .layer {
  height: 401px;
  width: 401px;
}

.graph-pie.resolution-61-mobile .layer {
  height: 217px;
  width: 217px;
}

.graph-pie.resolution-61-desktop .layer-2 {
  height: 401px;
  left: 66px;
  width: 401px;
}

.graph-pie.resolution-61-mobile .layer-2 {
  height: 256px;
  left: 42px;
  width: 256px;
}

.graph-pie.example .section-title-33 {
  top: 228px;
}

.graph-pie.chart-3 .section-title-33 {
  top: 228px;
}

.graph-pie.chart-1 .section-title-33 {
  top: 228px;
}

.graph-pie.resolution-61-desktop .section-title-33 {
  font-family: var(--caption-desktop-bold-font-family);
  font-size: var(--caption-desktop-bold-font-size);
  font-style: var(--caption-desktop-bold-font-style);
  font-weight: var(--caption-desktop-bold-font-weight);
  letter-spacing: var(--caption-desktop-bold-letter-spacing);
  line-height: var(--caption-desktop-bold-line-height);
}

.graph-pie.chart-2 .section-title-33 {
  top: 228px;
}

.graph-pie.resolution-61-mobile .section-title-33 {
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  letter-spacing: 0.49px;
}

.graph-pie.demo-gender.resolution-61-mobile .section-title-33 {
  font-size: 12.1px;
  line-height: 16.4px;
  top: 120px;
}

.graph-pie.resolution-61-desktop.demo-race .section-title-33 {
  top: 228px;
}

.graph-pie.chart-3.resolution-61-mobile .section-title-33 {
  font-size: 12.3px;
  line-height: 16.6px;
}

.graph-pie.resolution-61-desktop.demo-gender .section-title-33 {
  top: 188px;
}

.graph-pie.chart-2.resolution-61-mobile .section-title-33 {
  font-size: 12.3px;
  line-height: 16.6px;
}

.graph-pie.chart-1.resolution-61-mobile .section-title-33 {
  font-size: 12.3px;
  line-height: 16.6px;
}

.graph-pie.demo-race.resolution-61-mobile .section-title-33 {
  font-size: 12.3px;
  line-height: 16.6px;
  top: 123px;
}

.graph-pie.example.resolution-61-mobile .section-title-33 {
  font-size: 12.3px;
  line-height: 16.6px;
}

.graph-pie.example .section-title-34 {
  left: 234px;
  top: 465px;
}

.graph-pie.chart-3 .section-title-34 {
  left: 234px;
  top: 465px;
}

.graph-pie.chart-1 .section-title-34 {
  left: 234px;
  top: 465px;
}

.graph-pie.resolution-61-desktop .section-title-34 {
  font-family: var(--caption-desktop-bold-font-family);
  font-size: var(--caption-desktop-bold-font-size);
  font-style: var(--caption-desktop-bold-font-style);
  font-weight: var(--caption-desktop-bold-font-weight);
  letter-spacing: var(--caption-desktop-bold-letter-spacing);
  line-height: var(--caption-desktop-bold-line-height);
}

.graph-pie.chart-2 .section-title-34 {
  left: 234px;
  top: 465px;
}

.graph-pie.resolution-61-mobile .section-title-34 {
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  letter-spacing: 0.49px;
}

.graph-pie.demo-gender.resolution-61-mobile .section-title-34 {
  font-size: 12.1px;
  left: 313px;
  line-height: 16.4px;
  top: 120px;
}

.graph-pie.resolution-61-desktop.demo-race .section-title-34 {
  left: 234px;
  top: 465px;
}

.graph-pie.chart-3.resolution-61-mobile .section-title-34 {
  font-size: 12.3px;
  line-height: 16.6px;
}

.graph-pie.resolution-61-desktop.demo-gender .section-title-34 {
  left: 490px;
  top: 188px;
}

.graph-pie.chart-2.resolution-61-mobile .section-title-34 {
  font-size: 12.3px;
  line-height: 16.6px;
}

.graph-pie.chart-1.resolution-61-mobile .section-title-34 {
  font-size: 12.3px;
  line-height: 16.6px;
}

.graph-pie.demo-race.resolution-61-mobile .section-title-34 {
  font-size: 12.3px;
  left: 126px;
  line-height: 16.6px;
  top: 251px;
}

.graph-pie.example.resolution-61-mobile .section-title-34 {
  font-size: 12.3px;
  line-height: 16.6px;
}

.graph-pie.resolution-61-desktop .section-title-35 {
  font-family: var(--caption-desktop-bold-font-family);
  font-size: var(--caption-desktop-bold-font-size);
  font-style: var(--caption-desktop-bold-font-style);
  font-weight: var(--caption-desktop-bold-font-weight);
  left: 270px;
  letter-spacing: var(--caption-desktop-bold-letter-spacing);
  line-height: var(--caption-desktop-bold-line-height);
}

.graph-pie.resolution-61-mobile .section-title-35 {
  font-family: "Poppins", Helvetica;
  font-size: 12.3px;
  font-weight: 700;
  left: 146px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
}

.graph-pie.resolution-61-desktop .section-title-36 {
  font-family: var(--caption-desktop-bold-font-family);
  font-size: var(--caption-desktop-bold-font-size);
  font-style: var(--caption-desktop-bold-font-style);
  font-weight: var(--caption-desktop-bold-font-weight);
  left: 506px;
  letter-spacing: var(--caption-desktop-bold-letter-spacing);
  line-height: var(--caption-desktop-bold-line-height);
  top: 262px;
}

.graph-pie.resolution-61-mobile .section-title-36 {
  font-family: "Poppins", Helvetica;
  font-size: 12.3px;
  font-weight: 700;
  left: 273px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
  top: 142px;
}

.graph-pie .frame-32.resolution-82-desktop .section-title-37 {
  font-family: "Anton", Helvetica;
  font-size: 28.3px;
  font-weight: 400;
  letter-spacing: 1.41px;
  line-height: 31.1px;
}

.graph-pie .frame-32.resolution-82-mobile .section-title-37 {
  font-family: var(--h5-mobile-font-family);
  font-size: var(--h5-mobile-font-size);
  font-style: var(--h5-mobile-font-style);
  font-weight: var(--h5-mobile-font-weight);
  letter-spacing: var(--h5-mobile-letter-spacing);
  line-height: var(--h5-mobile-line-height);
}

.graph-pie.example .group-3 {
  margin-right: -11.24px;
}

.graph-pie.demo-race .group-3 {
  margin-right: -11.24px;
}

.graph-pie.chart-3 .group-3 {
  height: 449.29px;
  margin-right: -11.24px;
  width: 658px;
}

.graph-pie.chart-1 .group-3 {
  height: 449.29px;
  margin-right: -11.24px;
  width: 658px;
}

.graph-pie.resolution-61-desktop .group-3 {
  margin-right: -11.24px;
}

.graph-pie.chart-2 .group-3 {
  height: 449.29px;
  margin-right: -11.24px;
  width: 658px;
}

.graph-pie.demo-gender.resolution-61-mobile .group-3 {
  height: 225.99px;
  margin-left: -3.07px;
  margin-right: -7.07px;
  width: 305.15px;
}

.graph-pie.resolution-61-desktop.demo-race .group-3 {
  height: 491px;
  width: 548px;
}

.graph-pie.resolution-61-desktop.demo-gender .group-3 {
  height: 401px;
  width: 537px;
}

.graph-pie.resolution-61-desktop.example .group-3 {
  height: 449.29px;
  width: 658px;
}

.graph-pie.demo-race.resolution-61-mobile .group-3 {
  height: 268.33px;
  width: 305.49px;
}

.graph-pie.example.resolution-61-mobile .group-3 {
  height: 187.85px;
  width: 277.67px;
}

.graph-pie.resolution-61-desktop .overlap-group-6 {
  height: 403px;
  top: 18px;
  width: 654px;
}

.graph-pie.resolution-61-mobile .overlap-group-6 {
  height: 168px;
  top: 8px;
  width: 274px;
}

.graph-pie.resolution-61-desktop .vector-5 {
  height: 393px;
  left: 132px;
  top: 10px;
  width: 393px;
}

.graph-pie.resolution-61-mobile .vector-5 {
  height: 164px;
  left: 55px;
  top: 4px;
  width: 164px;
}

.graph-pie.resolution-61-desktop .vector-6 {
  height: 390px;
  left: 132px;
  top: 10px;
  width: 197px;
}

.graph-pie.resolution-61-mobile .vector-6 {
  height: 163px;
  left: 55px;
  top: 4px;
  width: 82px;
}

.graph-pie.resolution-61-desktop .section-title-42 {
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  left: 523px;
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
  top: 310px;
}

.graph-pie.resolution-61-mobile .section-title-42 {
  font-family: "Anton", Helvetica;
  font-size: 27.6px;
  font-weight: 400;
  left: 219px;
  letter-spacing: 1.38px;
  line-height: 30.4px;
  top: 130px;
}

.graph-pie.resolution-61-desktop .section-title-43 {
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
}

.graph-pie.resolution-61-mobile .section-title-43 {
  font-family: "Anton", Helvetica;
  font-size: 27.6px;
  font-weight: 400;
  letter-spacing: 1.38px;
  line-height: 30.4px;
}

.graph-pie.resolution-61-desktop .overlap-group-7 {
  height: 401px;
  left: 76px;
  top: 47px;
  width: 422px;
}

.graph-pie.resolution-61-mobile .overlap-group-7 {
  height: 217px;
  left: 41px;
  top: 25px;
  width: 233px;
}

.graph-pie.resolution-61-desktop .layer-3 {
  height: 401px;
  width: 401px;
}

.graph-pie.resolution-61-mobile .layer-3 {
  height: 217px;
  width: 217px;
}

.graph-pie.resolution-61-desktop .layer-4 {
  height: 401px;
  left: 66px;
  width: 401px;
}

.graph-pie.resolution-61-mobile .layer-4 {
  height: 226px;
  left: 37px;
  width: 226px;
}

.graph-pie.example .section-title-44 {
  top: 228px;
}

.graph-pie.chart-3 .section-title-44 {
  top: 228px;
}

.graph-pie.chart-1 .section-title-44 {
  top: 228px;
}

.graph-pie.resolution-61-desktop .section-title-44 {
  font-family: var(--caption-desktop-bold-font-family);
  font-size: var(--caption-desktop-bold-font-size);
  font-style: var(--caption-desktop-bold-font-style);
  font-weight: var(--caption-desktop-bold-font-weight);
  letter-spacing: var(--caption-desktop-bold-letter-spacing);
  line-height: var(--caption-desktop-bold-line-height);
}

.graph-pie.chart-2 .section-title-44 {
  top: 228px;
}

.graph-pie.resolution-61-mobile .section-title-44 {
  font-family: "Poppins", Helvetica;
  font-weight: 700;
}

.graph-pie.demo-gender.resolution-61-mobile .section-title-44 {
  font-size: 10.7px;
  letter-spacing: 0.43px;
  line-height: 14.5px;
  top: 106px;
}

.graph-pie.resolution-61-desktop.demo-race .section-title-44 {
  top: 228px;
}

.graph-pie.chart-3.resolution-61-mobile .section-title-44 {
  font-size: 12.3px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
}

.graph-pie.resolution-61-desktop.demo-gender .section-title-44 {
  top: 188px;
}

.graph-pie.chart-2.resolution-61-mobile .section-title-44 {
  font-size: 12.3px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
}

.graph-pie.chart-1.resolution-61-mobile .section-title-44 {
  font-size: 12.3px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
}

.graph-pie.demo-race.resolution-61-mobile .section-title-44 {
  font-size: 12.3px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
  top: 123px;
}

.graph-pie.example.resolution-61-mobile .section-title-44 {
  font-size: 12.3px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
}

.graph-pie.example .section-title-45 {
  left: 234px;
  top: 465px;
}

.graph-pie.chart-3 .section-title-45 {
  left: 234px;
  top: 465px;
}

.graph-pie.chart-1 .section-title-45 {
  left: 234px;
  top: 465px;
}

.graph-pie.resolution-61-desktop .section-title-45 {
  font-family: var(--caption-desktop-bold-font-family);
  font-size: var(--caption-desktop-bold-font-size);
  font-style: var(--caption-desktop-bold-font-style);
  font-weight: var(--caption-desktop-bold-font-weight);
  letter-spacing: var(--caption-desktop-bold-letter-spacing);
  line-height: var(--caption-desktop-bold-line-height);
}

.graph-pie.chart-2 .section-title-45 {
  left: 234px;
  top: 465px;
}

.graph-pie.resolution-61-mobile .section-title-45 {
  font-family: "Poppins", Helvetica;
  font-weight: 700;
}

.graph-pie.demo-gender.resolution-61-mobile .section-title-45 {
  font-size: 10.7px;
  left: 276px;
  letter-spacing: 0.43px;
  line-height: 14.5px;
  top: 106px;
}

.graph-pie.resolution-61-desktop.demo-race .section-title-45 {
  left: 234px;
  top: 465px;
}

.graph-pie.chart-3.resolution-61-mobile .section-title-45 {
  font-size: 12.3px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
}

.graph-pie.resolution-61-desktop.demo-gender .section-title-45 {
  left: 490px;
  top: 188px;
}

.graph-pie.chart-2.resolution-61-mobile .section-title-45 {
  font-size: 12.3px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
}

.graph-pie.chart-1.resolution-61-mobile .section-title-45 {
  font-size: 12.3px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
}

.graph-pie.demo-race.resolution-61-mobile .section-title-45 {
  font-size: 12.3px;
  left: 126px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
  top: 251px;
}

.graph-pie.example.resolution-61-mobile .section-title-45 {
  font-size: 12.3px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
}

.graph-pie.resolution-61-desktop .section-title-46 {
  font-family: var(--caption-desktop-bold-font-family);
  font-size: var(--caption-desktop-bold-font-size);
  font-style: var(--caption-desktop-bold-font-style);
  font-weight: var(--caption-desktop-bold-font-weight);
  left: 270px;
  letter-spacing: var(--caption-desktop-bold-letter-spacing);
  line-height: var(--caption-desktop-bold-line-height);
}

.graph-pie.resolution-61-mobile .section-title-46 {
  font-family: "Poppins", Helvetica;
  font-size: 12.3px;
  font-weight: 700;
  left: 146px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
}

.graph-pie.resolution-61-desktop .section-title-47 {
  font-family: var(--caption-desktop-bold-font-family);
  font-size: var(--caption-desktop-bold-font-size);
  font-style: var(--caption-desktop-bold-font-style);
  font-weight: var(--caption-desktop-bold-font-weight);
  left: 506px;
  letter-spacing: var(--caption-desktop-bold-letter-spacing);
  line-height: var(--caption-desktop-bold-line-height);
  top: 262px;
}

.graph-pie.resolution-61-mobile .section-title-47 {
  font-family: "Poppins", Helvetica;
  font-size: 12.3px;
  font-weight: 700;
  left: 273px;
  letter-spacing: 0.49px;
  line-height: 16.6px;
  top: 142px;
}
