.introduction-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.intro-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100%;
}

.text-block-intro {
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: start;
  flex: 1;
  padding: 24px 36px;
  padding-left: 6%;
  width: 100%;
}

.image-intro {
  background-image: url(../../../static/img/frame-19722-14.png);
  background-position: 50% 50%;
  background-size: cover;
  flex-grow: 1;
  height: 450px;
}

.signature-wrapper {
  margin-bottom: 10%;
  margin-top: 0 !important;
}

.row-5 {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 100%;
  margin-top: 60px;
  height: 425px;
}

.rectangle-27 {
  height: inherit;
  object-fit: cover;
  width: 100%;
}

.rectangle-mobile-img {
  display: none;
  background-image: url(../../../static/img/rectangle-251.png);
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  height: 450px;
}

.quote-2 {
  background-color: var(--blue) !important;
  width: auto !important;
  height: inherit !important;
  padding: 15% !important;
  display: flex;
  justify-content: center;
}

.signature-2 {
  height: 150px;
  width: 100%;
}

/* ------------------------------ MEDIA QUERIES ------------------------- */
@media (max-width: 1440px) {
  .row-5 {
    grid-template-columns: 70% 30%;
  }
}

@media (max-width: 1080px) {
  .intro-wrapper {
    display: flex;
    flex-direction: column;
  }

  .row-5 {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .rectangle-27 {
    display: none;
  }

  .rectangle-mobile-img {
    display: block;
  }

  .quote-2 {
    padding: 10% !important;
  }

  .quote-2 .section-title-68 {
    font-family: var(--pull-quote-tablet-font-family);
    font-size: var(--pull-quote-tablet-font-size);
    font-style: var(--pull-quote-tablet-font-style);
    font-weight: var(--pull-quote-tablet-font-weight);
    letter-spacing: var(--pull-quote-tablet-letter-spacing);
    line-height: var(--pull-quote-tablet-line-height)
  }
}

@media (max-width: 350px) {
  .text-block-intro .section-title {
    font-size: 40px;
  }

  .text-block-intro .subtitle-wrapper {
    font-size: 15px;
  }
}


/* ------------------------------ NO MODIFICATIONS FROM THIS POINT ------------------------- */

.introduction-container .class-46 {
  align-self: stretch !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 10 !important;
}

.introduction-container .header-4 {
  align-self: stretch !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 9 !important;
}

.introduction-container .title-section-13 {
  align-self: stretch !important;
  white-space: unset !important;
  width: unset !important;
}

.introduction-container .title-section-14 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 8 !important;
}

.introduction-container .class-47 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 9 !important;
}

.introduction-container .title-section-15 {
  align-self: stretch !important;
  text-align: unset !important;
  white-space: unset !important;
  width: unset !important;
}

.introduction-container .title-section-16 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: var(--green) !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 36px 24px !important;
  top: unset !important;
  width: 100% !important;
}

.introduction-container .opening-section-4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  flex: 0 0 auto;
  flex-direction: column;
  opacity: 0;
  padding: 90px 48px 50px 60px;
  position: relative;
  transform: translate(0, 25px);
  width: 100%;
  z-index: 8;
}

.introduction-container .AB-community-3 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h2-tablet-font-family);
  font-size: var(--h2-tablet-font-size);
  font-style: var(--h2-tablet-font-style);
  font-weight: var(--h2-tablet-font-weight);
  letter-spacing: var(--h2-tablet-letter-spacing);
  line-height: var(--h2-tablet-line-height);
  margin-top: -1px;
  position: relative;
}

.introduction-container .we-continued-to-work-4 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: "Poppins", Helvetica;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.92px;
  line-height: 23px;
  position: relative;
}

.introduction-container .text-wrapper-20 {
  font-family: var(--pull-quote-tablet-font-family);
  font-size: var(--pull-quote-tablet-font-size);
  font-style: var(--pull-quote-tablet-font-style);
  font-weight: var(--pull-quote-tablet-font-weight);
  letter-spacing: var(--pull-quote-tablet-letter-spacing);
  line-height: var(--pull-quote-tablet-line-height);
}

.introduction-container .text-wrapper-21 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.27px;
  line-height: 40.3px;
}

.introduction-container .opening-section-5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 7;
}

.introduction-container .opening-text-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.introduction-container .AB-community-4 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h2-mobile-font-family);
  font-size: var(--h2-mobile-font-size);
  font-style: var(--h2-mobile-font-style);
  font-weight: var(--h2-mobile-font-weight);
  letter-spacing: var(--h2-mobile-letter-spacing);
  line-height: var(--h2-mobile-line-height);
  margin-top: -1px;
  position: relative;
}

.introduction-container .we-continued-to-work-5 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: "Poppins", Helvetica;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 31.5px;
  position: relative;
}

.introduction-container .text-wrapper-22 {
  font-family: var(--pull-quote-mobile-font-family);
  font-size: var(--pull-quote-mobile-font-size);
  font-style: var(--pull-quote-mobile-font-style);
  font-weight: var(--pull-quote-mobile-font-weight);
  letter-spacing: var(--pull-quote-mobile-letter-spacing);
  line-height: var(--pull-quote-mobile-line-height);
}

.introduction-container .text-wrapper-23 {
  font-family: var(--pull-quote-mobile-bold-font-family);
  font-size: var(--pull-quote-mobile-bold-font-size);
  font-style: var(--pull-quote-mobile-bold-font-style);
  font-weight: var(--pull-quote-mobile-bold-font-weight);
  letter-spacing: var(--pull-quote-mobile-bold-letter-spacing);
  line-height: var(--pull-quote-mobile-bold-line-height);
}

.introduction-container .text-wrapper-25 {
  font-family: var(--body-text-tablet-font-family);
  font-size: var(--body-text-tablet-font-size);
  font-style: var(--body-text-tablet-font-style);
  font-weight: var(--body-text-tablet-font-weight);
  letter-spacing: var(--body-text-tablet-letter-spacing);
  line-height: var(--body-text-tablet-line-height);
}

.introduction-container .rectangle-26 {
  align-self: stretch;
  display: block;
  height: 350px;
  object-fit: cover;
  opacity: 0;
  position: relative;
  transform: scale(0.9);
  width: 100%;
  z-index: 6;
}

.introduction-container .quote-instance {
  align-self: stretch !important;
  background-color: var(--blue) !important;
  flex: 0 0 auto !important;
  height: unset !important;
  left: unset !important;
  padding: 40px 80px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 5 !important;
}

.introduction-container .topics-section-8 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 40px 60px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 4 !important;
}

/* .introduction-container .signature-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
} */

.introduction-container .signature {
  position: relative;
}

.introduction-container .the-grant-program-10 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 25.5px;
  margin-top: -1px;
  position: relative;
}

.introduction-container .text-wrapper-26 {
  font-family: var(--body-text-mobile-bold-font-family);
  font-size: var(--body-text-mobile-bold-font-size);
  font-style: var(--body-text-mobile-bold-font-style);
  font-weight: var(--body-text-mobile-bold-font-weight);
  letter-spacing: var(--body-text-mobile-bold-letter-spacing);
  line-height: var(--body-text-mobile-bold-line-height);
}

.introduction-container .text-wrapper-27 {
  font-family: var(--body-text-mobile-font-family);
  font-size: var(--body-text-mobile-font-size);
  font-style: var(--body-text-mobile-font-style);
  font-weight: var(--body-text-mobile-font-weight);
  letter-spacing: var(--body-text-mobile-letter-spacing);
  line-height: var(--body-text-mobile-line-height);
}

.introduction-container .topics-section-9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 60px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.introduction-container .topics-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 100%;
}

.introduction-container .footer-4 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 0 !important;
}

.introduction-container .title-section-17 {
  opacity: 0 !important;
  transform: scale(0.9) !important;
}

.introduction-container .title-section-18 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: var(--green) !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  padding: 24px 80px !important;
  top: unset !important;
}

.introduction-container .topics-section-11 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 40px 60px 40px 240px;
  position: relative;
  width: 100%;
  z-index: 4;
}

.introduction-container .topics-12 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.introduction-container .topics-13 {
  margin-top: -1px !important;
}

.introduction-container .frame-69 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 0px 460px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.introduction-container .topics-section-12 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 160px 240px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.introduction-container .footer-5 {
  align-self: stretch !important;
  gap: unset !important;
  justify-content: space-between !important;
  left: unset !important;
  padding: 0px 60px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 0 !important;
}

.introduction-container .footer-6 {
  margin-left: -168.5px !important;
}

.introduction-container .row-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 5;
}

.introduction-container .rectangle-28 {
  align-self: stretch;
  height: 350px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.introduction-container .quote-3 {
  align-self: stretch !important;
  background-color: var(--blue) !important;
  flex: 0 0 auto !important;
  height: unset !important;
  left: unset !important;
  padding: 40px !important;
  top: unset !important;
  width: 100% !important;
}

.introduction-container .topics-section-13 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 4 !important;
}

.introduction-container .signature-3 {
  height: 105px;
  margin-right: -555.96px;
  position: relative;
  width: 415.96px;
}

.introduction-container .topics-section-14 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 40px 24px;
  position: relative;
  width: 100%;
  z-index: 2;
}
