.INTRO-MOBILE-px {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.INTRO-MOBILE-px .class-46 {
  align-self: stretch !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 10 !important;
}

.INTRO-MOBILE-px .header-4 {
  align-self: stretch !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 9 !important;
}

.INTRO-MOBILE-px .title-section-13 {
  align-self: stretch !important;
  white-space: unset !important;
  width: unset !important;
}

.INTRO-MOBILE-px .title-section-14 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 8 !important;
}

.INTRO-MOBILE-px .class-47 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 9 !important;
}

.INTRO-MOBILE-px .title-section-15 {
  align-self: stretch !important;
  text-align: unset !important;
  white-space: unset !important;
  width: unset !important;
}

.INTRO-MOBILE-px .title-section-16 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: var(--green) !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 36px 24px !important;
  top: unset !important;
  width: 100% !important;
}

.INTRO-MOBILE-px .opening-section-4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  flex: 0 0 auto;
  flex-direction: column;
  opacity: 0;
  padding: 90px 48px 50px 60px;
  position: relative;
  transform: translate(0, 25px);
  width: 100%;
  z-index: 8;
}

.INTRO-MOBILE-px .frame-wrapper-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.INTRO-MOBILE-px .frame-68 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.INTRO-MOBILE-px .AB-community-3 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h2-tablet-font-family);
  font-size: var(--h2-tablet-font-size);
  font-style: var(--h2-tablet-font-style);
  font-weight: var(--h2-tablet-font-weight);
  letter-spacing: var(--h2-tablet-letter-spacing);
  line-height: var(--h2-tablet-line-height);
  margin-top: -1px;
  position: relative;
}

.INTRO-MOBILE-px .we-continued-to-work-4 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: "Poppins", Helvetica;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.92px;
  line-height: 23px;
  position: relative;
}

.INTRO-MOBILE-px .text-wrapper-20 {
  font-family: var(--pull-quote-tablet-font-family);
  font-size: var(--pull-quote-tablet-font-size);
  font-style: var(--pull-quote-tablet-font-style);
  font-weight: var(--pull-quote-tablet-font-weight);
  letter-spacing: var(--pull-quote-tablet-letter-spacing);
  line-height: var(--pull-quote-tablet-line-height);
}

.INTRO-MOBILE-px .text-wrapper-21 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.27px;
  line-height: 40.3px;
}

.INTRO-MOBILE-px .opening-section-5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 7;
}

.INTRO-MOBILE-px .opening-text-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.INTRO-MOBILE-px .AB-community-4 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h2-mobile-font-family);
  font-size: var(--h2-mobile-font-size);
  font-style: var(--h2-mobile-font-style);
  font-weight: var(--h2-mobile-font-weight);
  letter-spacing: var(--h2-mobile-letter-spacing);
  line-height: var(--h2-mobile-line-height);
  margin-top: -1px;
  position: relative;
}

.INTRO-MOBILE-px .we-continued-to-work-5 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: "Poppins", Helvetica;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 31.5px;
  position: relative;
}

.INTRO-MOBILE-px .text-wrapper-22 {
  font-family: var(--pull-quote-mobile-font-family);
  font-size: var(--pull-quote-mobile-font-size);
  font-style: var(--pull-quote-mobile-font-style);
  font-weight: var(--pull-quote-mobile-font-weight);
  letter-spacing: var(--pull-quote-mobile-letter-spacing);
  line-height: var(--pull-quote-mobile-line-height);
}

.INTRO-MOBILE-px .text-wrapper-23 {
  font-family: var(--pull-quote-mobile-bold-font-family);
  font-size: var(--pull-quote-mobile-bold-font-size);
  font-style: var(--pull-quote-mobile-bold-font-style);
  font-weight: var(--pull-quote-mobile-bold-font-weight);
  letter-spacing: var(--pull-quote-mobile-bold-letter-spacing);
  line-height: var(--pull-quote-mobile-bold-line-height);
}

.INTRO-MOBILE-px .the-grant-program-9 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 35.7px;
  margin-top: -1px;
  position: relative;
}

.INTRO-MOBILE-px .text-wrapper-24 {
  font-family: var(--body-text-desktop-bold-font-family);
  font-size: var(--body-text-desktop-bold-font-size);
  font-style: var(--body-text-desktop-bold-font-style);
  font-weight: var(--body-text-desktop-bold-font-weight);
  letter-spacing: var(--body-text-desktop-bold-letter-spacing);
  line-height: var(--body-text-desktop-bold-line-height);
}

.INTRO-MOBILE-px .text-wrapper-25 {
  font-family: var(--body-text-tablet-font-family);
  font-size: var(--body-text-tablet-font-size);
  font-style: var(--body-text-tablet-font-style);
  font-weight: var(--body-text-tablet-font-weight);
  letter-spacing: var(--body-text-tablet-letter-spacing);
  line-height: var(--body-text-tablet-line-height);
}

.INTRO-MOBILE-px .rectangle-26 {
  align-self: stretch;
  display: block;
  height: 350px;
  object-fit: cover;
  opacity: 0;
  position: relative;
  transform: scale(0.9);
  width: 100%;
  z-index: 6;
}

.INTRO-MOBILE-px .quote-instance {
  align-self: stretch !important;
  background-color: var(--blue) !important;
  flex: 0 0 auto !important;
  height: unset !important;
  left: unset !important;
  padding: 40px 80px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 5 !important;
}

.INTRO-MOBILE-px .topics-section-8 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 40px 60px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 4 !important;
}

.INTRO-MOBILE-px .signature-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.INTRO-MOBILE-px .signature {
  position: relative;
}

.INTRO-MOBILE-px .the-grant-program-10 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 25.5px;
  margin-top: -1px;
  position: relative;
}

.INTRO-MOBILE-px .text-wrapper-26 {
  font-family: var(--body-text-mobile-bold-font-family);
  font-size: var(--body-text-mobile-bold-font-size);
  font-style: var(--body-text-mobile-bold-font-style);
  font-weight: var(--body-text-mobile-bold-font-weight);
  letter-spacing: var(--body-text-mobile-bold-letter-spacing);
  line-height: var(--body-text-mobile-bold-line-height);
}

.INTRO-MOBILE-px .text-wrapper-27 {
  font-family: var(--body-text-mobile-font-family);
  font-size: var(--body-text-mobile-font-size);
  font-style: var(--body-text-mobile-font-style);
  font-weight: var(--body-text-mobile-font-weight);
  letter-spacing: var(--body-text-mobile-letter-spacing);
  line-height: var(--body-text-mobile-line-height);
}

.INTRO-MOBILE-px .topics-section-9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 60px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.INTRO-MOBILE-px .topics-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 100%;
}

.INTRO-MOBILE-px .internal-menu-2 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 1 !important;
}

.INTRO-MOBILE-px .footer-4 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 0 !important;
}

.INTRO-MOBILE-px .title-section-17 {
  opacity: 0 !important;
  transform: scale(0.9) !important;
}

.INTRO-MOBILE-px .title-section-18 {
  align-items: flex-start !important;
  align-self: stretch !important;
  background-color: var(--green) !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  padding: 24px 80px !important;
  top: unset !important;
}

.INTRO-MOBILE-px .opening-section-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  flex: 0 0 auto;
  flex-direction: column;
  opacity: 0;
  padding: 160px 0px 80px 100px;
  position: relative;
  transform: translate(0, 25px);
  width: 100%;
  z-index: 7;
}

.INTRO-MOBILE-px .opening-text-4 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 855px;
}

.INTRO-MOBILE-px .AB-community-5 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
  margin-top: -1px;
  position: relative;
}

.INTRO-MOBILE-px .we-continued-to-work-6 {
  align-self: stretch;
  color: var(--dark-blue);
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.04px;
  line-height: 26px;
  position: relative;
}

.INTRO-MOBILE-px .text-wrapper-28 {
  font-family: var(--pull-quote-desktop-font-family);
  font-size: var(--pull-quote-desktop-font-size);
  font-style: var(--pull-quote-desktop-font-style);
  font-weight: var(--pull-quote-desktop-font-weight);
  letter-spacing: var(--pull-quote-desktop-letter-spacing);
  line-height: var(--pull-quote-desktop-line-height);
}

.INTRO-MOBILE-px .text-wrapper-29 {
  font-weight: 700;
  letter-spacing: 0.27px;
  line-height: 40.3px;
}

.INTRO-MOBILE-px .topics-section-10 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 60px 60px 240px;
  position: relative;
  width: 100%;
  z-index: 6;
}

.INTRO-MOBILE-px .text-wrapper-30 {
  font-family: var(--body-text-desktop-font-family);
  font-size: var(--body-text-desktop-font-size);
  font-style: var(--body-text-desktop-font-style);
  font-weight: var(--body-text-desktop-font-weight);
  letter-spacing: var(--body-text-desktop-letter-spacing);
  line-height: var(--body-text-desktop-line-height);
}

.INTRO-MOBILE-px .row-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  z-index: 5;
}

.INTRO-MOBILE-px .rectangle-27 {
  align-self: stretch;
  display: block;
  flex: 1;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0;
  position: relative;
  transform: scale(0.9);
}

.INTRO-MOBILE-px .quote-2 {
  background-color: var(--blue) !important;
  left: unset !important;
  top: unset !important;
}

.INTRO-MOBILE-px .topics-section-11 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 40px 60px 40px 240px;
  position: relative;
  width: 100%;
  z-index: 4;
}

.INTRO-MOBILE-px .topics-12 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.INTRO-MOBILE-px .topics-13 {
  margin-top: -1px !important;
}

.INTRO-MOBILE-px .frame-69 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 0px 460px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.INTRO-MOBILE-px .signature-2 {
  height: 105px;
  position: relative;
  width: 415.96px;
}

.INTRO-MOBILE-px .topics-section-12 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 160px 240px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.INTRO-MOBILE-px .footer-5 {
  align-self: stretch !important;
  gap: unset !important;
  justify-content: space-between !important;
  left: unset !important;
  padding: 0px 60px !important;
  top: unset !important;
  width: 100% !important;
  z-index: 0 !important;
}

.INTRO-MOBILE-px .footer-6 {
  margin-left: -168.5px !important;
}

.INTRO-MOBILE-px .row-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 5;
}

.INTRO-MOBILE-px .rectangle-28 {
  align-self: stretch;
  height: 350px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.INTRO-MOBILE-px .quote-3 {
  align-self: stretch !important;
  background-color: var(--blue) !important;
  flex: 0 0 auto !important;
  height: unset !important;
  left: unset !important;
  padding: 40px !important;
  top: unset !important;
  width: 100% !important;
}

.INTRO-MOBILE-px .topics-section-13 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  z-index: 4 !important;
}

.INTRO-MOBILE-px .signature-3 {
  height: 105px;
  margin-right: -555.96px;
  position: relative;
  width: 415.96px;
}

.INTRO-MOBILE-px .topics-section-14 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 40px 24px;
  position: relative;
  width: 100%;
  z-index: 2;
}
